<div class="item-list">
    <table class="units-valid-table">
        <thead>
        <tr>
            <th style="width: 6%;text-align: left">№ п/п</th>
            <th width="23%">Название подразделения</th>
            <th width="30%" style="padding-left: 10px;">Вышестоящее подразделение</th>
            <th width="20%">Инспекторы и менеджеры</th>
            <th style="width: 15%;text-align: left"></th>
        </tr>
        </thead>
        <tr unitsValidTableRow *ngFor="let item of unitsTree; let i = index;"
            [unit]="item"
            [index]="(pagination.number-1)*pagination.size+i+1"
            [level]="0"
            [show]="true"
            [unitLinks]="unitLinks"
            (delUnit)="deleteUnit($event)"
            (addUnit)="addUnitPush($event)"
            (editUnit)="editUnitPush($event)"></tr>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tfoot>
    </table>
    <div class="count-units">
    </div>
</div>