<div class="container-fluid main">
    <div class="row header">
        <div class="col-lg-24 col-md-24 col-sm-24 logo-container">
            <div class="logo">
                <!--<span>RISK GUARD</span>-->
            </div>
        </div>
    </div>
    <div class="form" style="width: 350px !important;">
        <div class="form_header" style="height: 35px;">
            <span class="error-icon"></span>
            <span style="float: left; line-height: 32px; color: #de5054; padding-left: 16px; font-weight: 100 !important;">Произошла ошибка</span>
        </div>
        <div class="form_description">
            <span>
                Ошибка: 404. <b>Данная страница не существует.</b>
                Пожалуйста, обратитесь в службу поддержки, если возникли вопросы с работой системы.
            </span>
        </div>
        <div class="form_content">
            <div class="buttons">
                <button style="width: 120px !important; float: none; !important;" class="right_button" routerLink="/">На главную</button>
            </div>
        </div>
    </div>
    <div class="bottom">
        <p><span>&copy; ООО «Уайт Софт»</span></p>
        <div class="people"></div>
    </div>
</div>