<div class="col-lg-13 col-lg-offset-1 col-md-16 col-md-offset-1 col-sm-23 col-sm-offset-1">
    <div class="content-header">Отчет по сотруднику</div>
    <div class="content-description">
        Страница позволяет просмотреть отчет по выбранному сотруднику.
    </div>
    <div class="col-lg-16 col-md-16 col-sm-16 report-header" style="padding: 0">
        <span>Общие данные сотрудника</span>
    </div>
    <div></div>
    <div class="col-lg-24 col-md-24 col-sm-24 item-info" style="padding: 0" *ngIf="reportEntity">
        <div class="user-fio">
            <span>ФИО:&nbsp;</span>
            <span class="value">{{reportEntity.fullName}}</span>
        </div>
        <div class="user-email">
            <span>Email:&nbsp;</span>
            <span class="value">{{reportEntity.email}}</span>
        </div>
        <div class="user-position">
            <span>Должность:&nbsp;</span>
            <span class="value">{{reportEntity.position}}</span>
        </div>
        <div class="task-departments">
            <span>Организация:&nbsp;</span>
            <!--<a *ngFor="let unit of task.units; let i = index;">{{unit.name}}</a>-->
            <a routerLink="/reports/units/{{reportEntity.unit.id}}">{{reportEntity.unit.name}}</a>
        </div>
        <div class="task-tags">
            <span>Теги:&nbsp;</span>
            <template ngFor let-tag [ngForOf]="reportEntity.employeeTags">
                <a routerLink="/employee-tags/{{tag.id}}">{{tag.name}}</a>
            </template>
        </div>
        <div class="testing-count">
            <span>Общее кол-во тестирований:&nbsp;</span>
            <span class="value">{{reportEntity.result.totalCount}}</span>
        </div>
        <div style="padding-left: 40px; margin-top: -25px;">
            <span style="color: #d94b44;"><b>{{reportEntity.result.badCount}}</b> неуспешных</span> /
            <span style="color: #53cf9c;"><b>{{reportEntity.result.goodCount}}</b> успешных</span>
        </div>
    </div>
</div>
<div class="col-lg-10 col-md-7 hidden-sm hidden-xs">
    <div class="report-image"></div>
</div>
<div class="col-lg-24 col-md-24 col-sm-24 report-employee-diagram" *ngIf="reportEntity">
    <div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1">
        <div class="header">
            <span>Результаты тестирований</span>
        </div>
        <div class="diagram-filter row" style="width: 100%; margin-bottom: 30px; font-size: 18px;">
            <div class="col-lg-9 col-md-9 col-sm-9" style="padding-top: 10px;">
                <span class="icon-calendar" style="font-size: 25px !important; display: block;float: left;"></span>
                <span style="padding-left: 10px; display: block;float: left;">Показать тестирования с начала:</span>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
                <p-calendar [(ngModel)]="selectedDateFirst" [styleClass]="'withoutTime'" [showTime]="false" [locale]="datePicker.ru" dateFormat="d.mm.yy"></p-calendar>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2" style="text-align: center;">по</div>
            <div class="col-lg-5 col-md-5 col-sm-5">
                <p-calendar [(ngModel)]="selectedDateSecond" [styleClass]="'withoutTime'" [showTime]="false" [locale]="datePicker.ru" dateFormat="d.mm.yy"></p-calendar>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <button class="main-button" style="border: none; background: rgba(64, 141, 219, 1); color: #fff; font-size: 14px;" (click)="rebuildDiagram()">Показать
                </button>
            </div>
        </div>
        <div class="report-employee-diagram-content" style="width: 100%;">
            <canvas id="employeeTasksResultDiagram" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [legend]="false" [colors]="barColors" [chartType]="'bar'"></canvas>
        </div>
        <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
            <div class="employees-count" style="margin-top: 30px !important; font-weight: 600;">
                <div class="tested-employees green">Не перешел по ссылке</div>
                <div class="vulnerable-employees red">Перешел по ссылке</div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 45px;">
            <span class="info" style="display: block; float: left; margin-right: 10px;"></span>
            <span style="display: block;">Примечание: данная диаграмма показывает поведение сотрудника в определенном тестировании</span>
        </div>
    </div>
</div>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1">
    <div class="report-header">
        <span>
            Результаты по каждому тестированию
        </span>
    </div>
    <div class="content-description">
        Вы можете отфильтровать таблицу результатов с помощью шаблона письма и периода.
    </div>
</div>

<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 table-filter">
    <div class="unit-name col-sm-15" [class.adv-show]="true" [class.col-sm-12]="showAdvFilter">
        <span class="icon-list"></span>
        <input type="text" class="main-input" placeholder="Название задачи" [(ngModel)]="filteredTaskName">
    </div>
    <div class="unit-name col-sm-12" [class.adv-show]="showAdvFilter" *ngIf="showAdvFilter">
        <span class="icon-list"></span>
        <input type="text" class="main-input" placeholder="Фамилия создателя задачи" [(ngModel)]="filteredAuthorFIO">
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <div class="col-sm-8" style="padding-top: 10px; padding-left: 0px;">
            <span class="icon-calendar" style="font-size: 25px !important; display: block;float: left;"></span>
            <span style="padding-left: 10px; display: block;float: left; font-size: 18px;">Искать с:</span>
        </div>
        <div class="col-sm-7 calendar-without-icon">
            <p-calendar [(ngModel)]="tableSelectedDateFirst" [styleClass]="'withoutTime'" [showTime]="false" [locale]="datePicker.ru"
                dateFormat="d.mm.yy"></p-calendar>
        </div>
        <div class="col-sm-2" style="text-align: center; font-size: 18px; line-height: 36px;">по</div>
        <div class="col-sm-7 calendar-without-icon" style="padding-right: 0px;">
            <p-calendar [(ngModel)]="tableSelectedDateSecond" [styleClass]="'withoutTime'" [showTime]="false" [locale]="datePicker.ru"
                dateFormat="d.mm.yy"></p-calendar>
        </div>
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <span style="z-index: 100; color: #000;" class="icon-mail-5"></span>
        <ng-select #statusSelector [allowClear]="true" [items]="templatesItems" [disabled]="false" (data)="refreshTemplateValue($event)"
            placeholder="Выберите шаблон email письма">
        </ng-select>
    </div>
    <div style="clear: both" *ngIf="showAdvFilter"></div>
    <div class="search-buttons col-sm-9" [class.search-left-align]="showAdvFilter">
        <div class="search-button" [class.search-left-align]="showAdvFilter">
            <button class="main-button" (click)="applyFilter()">Найти</button>
        </div>
        <div class="adv-search">
            <span (click)="toggleShowFilter()" *ngIf="!showAdvFilter">расширенный поиск</span>
            <span (click)="toggleShowFilter()" *ngIf="showAdvFilter">стандартный поиск</span>
        </div>
    </div>
</div>

<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 item-list" style="margin-bottom: 40px;"
    *ngIf="employeeReportTasks">
    <table>
        <tr>
            <th width="5%" style="text-align: center">№</th>
            <th width="30%">Задача и создатель</th>
            <th width="20%">Даты проведения</th>
            <th width="20%">Шаблон письма</th>
            <th style="text-align: left;">Результат тестирования</th>
        </tr>
        <tr *ngFor="let entity of employeeReportTasks; let i = index">
            <td>{{i + 1 + (pagination.number-1)*pagination.size}}.</td>
            <td>
                <a *ngIf="user.hasAccess(entity, 'READ')" routerLink="/reports/tasks/{{entity.id}}">{{entity.name}}</a>
                <a class="disable" *ngIf="!user.hasAccess(entity, 'READ')">{{entity.name}}</a>
                <br>
                <span>{{entity.shortName}}</span>
            </td>
            <td>{{entity.startDate | date: 'dd.MM.yy'}} - {{entity.endDate | date: 'dd.MM.yy'}}</td>
            <td>
                <a style="cursor: pointer;" (click)="templatePreviewLoad(entity.template.id)">{{entity.template.name}}</a>
            </td>
            <td class="result" style="padding-bottom: 20px; text-align: left; padding-top: 20px;">
                <span>
                    <a class="fail" *ngIf="entity.result == 'FAIL'">
                            <span class="error-icon"></span>
                            <span class="error-text">Не прошел тестирование</span>
                            <span class="result-info">
                                    <table>
                                        <tr>
                                            <th>Дата и время</th>
                                            <th>IP адрес</th>
                                            <th>ОС</th>
                                            <th>Браузер</th>
                                        </tr>
                                        <tr *ngFor="let info of entity.addInfo">
                                            <td>{{info.transitionDate | date: 'dd.MM.yyyy HH:mm' }}</td>
                                            <td>{{info.ipAddress}}</td>
                                            <td>{{info.os}}</td>
                                            <td>{{info.browser}}</td>
                                        </tr>
                                    </table>

                                </span>
                </a>
                <a class="success" *ngIf="entity.result == 'SUCCESS'">
                                <span class="ok-icon"></span>
                                Прошел тестирование</a>
                </span>
            </td>
        </tr>
    </table>
</div>
<pagination (change)="changePagination($event)" [params]="pagination" *ngIf="pagination.totalPages > 1 && reportEntity"></pagination>
<div style="margin-bottom: 190px;" class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1"></div>

<modal modalClass="mailTemplateShowModal" #mailTemplateShowModal>
    <modal-header>
        <h3>{{templateName}}</h3>
        <hr>
    </modal-header>
    <modal-content>
        <iframe [srcdoc]="templateHtml | safeHtml" class="mail-template-content"></iframe>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>