<div class="item-list">
    <table class="units-error-table">
        <thead>
            <tr>
                <th width="10%" style="text-align: center">№ п/п</th>
                <th width="25%">Название подразделения</th>
                <th width="30%" style="padding-left: 10px;">Вышестоящее подразделение</th>
                <th width="20%">Инспекторы и менеджеры</th>
                <th style="text-align: center;">Функционал</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let unit of invalidUnits" [ngClass]="{'correct-unit': unit['errors'].length == 0, 'not-valid-unit': unit['errors'].length > 0}">
                <td></td>
                <td>
                    <span class="table-content">{{unit.name}}</span>
                    <span class="error" *ngIf="findError('EMPTY_NAME', unit)">Ошибка: нет названия</span>
                    <span class="error" *ngIf="findError('UNIT_EXISTS', unit)">Ошибка: организация уже есть</span>
                </td>
                <td>
                    <span class="table-content" *ngIf="unit['parent'].length != 0">
                        {{unit['parent'][0]['name']}}
                    </span>

                    <span class="table-content" *ngIf="unit['parent'] == null && !findError('PARENT_UNIT_NOT_EXISTS', unit)">
                        -
                    </span>

                    <span class="error" *ngIf="findError('PARENT_UNIT_NOT_EXISTS', unit)">Ошибка: такой организации нет</span>
                </td>
                <td>
                    <span class="table-content user" *ngFor="let manager of unit['managers']">
                        {{manager['name']}}
                    </span>
                    <span class="table-content user" *ngFor="let officer of unit['officers']">
                        {{officer['name']}}
                    </span>
                    <span class="table-content" *ngIf="unit['managers'].length == 0 && unit['officers'].length == 0">
                        -
                    </span>
                </td>
                <td style="text-align: center">
                    <button class="edit-unit" (click)="editUnit.emit(unit)"></button>
                    <button class="delete-unit" (click)="delUnit.emit(unit)"></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    <div class="count-units">
    </div>
</div>

<modal #editUnitModal modalClass="edit-unit-modal" [closeOnOutsideClick]="false">
    <modal-header>
        <h3>Редактирование подразделения</h3>
    </modal-header>
    <modal-content>
        <hr>
        <div class="modal-input">
            <span class="modal-label">Наименование подразделения</span>
            <div class="icon">
                <span class="icon-house"></span>
            </div>
            <div class="input">
                <input type="text" class="main-input" [(ngModel)]="modalUnitName">
            </div>
        </div>
        <div class="modal-input">
            <span class="modal-label">Вышестоящее подразделение</span>
            <div class="icon">
                <span class="icon-house"></span>
            </div>
            <div class="input">
                <units-tree-selector #unitParentSelector [startValue]="modalUnitParent" [singleSelect]="true" [iconClass]="''" (change)="parentSelectorChange($event)" [placeHolderText]="''" [inputUnitsArray]="unitsTree" [type]="'unit'"></units-tree-selector>
            </div>
        </div>
        <div class="modal-input">
            <span class="modal-label">Список инспекторов ИБ</span>
            <div class="icon">
                <span class="icon-engineer"></span>
            </div>
            <div class="input">
                <tree-selector [iconClass]="''" [startValue]="modalUnitOfficers" (change)="officersSelectorChange($event)" [placeHolderText]="''" [inputUnitsArray]="officers" [type]="'unit'"></tree-selector>
            </div>
        </div>
        <div class="head-officers">
            <div class="list-label">Вышестоящие инспекторы <span class="arrow" [ngClass]="{'open': modalOfficersShow}" (click)="toggleModalOfficersShow()"></span></div>
            <div class="officers-list" *ngIf="modalOfficersShow">
                <div class="officer" *ngFor="let item of [{}, {}, {}, {}]">
                    <div class="index">1.</div>
                    <div class="officer-info">
                        <div class="officer-fio">Петров Иван Иванович</div>
                        <div class="officer-path">Органы власти хабаровского края - Исполнительные органы исполнительной власти Хабаровского края - Правительство Хабаровского края</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-input">
            <span class="modal-label">Список менеджеров ИБ</span>
            <div class="icon">
                <span class="icon-support"></span>
            </div>
            <div class="input">
                <tree-selector [startValue]="modalUnitManagers" [iconClass]="''" (change)="managersSelectorChange($event)" [placeHolderText]="''" [inputUnitsArray]="managers" [type]="'unit'"></tree-selector>
            </div>
        </div>
        <div class="head-officers">
            <div class="list-label">Вышестоящие менеджеры <span class="arrow" [ngClass]="{'open': modalManagersShow}" (click)="toggleModalManagersShow()"></span></div>
            <div class="officers-list" *ngIf="modalManagersShow">
                <div class="officer" *ngFor="let item of [{}, {}, {}, {}]">
                    <div class="index">1.</div>
                    <div class="officer-info">
                        <div class="officer-fio">Петров Иван Иванович</div>
                        <div class="officer-path">Органы власти хабаровского края - Исполнительные органы исполнительной власти Хабаровского края - Правительство Хабаровского края</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="buttons">
            <button (click)="saveUnit()" class="main-button save">Сохранить</button>
            <button (click)="countErrorsModal.close()" class="main-button">Отмена</button>
        </div>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>