<div class="col-lg-13 col-lg-offset-1 col-md-16 col-md-offset-1 col-sm-23 col-sm-offset-1">
    <div class="content-header">Отчет по тестированию</div>
    <div class="content-description">
        Страница позволяет просмотреть отчет по выбранному тестированию.
    </div>
    <div class="col-lg-16 col-md-16 col-sm-16 report-header" style="padding: 0; float: none;" *ngIf="reportEntity">
        <span>Общие данные тестирования</span>
    </div>
    <div class="item-info" *ngIf="reportEntity">
        <div class="task-name">
            <span>Название:&nbsp;</span>
            <span class="value">{{reportEntity.name}}</span>
        </div>
        <div class="creator">
            <span>Создатель:&nbsp;</span>
            <span class="value">{{reportEntity.shortName}}</span>
        </div>
        <div class="status">
            <span>Статус:&nbsp;</span>
            <span class="value">{{statusToString(reportEntity.status)}}</span>
        </div>
        <div class="creation-date">
            <span>Даты проведения:&nbsp;</span>
            <span class="value">{{reportEntity.startDate | date: 'dd.MM.yyyy'}} - {{reportEntity.endDate | date: 'dd.MM.yyyy'}}</span>
        </div>
        <div class="task-departments">
            <span>Организация:&nbsp;</span>
            <template ngFor let-unit [ngForOf]="reportEntity.units">
                <a routerLink="/reports/units/{{unit.id}}" *ngIf="user.hasAccess(unit, 'READ')">{{unit.name}}</a>
                <a class="disable" *ngIf="!user.hasAccess(unit, 'READ')">{{unit.name}}</a>
            </template>
        </div>
        <div class="task-tags" style="display: table;">
            <span>Теги:&nbsp;</span>
            <a *ngFor="let tag of reportEntity['employeeTags']; let i = index;" routerLink="/employee-tags/{{tag.id}}">{{tag.name}}</a>
        </div>
        <div class="email-template">
            <span>Шаблон:&nbsp;</span>
            <span class="value"><a (click)="templatePreviewLoad(reportEntity.template.id)">{{reportEntity.template.name}}</a></span>
        </div>
    </div>
</div>
<div class="col-lg-10 col-md-7 hidden-sm hidden-xs">
    <div class="report-image"></div>
</div>
<div class="col-lg-24 col-md-24 col-sm-24 report-task-diagram" *ngIf="reportEntity">
    <div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1">
        <div class="header">
            <span>Результаты тестирования</span>
        </div>
        <div class="report-task-diagram-content">
            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-8" style="padding: 0px;" style="min-width: 300px;">
                <div class="value-with-label">
                    <span class="icon-notepad-10"></span>
                    <span class="value">Конечный результат:&nbsp;<b>{{reportEntity.taskResult.badPercent}}%</b></span>
                </div>
                <div class="value-with-label">
                    <span class="icon-group"></span>
                    <span class="value">Количество тестируемых:&nbsp;<b>{{reportEntity.taskResult.totalCount}}</b></span>
                </div>
                <div class="employees-count">
                    <div class="tested-employees green">Количество компетентных: <b>{{reportEntity.taskResult.goodCount  }}</b></div>
                    <div class="vulnerable-employees red">Количество уязвимых: <b>{{reportEntity.taskResult.badCount }}</b></div>
                </div>
                <div class="buttons" style="margin-top: 40px !important;">
                    <button style="background: #179afc !important; border-color: #179afc !important;" (click)="getReportFile()" *ngIf="reportEntity.status == 'COMPLETED'">Создать документ
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-8" style="padding-bottom: 50px;
                padding-right: 50px;">
                <canvas baseChart [datasets]="pieChartData" [colors]="pieColors" [chartType]="'pie'" [options]="pieOptions" [legend]="false"></canvas>
            </div>
            <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-8">
                <!--<div class="value-with-label">-->
                <!--<span class="icon-notepad-18"></span>-->
                <!--<span class="value">Число переходов по отделам:&nbsp;</span>-->
                <!--</div>-->
                <!--<span class="diagram-link"><a href="">Отдел кадров</a> (5)</span>-->
                <!--<span class="diagram-link"><a href="">Отдел кадров</a> (5)</span>-->
            </div>
        </div>
        <div class="button">

        </div>
    </div>
</div>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1" *ngIf="reportEmployees">
    <div class="report-header">
        <span>
            Результаты тестирования по каждому сотруднику
        </span>
    </div>
    <div class="content-description">
        Вы можете отфильтровать таблицу результатов с помощью организаций и тегов.
    </div>
</div>

<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 table-filter" *ngIf="reportEmployees">
    <div class="unit-name col-sm-15" [class.adv-show]="true" [class.col-sm-12]="showAdvFilter">
        <span class="icon-engineer"></span>
        <input type="text" class="main-input" placeholder="ФИО сотрудника" [(ngModel)]="filteredFullName">
    </div>
    <div class="unit-name col-sm-12" [class.adv-show]="showAdvFilter" *ngIf="showAdvFilter">
        <span class="icon-mail2"></span>
        <input type="text" class="main-input" placeholder="Почта (email)" [(ngModel)]="filteredEmail">
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <units-tree-selector #orgSelector *ngIf="unitsTree" [singleSelect]="true" [iconClass]="'house'" (change)="orgSelectorChange($event)"
            [placeHolderText]="'Организация (структурное подразделение)'" [inputUnitsArray]="unitsTree"></units-tree-selector>
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <tree-selector #tagSelector *ngIf="tagsTree" [iconClass]="'tag-star'" (change)="tagSelectorChange($event)" [placeHolderText]="'Теги сотрудников'"
            [inputUnitsArray]="tagsTree" [type]="'tag'"></tree-selector>
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <span style="z-index: 100;" class="icon-light-bulb"></span>
        <ng-select #statusSelector [allowClear]="true" [items]="resultItems" [disabled]="false" (data)="refreshFilterResultValue($event)"
            placeholder="Результат">
        </ng-select>
    </div>
    <div class="search-buttons col-sm-9">
        <div class="search-button" [class.search-left-align]="showAdvFilter">
            <button class="main-button" (click)="applyFilter()">Найти</button>
        </div>
        <div class="adv-search">
            <span (click)="toggleShowFilter()" *ngIf="!showAdvFilter">расширенный поиск</span>
            <span (click)="toggleShowFilter()" *ngIf="showAdvFilter">стандартный поиск</span>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 item-list" *ngIf="reportEmployees">
    <table>
        <tr>
            <th width="5%" style="text-align: center">№</th>
            <th width="20%">Фамилия и инициалы</th>
            <th width="20%">Email сотрудника</th>
            <th width="40%">Теги сотрудников и их организации</th>
            <th style="text-align: center">Результат</th>
        </tr>
        <tr [class.deleted]="entity.result === 'FAIL'" *ngFor="let entity of reportEmployees; let i = index;">
            <td>{{i + 1 + (pagination.number-1)*pagination.size}}.</td>
            <td>
                <a routerLink="/reports/employees/{{entity.id}}" *ngIf="user.hasAccess(entity, 'READ')">{{entity.shortName}}</a>
                <a class="disable" *ngIf="!user.hasAccess(entity, 'READ')">{{entity.shortName}}</a>
            </td>
            <td>{{entity.email}}</td>
            <td>
                <span class="bold-text">Теги:
                        <a *ngFor="let tag of entity.employeeTags" routerLink="/employee-tags/{{tag.id}}">{{tag.name}}</a>
                    </span>
                <br>
                <span class="bold-text">Организации:
                        <a routerLink="/reports/units/{{entity.unit.id}}">{{entity.unit.name}}</a>
                    </span>
            </td>
            <td class="result" style="white-space: nowrap;">
                <span>
                            <a class="fail" *ngIf="entity.result == 'FAIL'">
                            <span class="error-icon"></span>
                            <span class="error-text">Перешел</span>
                <span class="result-info">
                                    <table>
                                        <tr>
                                            <th>Дата и время</th>
                                            <th>IP адрес</th>
                                            <th>ОС</th>
                                            <th>Браузер</th>
                                        </tr>
                                        <tr *ngFor="let info of entity.addInfo">
                                            <td>{{info.transitionDate | date: 'dd.MM.yyyy HH:mm' }}</td>
                                            <td>{{info.ipAddress}}</td>
                                            <td>{{info.os}}</td>
                                            <td>{{info.browser}}</td>
                                        </tr>
                                    </table>
                                </span>
                </a>
                <a class="success" *ngIf="entity.result == 'SUCCESS'">
                                <span class="ok-icon"></span>
                                Не перешел</a>
                </span>
            </td>
        </tr>
    </table>
</div>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 legend" *ngIf="reportEmployees">
    <span>Цветовые обозначения пользователей:</span>
    <span class="legend-value deleted">Перешел</span>
    <span class="legend-value">Не перешел</span>
</div>
<pagination (change)="changePagination($event)" [params]="pagination" *ngIf="pagination.totalElements > 10 && reportEmployees"></pagination>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1" style="margin-bottom: 190px;"></div>

<modal modalClass="mailTemplateShowModal" #mailTemplateShowModal>
    <modal-header>
        <h3>{{templateName}}</h3>
        <hr>
    </modal-header>
    <modal-content>
        <iframe [srcdoc]="templateHtml | safeHtml" class="mail-template-content"></iframe>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>