<div class="col-lg-13 col-lg-offset-1 col-md-16 col-md-offset-1 col-sm-23 col-sm-offset-1" style="margin-bottom: 650px">
    <div class="content-header">Настройка системы</div>
    <div class="content-description">
        Страница отображает настройки необходинмые для регистрации переходов. Корректно заполните все поля для успешной работы системы.
    </div>
    <!--<div class="item-info">-->
        <!--<div class="connect-status">-->
            <!--<span>Статус подключения:&nbsp;</span>-->
            <!--<span class="value" style="color: #db4b40;" *ngIf="!loading && !connectionStatus">не установлено</span>-->
            <!--<span class="value" style="color: #40dba2;" *ngIf="!loading && connectionStatus">установлено</span>-->
            <!--<span class="value" *ngIf="loading" style="color: rgba(255, 220, 0, 1);">проверка соединения</span>-->
            <!--<span class="value" *ngIf="loading" style="padding-top: 5px;">-->
                <!--<div class="ball-clip-rotate" style="position: relative; margin-left: 10px;"><div></div></div>-->
            <!--</span>-->
        <!--</div>-->
    <!--</div>-->
    <div class="content-description">
    </div>
    <div class="item-info-form" style="margin-bottom: 0px" *ngIf="DBConnectionSettings && transitionSettings">
        <!--<div class="form-content">-->
            <!--<div class="server-address" [class.error]="addressError || (formError && (DBConnectionSettings.host == '' || DBConnectionSettings.port == ''))">-->
                <!--<div id="second-name">-->
                    <!--<span class="icon-direction-signs"></span>-->
                    <!--<input type="text" placeholder="Адрес сервера" [(ngModel)]="DBConnectionSettings.host" (keyup)="checkAddress()">-->
                <!--</div>-->
                <!--<div class="non-icon">-->
                    <!--<input type="text" placeholder="Порт" [(ngModel)]="DBConnectionSettings.port" (keyup)="checkAddress()">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-content">-->
            <!--<div [class.error]="addressError && DBConnectionSettings.database">-->
                <!--<div>-->
                    <!--<span class="icon-set-square"></span>-->
                    <!--<input type="text" placeholder="Имя базы данных" [(ngModel)]="DBConnectionSettings.database">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-content">-->
            <!--<div>-->
                <!--<div>-->
                    <!--<span class="icon-sign-in"></span>-->
                    <!--<input type="text" placeholder="Логин от сервера базы данных" [(ngModel)]="DBConnectionSettings.username">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-content">-->
            <!--<div>-->
                <!--<div>-->
                    <!--<span class="icon-key"></span>-->
                    <!--<input type="password" placeholder="Пароль к серверу базы данных" [(ngModel)]="DBConnectionSettings.password">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="buttons" style="margin-top: 0px; margin-bottom: 80px;">-->
            <!--<button class="left_button" (click)="saveDBConnectionSettings()" style="width: 155px;">Сохранить</button>-->
            <!--<button class="right_button" style="width: 155px; color: #40dba2; background: #fff; border: 1px solid #40dba2;" (click)="checkConnection()">Проверить</button>-->
        <!--</div>-->
        <!--<div class="inform_label" [class.red]="formError" *ngIf="formError || formErrorText != ''">{{formErrorText}}</div>-->
        <!--<div class="inform_label" [class.blue]="true" *ngIf="formInfoText != ''">{{formInfoText}}</div>-->
        <div style="clear: both; margin-top: 50px; margin-bottom: 45px;">
            <span style="font-family: OpenSansRegular; font-weight: 800; font-size: 20px;">Внешний адрес</span>
        </div>
        <div class="form-content">
            <div [class.error]="externalAddressError">
                <div>
                    <span class="icon-paper-plane"></span>
                    <input type="text" placeholder="" *ngIf="externalAddressSettings" [(ngModel)]="externalAddressSettings.uri" (keyup)="checkExternalAddress()">
                </div>
            </div>
        </div>
        <div class="buttons" style="margin-top: 0px;">
            <button class="left_button" (click)="saveExternalAddressSettings()" style="width: 155px;">Сохранить</button>
        </div>
        <div class="inform_label" style="margin-top: 80px !important; margin-bottom: -40px;" [class.red]="externalAddressFormError" *ngIf="externalAddressFormError || externalAddressFormErrorText != ''">{{externalAddressFormErrorText}}</div>
        <div class="inform_label" style="margin-top: 80px !important; margin-bottom: -40px;" [class.blue]="true" *ngIf="externalAddressFormInfoText != ''">{{externalAddressFormInfoText}}</div>
        <div style="clear: both; margin-top: 90px; margin-bottom: 45px;">
            <span style="font-family: OpenSansRegular; font-weight: 800; font-size: 20px;">Адрес регистрации переходов</span>
        </div>
        <div class="form-content">
            <div [class.error]="transitionAddressError">
                <div>
                    <span class="icon-paper-plane"></span>
                    <input type="text" placeholder="" *ngIf="transitionSettings" [(ngModel)]="transitionSettings.uri" (keyup)="checkTransitionAddress()">
                </div>
            </div>
        </div>
        <div class="buttons" style="margin-top: 0px;">
            <button class="left_button" (click)="saveTransitionSettings()" style="width: 155px;">Сохранить</button>
        </div>
        <div class="inform_label" style="margin-top: 80px !important;" [class.red]="transitionFormError" *ngIf="transitionFormError || transitionFormErrorText != ''">{{transitionFormErrorText}}</div>
        <div class="inform_label" style="margin-top: 80px !important;" [class.blue]="true" *ngIf="transitionFormInfoText != ''">{{transitionFormInfoText}}</div>
    </div>
</div>
<div class="col-lg-10 col-md-7 hidden-sm">
    <div class="mail-server"></div>
</div>
