<div class="col-lg-13 col-lg-offset-1 col-md-16 col-md-offset-1 col-sm-23 col-sm-offset-1">
    <div class="content-header">Настройка лицензии</div>
    <div class="content-description">
        Страница отображает статус лицензии Вашей системы. Пожалуйста введите ключ и пройдите активацию.
    </div>
    <div class="item-info">
        <div class="license-status" *ngIf="settings">
            <span>Статус лицензии:&nbsp;</span>
            <span class="value" style="color: #40dba2;" *ngIf="settings.status == 'SUCCESSFUL'">система активирована до {{settings.dateEnd}}</span>
            <span class="value" style="color: rgba(219, 75, 64, 1);" *ngIf="settings.status == 'FAILURE' || settings.status == 'EXPIRED'">система не активирована</span>
        </div>
    </div>
    <div class="item-info-form" style="margin-bottom: 0px" *ngIf="settings">
        <div class="form-description">
            Корректно заполните ключ лицензии:
        </div>
        <div class="form-content">
            <div class="">
                <!--<span class="icon-key"></span>-->
                <!--<input guide="true" type="text" placeholder="____ - ____ - ____ - ____" [(ngModel)]="licenseKey">-->
                <textarea [(ngModel)]="licenseKey" style="margin: 0px;height: 160px;width: 100%;resize: none;font-size: 16px;outline: none;"></textarea>
            </div>
        </div>
        <div class="form-description" style="margin-top: 25px;">
            или загрузите файл лицензии
        </div>
        <div class="form-content">
            <div style="margin-bottom: 30px;">
                <file-uploader [accept]="'.lic'" [placeholder]="fileLoaderPlaceHolder" (uploaded)="onUpload($event)" [activeColor]="'#408ddb'" [baseColor]="'#9e9e9e'"></file-uploader>
            </div>
            <div class="buttons" style="margin-top: 15px;">
                <button class="left_button" (click)="licenseActivate()" style="width: 155px;">Активировать</button>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-10 col-md-7 hidden-sm">
    <div class="license-image"></div>
</div>

<modal #myModal modalClass="license-status">
    <modal-header>
        <h3>Активация лицензии</h3>
    </modal-header>
    <modal-content>
        <hr>
        <span *ngIf="newSettings"><span *ngIf="newSettings.status == 'SUCCESSFUL'">Активация лицензии <span class="green">была выполнена успешно.</span> Дата окончания: <b>{{newSettings.dateEnd}}</b> Предприятие: <b>"{{newSettings.orgName}}".</b></span></span>
        <span *ngIf="newSettings"><span *ngIf="newSettings.status == 'FAILURE'">Активация лицензии <span class="red">не была выполнена.</span> Данный ключ оказался не действительным.</span></span>
        <span *ngIf="newSettings"><span *ngIf="newSettings.status == 'EXPIRED'">Активация лицензии <span class="red">не была выполнена.</span> Срок действия данного ключа истек.</span></span>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>