@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
  url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"),
  url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
  url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansItalic";
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix") format("embedded-opentype"),
  url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
  url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
  url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
  url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@import "variables";

@font-face {
  font-family: 'riskguard';
  src:  url('#{$icomoon-font-path}/riskguard.eot?vg626w');
  src:  url('#{$icomoon-font-path}/riskguard.eot?vg626w#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/riskguard.ttf?vg626w') format('truetype'),
  url('#{$icomoon-font-path}/riskguard.woff?vg626w') format('woff'),
  url('#{$icomoon-font-path}/riskguard.svg?vg626w#riskguard') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'riskguard' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo {
  &:before {
    content: $icon-logo;
  }
}
.icon-archive-7 {
  &:before {
    content: $icon-archive-7;
  }
}
.icon-briefcase {
  &:before {
    content: $icon-briefcase;
  }
}
.icon-browser {
  &:before {
    content: $icon-browser;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-chat {
  &:before {
    content: $icon-chat;
  }
}
.icon-database {
  &:before {
    content: $icon-database;
  }
}
.icon-database-13 {
  &:before {
    content: $icon-database-13;
  }
}
.icon-direction-signs {
  &:before {
    content: $icon-direction-signs;
  }
}
.icon-drawing {
  &:before {
    content: $icon-drawing;
  }
}
.icon-engineer {
  &:before {
    content: $icon-engineer;
  }
}
.icon-folder {
  &:before {
    content: $icon-folder;
  }
}
.icon-folder2 {
  &:before {
    content: $icon-folder2;
  }
}
.icon-group {
  &:before {
    content: $icon-group;
  }
}
.icon-house {
  &:before {
    content: $icon-house;
  }
}
.icon-inbox {
  &:before {
    content: $icon-inbox;
  }
}
.icon-key {
  &:before {
    content: $icon-key;
  }
}
.icon-key_new {
  &:before {
    content: $icon-key_new;
  }
}
.icon-light-bulb {
  &:before {
    content: $icon-light-bulb;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-list {
  &:before {
    content: $icon-list;
  }
}
.icon-list-edit {
  &:before {
    content: $icon-list-edit;
  }
}
.icon-list-lock {
  &:before {
    content: $icon-list-lock;
  }
}
.icon-list-remove {
  &:before {
    content: $icon-list-remove;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-mail2 {
  &:before {
    content: $icon-mail2;
  }
}
.icon-mail-5 {
  &:before {
    content: $icon-mail-5;
  }
}
.icon-mail-left-bottom {
  &:before {
    content: $icon-mail-left-bottom;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-museum {
  &:before {
    content: $icon-museum;
  }
}
.icon-notepad {
  &:before {
    content: $icon-notepad;
  }
}
.icon-notepad-10 {
  &:before {
    content: $icon-notepad-10;
  }
}
.icon-notepad-18 {
  &:before {
    content: $icon-notepad-18;
  }
}
.icon-paper-plane {
  &:before {
    content: $icon-paper-plane;
  }
}
.icon-phone-call-left-bottom {
  &:before {
    content: $icon-phone-call-left-bottom;
  }
}
.icon-placeholder-left-bottom {
  &:before {
    content: $icon-placeholder-left-bottom;
  }
}
.icon-plug {
  &:before {
    content: $icon-plug;
  }
}
.icon-plug-1 {
  &:before {
    content: $icon-plug-1;
  }
}
.icon-presentation {
  &:before {
    content: $icon-presentation;
  }
}
.icon-send {
  &:before {
    content: $icon-send;
  }
}
.icon-set-square {
  &:before {
    content: $icon-set-square;
  }
}
.icon-sign-in {
  &:before {
    content: $icon-sign-in;
  }
}
.icon-startup {
  &:before {
    content: $icon-startup;
  }
}
.icon-support {
  &:before {
    content: $icon-support;
  }
}
.icon-tag-star {
  &:before {
    content: $icon-tag-star;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-user-21 {
  &:before {
    content: $icon-user-21;
  }
}
.icon-user-22 {
  &:before {
    content: $icon-user-22;
  }
}
.icon-user-31 {
  &:before {
    content: $icon-user-31;
  }
}
.icon-user-32 {
  &:before {
    content: $icon-user-32;
  }
}
.icon-user-35 {
  &:before {
    content: $icon-user-35;
  }
}
.icon-user-51 {
  &:before {
    content: $icon-user-51;
  }
}


