$header-background: url(../img/logo-background.png);
$button-background: url(../img/button-background.png);

@import "fonts";

@mixin login_input() {
  width: 100%;
  text-indent: 35px;
  margin-bottom: 30px;
  height: 35px;
  border: 0;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 10px;
  font-size: 16px;
}

body {
  font-family: "OpenSansLight";
}

.main {
  position: relative;
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  .row {
    margin: 0;
  }
}

.header {
  position: relative;
  background: $header-background;
  .logo-container {
    display: block;
    width: 100%;
    height: 85px;
    .logo {
      display: block;
      position: relative;
      top: 42%;
      left: 49%;
      width: 157px;
      height: 34px;
      margin-left: -69px;
      margin-top: -17px;
      font-family: RiskGuard;
      &::before {
        display: block;
        content: $icon-logo;
        color: white;
        font-size: 30px;
        width: 45px;
        float: left;
      }
      &::after {
        content: "STOP ALERT";
        color: white;
        font-size: 16px;
        font-family: RobotoLight;
        line-height: 40px;
        letter-spacing: 2px;
        font-weight: 600;
      }
      span {
        font: 16px RobotoRegular;
        font-weight: 800;
        display: block;
        color: black;
        text-transform: uppercase;
      }
      span::before {
        content: url(../img/logo.png);
        vertical-align: -50%;
        margin-right: 16px;
      }
    }
  }
}

.form {
  position: relative;
  margin: 60px auto 0px auto;
  width: 330px;
  div {
    text-align: center;
  }
  .form_header {
    .error-icon {
      background: url(../img/no.png) no-repeat;
      width: 36px;
      height: 33px;
      display: block;
      background-size: 100%;
      float: left;
    }
    width: 100%;
    margin-bottom: 40px;
    span {
      font-family: RobotoLight;
      font-size: 32px;
      font-weight: 800;
    }
  }
  .form_description {
    width: 100%;
    margin-bottom: 30px;
    span {
      font-size: 14px;
    }
  }
  .form_content {
    input[type="text"], input[type="password"] {
      @include login_input();
    }
    div {
      text-align: left;
      span {
        position: absolute;
        font-size: 25px;
      }
    }
    .error {
      span {
        color: red;
      }
      input {
        border-bottom-color: red;
        color: red;
      }
      input::-webkit-input-placeholder {
        color: red;
      }
      input::-moz-placeholder {
        color: red;
      }
      input:-ms-input-placeholder {
        color: red;
      }
      input:-moz-placeholder {
        color: red;
      }
    }
    .save_data {
      margin-bottom: 44px;
      input {
        width: 19px;
        height: 19px;
        border: 1px solid #ccc;
        background: #fff;
      }
    }
    .buttons {
      text-align: center;
      height: 42px;
      button {
        height: 42px;
        border: 1px solid rgba(64,219,162,1);
        background-color: #fff;
        border-radius: 20px;
      }
      button.left_button {
        outline: none;
        color: #fff;
        float: left;
        width: 133px;
        background: $button-background;
      }
      button.right_button {
        outline: none;
        color: rgba(64,219,162,1);
        float: right;
        width: 166px;
      }
    }
    .error_message {
      margin-bottom: 33px;
      color: red;
    }
  }
}

.bottom {
  @media screen and (min-height: 760px) {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    right: 0;
    left: 0;
  }
  width: 248px;
  margin: 40px auto 0 auto;
  text-align: center;
  .people {
    width: 300px;
    height: 195px;
    background: url(../img/people.png) no-repeat;
    transform: scale(0.82);
    background-position: 0px 28px;
    margin-left: -21px;
    margin-bottom: -22px;
  }
}


