//LEFT-BAR
$active-menu-color: #ffff99;
$logo-background: url(../img/logo-background.png);
$left-background: url(../img/left-background.png);
$menu-in-item-border: #666633;
$menu-in-container-background: url(../img/menu-item-background.png);

//USERS LIST
$deleted-user-background: url(../img/deleted-user-background.png);
$blocked-user-background: url(../img/blocked-user-backgroud.png);
$close-button-background: url(../img/close-button-background.png);

//TASKS LIST
$paused-task-background: $blocked-user-background;
$completed-task-background: url(../img/completed-background.png);
$running-task-background: url(../img/running-background.png);

//MODAL WINDOW
$modal-close-button: url(../img/close-modal.png);

$button-background: url(../img/button-background.png);

@import "fonts";
@import "ng2-select";

@mixin left-menu-icon($code) {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 14px;
  font-family: RiskGuard;
  font-size: 25px;
  content: $code;
  color: rgba(50, 137, 227, 1);
}

@mixin contacts-icon($code) {
  font-family: RiskGuard;
  content: $code;
  display: block;
  float: left;
  margin-right: 8px;
  width: 20px;
  height: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
}

@mixin input-icon-mixin($symbol) {
  display: table;
  &:before {
    font-family: riskguard;
    font-size: 26px;
    content: $symbol;
    margin-right: 14px;
  }
  span {
    display: table-cell;
    vertical-align: middle;
    &:first-child {
      margin-right: 5px;
    }
  }
}

html {
  min-width: 1170px !important;
}

body {
  font-family: "OpenSansLight";
  min-width: 1170px !important;
}

button {
  outline: none;
  height: 42px;
  border: 1px solid rgba(64, 219, 162, 1);
  background-color: #fff;
  border-radius: 20px;
}

.caret {
  position: absolute !important;
  //height: 10px;
  top: 50% !important;
  right: 10px !important;
  margin-top: -2px !important;
  background: url(../img/arrow_up.png) !important;
  display: block !important;
  width: 25px !important;
  height: 12px !important;
  border: none;
  opacity: 0.3 !important;
  right: 0px !important;
  top: 30% !important;
}

.inform_label {
  display: block;
  padding-left: 10px;
  padding-top: 5px;
  /*height: 30px;*/
}

.inform_label.red {
  color: red;
  border-left: 2px solid red;
}

.inform_label.blue {
  color: rgba(64, 141, 219, 1);
  border-left: 2px solid rgba(64, 141, 219, 1);
}

.ball-clip-rotate-multiple {
  & > div {
    border: 2px solid #000 !important;
    border-bottom-color: transparent !important;
    border-top-color: transparent !important;
    &:last-child {
      border-color: #000 transparent !important;
    }
  }
}

.ball-clip-rotate {
  & > div {
    border-radius: 100% !important;
    margin: 2px !important;
    border: 1px solid rgba(255, 220, 0, 1) !important;
    border-bottom-color: transparent !important;
    height: 26px !important;
    width: 26px !important;
    background: 0 0 !important;
    display: inline-block !important;
    -webkit-animation: rotate .75s 0s linear infinite !important;
    animation: rotate .75s 0s linear infinite !important;
  }
}

.main {
  padding: 0;
  margin: 0;
  .content {
    position: relative;
    display: table;
    width: 100%;
    margin: 0;
    overflow: hidden;
    min-height: 980px;
  }
}

.left {
  position: absolute;
  top: 0;
  bottom: 0;
  padding-right: 0;
  padding-left: 0;
  width: 235px;
  min-width: 235px;
  background: $left-background;
  background: linear-gradient(to bottom, rgba(43, 47, 69, 1), rgba(65, 71, 98, 1));
  .logo {
    display: table;
    width: 100%;
    height: 86px;
    font-family: RiskGuard;
    background: $logo-background;
    padding: 22px 36px;
    &::before {
      display: block;
      content: $icon-logo;
      color: white;
      font-size: 30px;
      width: 45px;
      float: left;
    }
    &::after {
      content: "STOP ALERT";
      color: white;
      font-size: 16px;
      font-family: RobotoLight;
      line-height: 40px;
      letter-spacing: 2px;
      font-weight: 600;
    }
    span {
      font: 16px RobotoRegular;
      font-weight: 500;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      color: black;
      text-transform: uppercase;
    }
    span::before {
      content: url(../img/logo.png);
      vertical-align: -50%;
      margin-right: 16px;
    }
  }

  .icon-logo-warning {
    &::before {
      content: url(../img/shield_logo.png) !important;
      display: block;
      width: 34px;
      height: 33px;
      margin-right: 12px;
      margin-top: 3px;
    }
  }

  .left-menu {
    width: 100%;
    .menu-header {
      display: table;
      cursor: pointer;
      outline: none;
      width: 100%;
      height: 75px;
      span {
        &:first-child {
          width: 25px;
          padding-left: 20px;
        }
        display: table-cell;
        vertical-align: middle;
        text-transform: uppercase;
        line-height: 25px;
        font-size: 14px;
        color: #fff;
        text-align: left;
        padding-left: 5px;
        padding-right: 5px;
      }
      .browser-icon::before {
        @include left-menu-icon($icon-browser);
      }
      .task-icon::before {
        @include left-menu-icon($icon-list-edit);
      }
      .unit-icon::before {
        @include left-menu-icon($icon-database-13);
      }
      .tag-icon::before {
        @include left-menu-icon($icon-tag-star);
      }
      .employee-icon::before {
        @include left-menu-icon($icon-folder2);
      }
      .report-icon::before {
        @include left-menu-icon($icon-notepad-10);
      }
      .mail-icon::before {
        @include left-menu-icon($icon-mail);
      }
      .user-icon::before {
        @include left-menu-icon($icon-user-51);
      }
      .account-icon::before {
        @include left-menu-icon($icon-user);
      }
      .settings-icon::before {
        @include left-menu-icon($icon-archive-7);
      }
    }
    .menu-header.active {
      /*background: $active-menu-color;*/
      background-color: rgba(255, 255, 255, 0.25);
    }
    .menu-header.active::after {
      content: '';
      display: block;
      position: relative;
      right: -1px;
      top: 16px;
      height: 0;
      border-top: 20px solid transparent;
      border-right: 16px solid #fff;
      border-bottom: 20px solid transparent;
    }

    .menu-in {
      display: none;
      opacity: 0;
      .menu-in-container {
        padding: 30px 5px 30px 40px;
        background: $menu-in-container-background;
        .menu-in-item {
          position: relative;
          left: -1px;
          font-size: 14px;
          display: block;
          padding-left: 12px;
          border-left: 1px solid transparent;
          cursor: pointer;
          text-decoration: none;
          color: #e4e4e4;
          margin-bottom: 15px;
          line-height: 14px;
        }
        .menu-in-item:hover {
          font-family: OpenSansRegular;
          color: #fff;

        }
        .menu-in-item.active {
          border-left: 1px solid $menu-in-item-border;
          font-family: OpenSansRegular;
          color: #fff;
        }
        .menu-in-item:last-child {
          margin-bottom: 0px;
        }
        .item-list {
          border-left: 1px solid #ccc;
        }
      }
    }
    .menu-in.show {
      display: block;
      opacity: 1;
      background-color: #fff;
    }

  }
  .left-bottom {
    position: absolute;
    bottom: 0;
    .contacts {
      color: #fff;
      margin-left: 23px;
      margin-top: 60px;
      margin-bottom: 20px;
      p {
        margin-bottom: 15px;
      }
      p:last-child {
        margin-bottom: 0px;
      }
      .studio {
        margin-bottom: 28px;
      }
      .tel, .mail {
        text-decoration: underline;
        font-style: italic;
        & > a:visited {
          color: #eee !important;
        }
        & > a:active {
          color: #eee !important;
        }
        & > a:hover {
          color: #0283f1 !important;
        }
        & > a:focus {
          color: #eee !important;
        }
      }
      .address {
        font-style: italic;
        & > a:visited {
          color: #eee !important;
        }
        & > a:active {
          color: #eee !important;
        }
        & > a:hover {
          color: #0283f1 !important;
        }
      }
      .tel::before {
        @include contacts-icon("\e912");
      }
      .mail::before {
        @include contacts-icon($icon-mail-left-bottom);
      }
      .address::before {
        @include contacts-icon($icon-link);
      }
    }
    .people {
      width: 300px;
      height: 195px;
      background: url(../img/people.png) no-repeat;
      transform: scale(0.82);
      background-position: 0px 28px;
      margin-left: -32px;
      margin-bottom: -22px;
    }
    //300 195
  }
}

.right {
  width: 100%;
  padding-left: 235px;
  min-height: 1300px;
  .right-header {
    padding: 30px 59px 30px 16px;
    height: 86px;
    .links {
      width: 62%;
      float: left;
      a {
        text-decoration: none;
        color: #000;
        margin-left: 20px;
      }
      a.active {
        font-family: OpenSansRegular;
        color: #000;
        text-decoration: none;
      }
    }
    .profile {
      padding-right: 0;
      width: 38%;
      float: right;
      text-align: right;
      div {
        & > span:first-child:after {
          display: inline-block;
          position: relative;
          content: url(../img/arrow.png);
          padding-left: 10px;
          bottom: -4px;
          transform: scale(1, -1);
        }
        &:hover {
          span:first-child:after {
            bottom: 2px;
            transform: none;
          }
          div {
            display: block;
          }
        }
        div {
          display: none;
          position: absolute;
          width: 150px;
          height: 80px;
          right: 0px;
          border-right: 1px solid #ccc;
          margin-right: 4px;
          padding: 15px;
          a {
            display: block;
            margin-bottom: 5px;
            color: #ccc;
            cursor: pointer;
            &:hover {
              color: black;
            }
          }
        }
      }
      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
  .right-content {
    padding-top: 20px;
    > div {
      padding: 0;
    }
    .content-header {
      font-family: RobotoLight;
      font-size: 32px;
      margin-bottom: 45px;
      height: 45px;
      & > span {
        display: block;
        float: left;
      }
      .content-header-button {
        width: 130px;
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
        float: left;
        margin-left: 25px;
        margin-top: 5px;
      }
    }
    .content-description.tag-tree:after {
      content: url(../img/tag.png);
      position: absolute;
      left: 114%;
    }
    .content-description {
      font-size: 14px;
      color: #000;
      margin-bottom: 30px;
      clear: both;
    }
    .deleted-error {
      margin-bottom: 25px;
      padding-left: 20px;
      color: #408ddb;
      border-left: 1px solid #408ddb;
    }
    .employees-count {
      margin-top: -10px;
      border-left: 1px solid #ccc;
      padding-left: 25px;
      font-size: 16px;
      .red {
        color: red;
      }
      div {
        margin-bottom: 5px;
      }
      div:last-child {
        margin-bottom: 0px;
      }
    }

    .item-info {
      margin-bottom: 45px;
      & > div {
        font-size: 18px;
        margin-bottom: 25px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
      .user-login, .creator, .user-fio, .server-address {
        @include input-icon-mixin($icon-engineer);
      }
      .registration-date, .creation-date, .execute-date, .period {
        @include input-icon-mixin($icon-calendar);
      }
      .connect-status, .license-status {
        @include input-icon-mixin($icon-plug-1);
      }
      .user-role, .status {
        @include input-icon-mixin($icon-light-bulb);
      }
      .user-email {
        @include input-icon-mixin($icon-mail2);
      }
      .user-position {
        @include input-icon-mixin($icon-startup);
      }
      .user-department {
        @include input-icon-mixin($icon-house);
        //@todo
        margin-bottom: 0px;
      }
      .user-department-child {
        @include input-icon-mixin($icon-museum);
        //@todo
        margin-bottom: 0px;
      }
      & > .unit-name {
        @include input-icon-mixin($icon-house);
      }
      .task-name {
        @include input-icon-mixin($icon-list);
      }
      .testing-count {
        @include input-icon-mixin($icon-notepad-10);
      }
      .mail-protocol {
        @include input-icon-mixin($icon-briefcase);
      }
      .redirect-address {
        @include input-icon-mixin($icon-direction-signs);
      }
      .departments {
        padding-left: 70px;
        & > div {
          margin-bottom: 0px;
          font-size: 14px;
          float: left;
          width: 100%;
        }
      }
      .task-departments, .employee-departments {
        @include input-icon-mixin($icon-house);
        a {
          font-family: OpenSansLight;
          color: #53cf9c;
          padding-bottom: 8px;
          line-height: 45px;
          cursor: pointer;
          margin-right: 5px;
          float: left;
          &::after {
            content: ",";
          }
          &:last-child {
            &::after {
              content: "";
            }
          }
        }
        a.disable {
          text-decoration: none !important;
          color: black !important;
          font-weight: 100 !important;
          font-family: OpenSansLight !important;
          cursor: auto !important;
        }
        &:before {
          display: table-cell;
          float: left;
        }
        span:first-child {
          display: table-cell;
          vertical-align: top;
          padding-top: 10px;
          float: left;
          /*margin-right: 5px;*/
        }
      }
      .task-tags, .employee-tags {
        @include input-icon-mixin($icon-tag-star);
        a {
          font-family: OpenSansLight;
          color: #53cf9c;
          padding-bottom: 8px;
          line-height: 45px;
          cursor: pointer;
          margin-right: 5px;
          float: left;
          &::after {
            content: ",";
          }
          &:last-child {
            &::after {
              content: "";
            }
          }
        }
        &:before {
          display: table-cell;
          float: left;
        }
        span:first-child {
          display: table-cell;
          vertical-align: top;
          padding-top: 10px;
          float: left;
          /*margin-right: 5px;*/
        }
      }
      .unit-path {
        @include input-icon-mixin($icon-folder);
        a {
          font-family: OpenSansLight;
          color: #53cf9c;
          padding-bottom: 8px;
          line-height: 45px;
          cursor: pointer;
          margin-right: 5px;
          float: left;
        }
        &:before {
          display: table-cell;
          float: left;
        }
        span:first-child {
          display: table-cell;
          vertical-align: top;
          padding-top: 10px;
          float: left;
          /*margin-right: 5px;*/
        }
      }
      .unit-manager {
        @include input-icon-mixin($icon-support);
        a {
          font-family: OpenSansLight;
          color: #53cf9c;
          line-height: 45px;
          cursor: pointer;
          margin-right: 5px;
          float: left;
          &::after {
            content: ",";
          }
          &:last-child {
            &::after {
              content: "";
            }
          }
        }
        &:before {
          display: table-cell;
          float: left;
        }
        span:first-child {
          display: table-cell;
          vertical-align: top;
          padding-top: 10px;
          float: left;
          /*margin-right: 5px;*/
        }
      }
      .unit-officer {
        @include input-icon-mixin($icon-engineer);
        a {
          font-family: OpenSansLight;
          color: #53cf9c;
          line-height: 45px;
          cursor: pointer;
          margin-right: 5px;
          float: left;
          &::after {
            content: ",";
          }
          &:last-child {
            &::after {
              content: "";
            }
          }
        }
        &:before {
          display: table-cell;
          float: left;
        }
        span:first-child {
          display: table-cell;
          vertical-align: top;
          padding-top: 10px;
          float: left;
          /*margin-right: 5px;*/
        }
      }
      .email-template {
        @include input-icon-mixin($icon-mail-5);
        a {
          color: #53cf9c;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .template-group {
        @include input-icon-mixin($icon-inbox);
        a {
          color: #53cf9c;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .template-subject {
        @include input-icon-mixin($icon-chat);
        a {
          color: #53cf9c;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .template-from-personal {
        @include input-icon-mixin($icon-send);
        a {
          color: #53cf9c;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .template-description {
        @include input-icon-mixin($icon-presentation);
        a {
          color: #53cf9c;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      a.disable {
        text-decoration: none !important;
        color: black !important;
        font-weight: 100 !important;
        font-family: OpenSansLight !important;
        cursor: auto !important;
      }
      button.alter {
        outline: none;
        color: rgba(64, 219, 162, 1);
        padding-left: 10px;
        padding-right: 10px;
        height: 32px;
      }

      .item-info-content {
        margin-bottom: 35px;
        .item-label {
          width: 100%;
          span {
            display: block;
            float: left;
            &:first-child {
              font-size: 24px;
              color: black;
              margin-right: 10px;
            }
            &:last-child {
              line-height: 24px;
            }
          }
          margin-bottom: 5px;
          height: 24px;
        }
        .item-content {
          clear: both;
          padding-left: 34px;
          span {
            display: block;
            margin-bottom: 2px;
            a {
              color: #53cf9c;
              text-decoration: underline;
            }
          }
          span.bold {
            font-weight: 800;
          }
        }
        .unit-path {
          @include input-icon-mixin($icon-folder);
          a {
            font-family: OpenSansLight;
            color: #53cf9c;
            padding-bottom: 8px;
            line-height: 38px;
            cursor: pointer;
            margin-right: 5px;
            float: left;
          }
          &:before {
            display: table-cell;
            float: left;
            margin-right: 10px;
          }
          span:first-child {
            display: table-cell;
            vertical-align: top;
            padding-top: 6px;
            float: left;
          }
        }
      }
      .vertical-line {
        border-left: 1px solid #ccc;
      }

      .item-info-input {
        textarea {
          resize: none;
          text-indent: 0px;
          height: 70px;
          margin-bottom: 15px;
        }
        margin-bottom: 55px;
        text-align: left;
        .item-info-label {
          display: block;
          font-size: 14px;
          color: #ccc;
          padding-left: 30px;
        }
        .org-selector {
          padding-left: 0px !important;
        }
        .icon {
          width: 30px;
          float: left;
          margin-top: 5px;
          span {
            &::before {
              font-size: 20px;
            }
          }
        }
        .input {
          float: left;
          width: calc(100% - 30px);
          input {
            text-indent: 0px;
            margin-bottom: 0px;
          }
          .units-tree-selector-modal {
            width: 930px;
            top: 9%;
            .units-tree-label {
              text-align: center;
            }
            .units-tree-buttons {
              text-align: center;
            }
            .modal-content {
              padding: 15px 25px 0px 25px;
            }
            .units-tree-filter {
              height: 65px;
              margin-top: 30px;
              .filter-label {
                float: left;
                margin-right: 15px;
                width: 82px;
                span {
                  font-size: 18px;
                }
              }
              .filter-input {
                width: calc(100% - 100px - 82px - 30px);
                float: left;
                margin-right: 15px;
                input {
                  text-indent: 35px !important;
                  background-color: #fff !important;
                }
              }
              .apply-filter {
                width: 100px;
                float: left;
              }
            }
            .units-tree-label {
              padding-top: 25px;
            }
            .units-tree-buttons {
              padding-top: 15px;
            }
            .units-tree {
              height: 300px;
              overflow-y: scroll;
              .units-tree-item {
                width: 100%;
                .units-tree-item-control {
                  text-align: left;
                  clear: both;
                  min-height: 30px;
                  .unit-arrow {
                    cursor: pointer;
                    float: left;
                    width: 9px;
                    height: 4px;
                    background: url(../img/arrow.png) no-repeat;
                    margin-top: 8px;
                  }
                  .unit-arrow.up {
                    cursor: pointer;
                    float: left;
                    width: 9px;
                    height: 4px;
                    background: url(../img/arrow.png) no-repeat;
                    transform: scaleY(-1);
                    margin-top: 8px;
                  }
                  .unit-arrow.hidden {
                    display: block !important;
                    cursor: default;
                    float: left;
                    width: 9px;
                    height: 4px;
                    background: none;
                    margin-top: 8px;
                  }
                  .unit-checkbox {
                    float: left;
                    width: 28px;
                    margin-left: 5px;
                    height: 20px;
                  }
                  .unit-name {
                    float: left;
                    width: calc(100% - 42px);
                  }
                }
              }
              .units-tree-item.child {
                padding-left: 40px;
              }
            }

            .units-tree::-webkit-scrollbar-track, .employeesList.show::-webkit-scrollbar-track {
              background-color: #fff;
            }

            .units-tree::-webkit-scrollbar, .employeesList.show::-webkit-scrollbar {
              width: 6px;
              background-color: #fff;
            }

            .units-tree::-webkit-scrollbar-thumb, .employeesList.show::-webkit-scrollbar-thumb {
              border-radius: 10px;
              background-color: #000;
            }
          }
        }
      }

    }
    .buttons {
      margin-top: 90px;
      a:hover {
        text-decoration: none;
      }
      button {
        padding-left: 30px;
        padding-right: 30px;
        color: #fff;
        border: 0;
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
        background: $button-background;
      }
      .red {
        background: rgba(219, 75, 64, 1);
      }
      .blue {
        background: rgba(64, 141, 219, 1);
      }
    }
    .item-info-form, body .item-info-form {
      margin-bottom: 140px;
      .employees-count {
        margin-top: 30px;
        margin-bottom: 30px;
        border-left: 1px solid #ccc;
        padding-left: 25px;
        font-size: 16px;
        .red {
          color: red;
        }
        div {
          margin-bottom: 5px;
        }
        div:last-child {
          margin-bottom: 0px;
        }
      }
      .form-description {
        font-size: 14px;
        margin-bottom: 30px;
      }
      .form-content {
        margin-bottom: 10px;
        .organization {
          margin-top: 60px;
        }
        input, select {
          width: 100%;
          text-indent: 35px;
          margin-bottom: 30px;
          height: 35px;
          border: 0;
          border-bottom: 1px solid #ccc;
          outline: none;
          padding-bottom: 10px;
          font-size: 16px;
          &::-webkit-input-placeholder {
            color: #ccc;
          }
          &::-moz-placeholder {
            color: #ccc;
          }
          &:-ms-input-placeholder {
            color: #ccc;
          }
          &:-moz-placeholder {
            color: #ccc;
          }
        }
        div {
          text-align: left;
          span {
            color: #ccc;
            position: absolute;
            font-size: 25px;
          }
        }
        .non-icon > input {
          text-indent: 0;
        }
        .user-fio, .server-address {
          height: 65px;
        }
        .user-fio > div {
          float: left;
          width: 30%;
          margin-right: 5%;
          input {
            margin-bottom: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
        button.alter {
          outline: none;
          color: #40dba2;
          padding-left: 20px;
          padding-right: 20px;
          height: 32px;
        }
        button.gray {
          outline: none;
          color: #ddd;
          padding-left: 20px;
          padding-right: 20px;
          height: 32px;
          border-color: #ccc;
        }
        .server-address > div {
          float: left;
          margin-right: 5%;
          input {
            margin-bottom: 0;
          }
          &:first-child {
            width: 65%;
          }
          &:last-child {
            width: 30%;
            margin-right: 0;
          }
        }
        .checkbox {
          .ui-chkbox {
            display: block !important;
            float: left !important;
            margin-right: 12px !important;
          }
          .ui-chkbox-box {
            position: relative;
            top: 12px;
            left: 0px;
            width: 23px !important;
            height: 23px !important;
            border-radius: 0px !important;
            border-color: #ccc !important;
            margin-top: 5px !important;
          }
          .ui-chkbox-box.ui-state-active {
            background-color: #fff !important;
            color: #000000 !important;
          }
          .ui-chkbox-label {
            vertical-align: middle;
            font-family: OpenSansLight;
            font-weight: 500;
            padding-top: 14px;
            padding-left: 5px;
            font-size: 18px;
            line-height: 28px;
            margin-left: 32px;
            display: block;
          }
          .fa-check:before {
            display: block;
            transform: scale(1.4);
            content: url(../img/checkbox.png) !important;
            position: relative;
            top: -2px;
            left: 6px;
          }
        }
      }
      button.left_button {
        color: #fff;
        float: left;
        width: 133px;
        background: $button-background;
      }
      button.left_button.deny-create {
        background: #7f7f7f;
        border-color: #7f7f7f;
      }
      .datePickerError {
        span.date-label {
          color: red;
        }
        input {
          border-bottom-color: red !important;
        }
      }
      .glyphicon-remove {
        display: none;
      }
      .error {
        span {
          color: red !important;
        }
        input {
          border-bottom-color: red;
          color: red;
        }
        input::-webkit-input-placeholder {
          color: red;
        }
        input::-moz-placeholder {
          color: red;
        }
        input:-ms-input-placeholder {
          color: red;
        }
        input:-moz-placeholder {
          color: red;
        }
        .form-control {
          border-bottom-color: red !important;
        }
        .ui-select-toggle {
          border-bottom-color: red !important;
        }
        .glyphicon-remove {
          color: red;
          margin-top: 3px;
        }
      }

      .inform_label {
        display: block;
        padding-left: 10px;
        padding-top: 5px;
        /*height: 30px;*/
      }

      .inform_label.red {
        color: red;
        border-left: 2px solid red;
      }
      .inform_label.blue {
        color: rgba(64, 141, 219, 1);
        border-left: 2px solid rgba(64, 141, 219, 1);
      }

      .org-selector {
        margin-bottom: 40px;
      }

      .role, .task-template, .task-completion {
        span:first-child {
        }
        .btn-link {
          color: #ccc;
        }
        .ui-select-match-text {
          font-size: 16px;
          line-height: 16px;
        }
        .ui-select-container {
          &:focus {
            outline: none;
          }
        }
        .ui-select-toggle {
          border: 0;
          border-bottom: 1px solid #ccc;
          box-shadow: none;
          border-radius: 0px;
          padding-left: 35px;
          padding-bottom: 5px;
          &:hover {
            background-color: #fff;
          }
          .ui-select-placeholder.text-muted {
            font-size: 16px;
            line-height: 16px;
          }
        }
        .ui-select-search {
          border-radius: 0px;
          box-shadow: none;
          outline: none;
        }
      }
      .date-selector, body .date-selector {
        .date-label {
          font-size: 16px;
          color: #bbb;
          line-height: 24px;
          &::before {
            font-family: riskguard;
            font-size: 26px;
            content: $icon-calendar;
            margin-right: 14px;
            display: block;
            float: left;
          }
        }
        .datepicker {
          margin-top: 25px;
          margin-bottom: 25px;
          margin-left: 20px;
          input {
            border: 0 !important;
            border-bottom: 1px solid #ccc !important;
            outline: none;
          }
        }
      }
      .redirect-settings {
        & > div {
          &:first-child {
            margin-bottom: 15px;
          }
          & > span {
            font-size: 16px;
            color: #bbb;
            line-height: 24px;
          }
        }
        .redirect-pages {
          width: calc(100% - 25px);
          float: right;
          margin-top: 10px;
          margin-bottom: 20px;
          span:first-child {
          }
          .btn-link {
            color: #ccc;
          }
          .ui-select-match-text {
            font-size: 16px;
            line-height: 16px;
          }
          .ui-select-container {
            &:focus {
              outline: none;
            }
          }
          .ui-select-toggle {
            border: 0;
            border-bottom: 1px solid #ccc;
            box-shadow: none;
            border-radius: 0px;
            padding-bottom: 5px;
            outline: none;
            &:hover {
              background-color: #fff;
            }
            .ui-select-placeholder.text-muted {
              font-size: 14px;
              line-height: 16px;
            }
          }
          .ui-select-search {
            border-radius: 0px;
            box-shadow: none;
            &:focus {
              outline: none;
            }
          }
        }
        .ui-radiobutton-label {
          margin-right: 5px !important;
        }
      }
      .date-period-panel {
        height: 35px;
        margin-bottom: 35px;
        width: 360px;
        float: left;
        & > div {
          float: left;
          width: 4%;
          text-align: center;
          .date-error {
            font-size: 12px;
            color: red;
          }
          &:first-child {
            width: 46%;
            margin-right: 6px;
          }
          &:last-child {
            width: 46%;
            margin-left: 6px;
          }
        }
        .ui-inputtext {
          text-align: center;
          padding-left: 0px;
          &::-webkit-input-placeholder {
            color: #ccc;
          }
          &:-moz-placeholder {
            color: #ccc;
          }
          &::-moz-placeholder {
            color: #ccc;
          }
          &:-ms-input-placeholder {
            color: #ccc;
          }
        }
        .datePickerError {
          input {
            border-bottom-color: red !important;
            &::-webkit-input-placeholder {
              color: red;
            }
            &:-moz-placeholder {
              color: red;
            }
            &::-moz-placeholder {
              color: red;
            }
            &:-ms-input-placeholder {
              color: red;
            }
          }
        }
      }
      .date-selector.error {
        span:first-child {
          color: red;
        }
        input {
          border-bottom-color: red !important;
        }
      }
    }
    .main-page-image {
      position: relative;
      top: 55px;
      left: 20%;
      background: url('../img/people_picture.png') no-repeat;
      width: 237px;
      height: 310px;
    }
    .employees-load {
      position: relative;
      top: 70px;
      left: 15%;
      background: url('../img/girl_picture.png');
      width: 247px;
      height: 316px;
    }
    .units-load {
      position: relative;
      top: 95px;
      left: 15%;
      content: url(../img/org.png);
      width: 241px;
      height: 208px;

      /*background: url(../img/org.png);
      position: relative;
      left: 114%;*/
    }
    .license-image, .mail-server {
      position: relative;
      top: 15px;
      left: 5%;
      background: url('../img/mail_picture.png');
      width: 409px;
      height: 410px;
      transform: scale(0.7);
    }
    .women-image {
      position: relative;
      top: 75px;
      left: 30%;
      background: url('../img/women.png');
      width: 146px;
      height: 435px;
    }
    .women-image2 {
      position: relative;
      top: 75px;
      left: 30%;
      background: url('../img/women2.png') no-repeat;
      width: 175px;
      height: 435px;
    }
    .man-image {
      position: relative;
      top: 75px;
      left: 30%;
      background: url('../img/man.png') no-repeat;
      width: 146px;
      height: 435px;
    }
    .report-image {
      position: relative;
      top: 235px;
      left: 15%;
      background: url('../img/41.png') no-repeat;
      width: 302px;
      height: 225px;
    }
    .template-image {
      position: relative;
      top: 235px;
      left: 15%;
      background: url('../img/templates.png') no-repeat;
      width: 302px;
      height: 225px;
    }
  }

  //USERS LIST

  .filter {
    .without-icon {
      input {
        padding-left: 0px;
      }
    }
    .filter-label {
      padding-left: 0px;
      span {
        font-family: OpenSansLight;
        font-size: 18px;
      }
    }
    .ui-datepicker-next, .ui-datepicker-prev {
      top: 1em !important;
    }
    .ui-datepicker-title {
      font-size: 14px !important;
    }
    .ui-datepicker-next {
      right: 0px !important;
    }
    .ui-datepicker-prev {
      left: 0px !important;
    }

    span.ui-calendar {
      &:after {
        display: block;
        position: absolute;
        content: url(../img/arrow_up.png);
        right: 0;
        top: 7px;
        opacity: 0.3;
      }
    }
  }

  .filter-input {
    & > span {
      color: #ccc;
      position: absolute;
      font-size: 25px;
      z-index: 1;
    }
  }

  .item-list {
    table {
      width: 100%;
      font-size: 14px;
      tr {
        border-bottom: 1px solid #ccc;
        th {
          font-family: OpenSansRegular;
          vertical-align: middle;
          font-weight: 800;
        }
        td.actions {
          text-align: left !important;
        }
        td.row-actions {
          padding-bottom: 15px;
          padding-top: 15px;
          text-align: right !important;
          padding-right: 15px;
        }
        th, td {
          padding-bottom: 10px;
          padding-top: 10px;
          font-family: OpenSansLight;
          vertical-align: middle;
          .edit-unit {
            width: 16px;
            height: 16px;
            margin-right: 5px;
            margin-left: 5px;
            background: url(../img/edit.png) no-repeat;
          }
          .delete-unit {
            width: 16px;
            height: 16px;
            margin-right: 5px;
            margin-left: 5px;
            background: url(../img/delete.png) no-repeat;
          }
          .lock-unit {
            width: 14px;
            height: 16px;
            margin-right: 5px;
            margin-left: 5px;
            background: url(../img/lock.png) no-repeat;
          }
          .unlock-unit {
            width: 14px;
            height: 16px;
            margin-right: 5px;
            margin-left: 5px;
            background: url(../img/unlock.png) no-repeat;
          }
          .restore-unit {
            width: 16px;
            height: 14px;
            margin-right: 5px;
            margin-left: 5px;
            background: url(../img/restore.png) no-repeat;
          }
          .resume-unit {
            width: 16px;
            height: 16px;
            margin-right: 5px;
            margin-left: 5px;
            background: url(../img/resume.png) no-repeat;
          }
          .stop-unit {
            width: 16px;
            height: 16px;
            margin-right: 5px;
            margin-left: 5px;
            background: url(../img/stop.png) no-repeat;
          }
          button {
            border: 0;
            border-radius: 0;
            font-size: 25px;
            outline: none;
          }
          button.blocked, button.paused {
            background: $blocked-user-background;
          }
          button.deleted {
            background: $deleted-user-background;
          }
          button.completed {
            background: $completed-task-background;
          }
          button.running {
            background: $running-task-background;
          }
          button.change {
            color: #53cf9c;
          }
          button.delete {
            color: #f2beba;
          }
          button.block-and-recover {
            color: #91d0f4;
          }
          a {
            font-family: OpenSansRegular;
            color: #53cf9c;
            text-decoration: underline;
          }
          a.disable {
            text-decoration: none !important;
            color: black !important;
            font-weight: 100 !important;
            font-family: OpenSansLight !important;
            cursor: auto !important;
          }
          &:last-child, &:first-child {
            text-align: center;
          }
          span.unit::after {
            content: ", ";
          }
          span.unit:last-child::after {
            content: "";
          }
          span.bold-text {
            a {
              margin-right: 5px;
              &::after {
                content: ", ";
              }
              &:last-child {
                margin-right: 0px;
                &::after {
                  content: "";
                }
              }
            }
          }
        }
      }
      tr.deleted {
        background: $deleted-user-background;
      }
      tr.blocked, tr.paused {
        background: $blocked-user-background;
      }
      tr.completed {
        background: $completed-task-background;
      }
      tr.running {
        background: $running-task-background;
      }
      tr.table-spinner {
        td {
          min-height: 250px;
        }
      }
    }
  }

  .add-user {
    margin-top: 25px;
  }

  .legend {
    margin-top: 30px;
    margin-bottom: 40px;
    span {
      display: block;
      float: left;
      margin-right: 20px;
    }
    span.legend-value {
      width: 120px;
      text-align: center;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
    span.blocked {
      background: $blocked-user-background;
    }
    span.deleted {
      background: $deleted-user-background;
    }
    span.paused {
      background: $paused-task-background;
    }
    span.running {
      background: $running-task-background;
    }
    span.completed {
      background: $completed-task-background;
    }
  }

  .custom-pagination {
    margin-bottom: 20px;
    & > div {
      padding-left: 0px;
      padding-right: 0px;
      span {
        display: block;
        float: left;
        line-height: 25px;
      }
      &:first-child {
        span {
          display: block;
          height: 25px;
        }
      }
    }
    .pagination-input {
      width: 205px;
      position: relative;
      left: 25%;
      span {
        &:first-child {
          margin-right: 10px;
        }
        &:last-child {
          margin-left: 10px;
        }
      }
      button {
        padding-left: 0px;
        padding-right: 0px;
        min-width: 15px;
      }
    }
    button {
      outline: none;
      height: 25px;
      text-align: center;
      min-width: 35px;
      border-color: #fff;
    }
    button.count {
      color: #53cf9c;
    }
    button.count.active {
      color: #fff;
      background: $button-background;
    }
    input[type=text] {
      text-align: center;
      height: 25px;
      border: 0;
      border-bottom: 1px solid #ccc;
      outline: none;
      width: 25px;
    }
  }

  //END USERS LIST
}

.radio-buttons {
  padding-left: 5px;

  & > div {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  .ui-radiobutton .ui-widget {
    width: 25px;
    height: 25px;
  }
  .ui-state-active {
    border: 1px solid #000 !important;
    border-radius: 25px !important;
    background-color: #fff !important;
    &::before {
      content: '_';
      display: block !important;
      width: 9px !important;
      height: 9px !important;
      border-radius: 9px !important;
      background-color: #000 !important;
      position: relative !important;
      top: 7px;
      left: 7px;
    }
  }
  .ui-radiobutton-icon {
    display: none !important;
  }
  .ui-radiobutton-label {
    font-size: 14px;
    font-weight: 100;
    margin-right: 40px !important;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.main-input {
  width: 100%;
  text-indent: 35px;
  margin-bottom: 30px;
  height: 35px;
  border: 0;
  border-bottom: 1px solid #ccc;
  outline: none;
  /*padding-bottom: 10px;*/
  font-size: 16px;
}

.main-input.red {
  color: red;
  border-bottom: 1px solid red;
  &::-webkit-input-placeholder {
    color: red;
  }
  &::-moz-placeholder {
    color: red;
  }
  &:-ms-input-placeholder {
    color: red;
  }
  &:-moz-placeholder {
    color: red;
  }
}

input[type="text"].main-input:disabled {
  background-color: #fff;
  border-color: #eee;
  color: #ccc;
  &::-webkit-input-placeholder {
    color: #ccc;
  }
  &::-moz-placeholder {
    color: #eee;
  }
  &:-ms-input-placeholder {
    color: #eee;
  }
  &:-moz-placeholder {
    color: #eee;
  }
}

button.main-button {
  outline: none;
  width: 100%;
  color: #fff;
  float: left;
  background: $button-background;
  min-width: 60px;
}

//MODAL WINDOW

.connection-status {
  .modal-content {
    height: 160px;
  }
}

.license-status {
  .modal-content {
  }
}

.modal-dialog {
  text-align: center;
  width: 370px;
  top: 30%;
}

.modal-content {
  padding: 10px 20px 0px 20px;
  /*height: 230px;*/
  border-radius: 0px;
  box-shadow: none;
}

.modal-content span.red {
  color: rgba(217, 75, 64, 1);
}

.modal-content span.blue {
  color: rgba(64, 141, 219, 1);
}

.modal-content span.green {
  color: #40dba2;
}

.modal-header {
  padding: 0px;
  border: 0;
}

.modal-body {
  font-family: OpenSansLight;
  font-size: 14px;
}

.modal-body hr {
  margin-top: -10px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #000;
  width: 40px;
}

.modal-body .buttons {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  margin-top: 12px !important;
}

.modal-body .buttons .main-button {
  &:first-child {
    margin-right: 20px;
  }
  outline: none;
  width: 128px;
  float: left;
  min-width: 60px;
  height: 42px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 2.8;
}

.modal-body .buttons .main-button.red {
  &:first-child {
    background-color: rgba(217, 75, 64, 1);
    color: #fff;
  }
  &:last-child {
    background-color: #fff;
    color: rgba(217, 75, 64, 1);
    border: 1px solid rgba(217, 75, 64, 1);
  }
}

.modal-body .buttons .main-button.gray {
  &:first-child {
    background-color: rgba(184, 184, 184, 1) !important;
    color: #fff;
  }
}

.modal-body .buttons .main-button.blue {
  &:first-child {
    background-color: rgba(64, 141, 219, 1);
    color: #fff;
  }
  &:last-child {
    background-color: #fff;
    color: rgba(64, 141, 219, 1);
    border: 1px solid rgba(64, 141, 219, 1);
  }
}

.modal-footer {
  border: 0;
  padding-bottom: 0px !important;
}

.modal-header h3 {
  font-family: OpenSansRegular;
  font-size: 18px;
}

.modal-header .close {
  position: absolute;
  top: -12px;
  right: -23px;
  color: #fff;
}

.modal-header .close > span {
  content: $modal-close-button;
}

.modal-backdrop.in {
  opacity: 0.8;
}

//END MODAL WINDOW

//EMPLOYEES LIST MODAL

.employeesListModal {
  text-align: center;
  width: 730px !important;
  min-height: 620px !important;
  top: 15% !important;
  .text {
    font-weight: 600;
  }
  .filter {
    height: 65px;
    margin-top: 30px;
  }
  .filter-label {
    float: left;
    margin-right: 15px;
  }
  .filter-input {
    width: 410px;
    float: left;
    margin-right: 15px;
  }
  .apply-filter {
    width: 86px;
    float: left;
  }
  .employeesList {
    margin-top: 10px;
    max-height: 285px;
    height: 285px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 15px;
  }
  .employeesList.show {
    margin-top: 10px;
    max-height: 335px;
    height: 335px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .employeesList::-webkit-scrollbar-track, .employeesList.show::-webkit-scrollbar-track {
    background-color: #fff;
  }

  .employeesList::-webkit-scrollbar, .employeesList.show::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
  }

  .employeesList::-webkit-scrollbar-thumb, .employeesList.show::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #000;
  }
  /*.employeesList::-webkit-scrollbar-button:vertical:increment,
  .employeesList.show::-webkit-scrollbar-button:vertical:increment {
    content: url(../img/arrow_up.png);
    color: black;
    height: 14px;
    width: 25px;
    transform: scale(0.5);
  }*/

  /*.employeesList::-webkit-scrollbar-button:vertical:decrement,
  .employeesList.show::-webkit-scrollbar-button:vertical:decrement {
    content: url(../img/arrow_up.png);
    color: black;
    height: 14px;
    width: 25px;
    transform: rotate(180deg);
    transform: scale(0.5);
  }*/

  .modal-body {
    text-align: left;
    height: 530px;
  }
  .modal-content {
    min-height: 620px !important;
    padding: 10px 45px 0px 45px !important;
  }
  .ui-chkbox {
    display: block !important;
    float: left !important;
    margin-right: 12px !important;
  }
  .ui-chkbox-box {
    width: 19px !important;
    height: 19px !important;
    border-radius: 0px !important;
    border-color: #000 !important;
    margin-top: 5px !important;
  }
  .ui-chkbox-box.ui-state-active {
    background-color: #fff !important;
    color: #000000 !important;
  }
  .fa-check:before {
    content: url(../img/checkbox.png) !important;
  }
  .employee {
    display: block;
    padding-left: 10px;
    min-height: 42px;
    margin-top: 15px;
    overflow: hidden;
    .info {
      display: inline-block;
      max-width: calc(100% - 35px);
      span {
        display: block;
        width: 100%;
        &:first-child {
          font-size: 16px;
          font-weight: 600;
        }
        &:last-child {
          font-size: 14px;
          color: #ccc;
        }
      }
    }
    .info.info-show {
      padding-left: 0;
      margin-left: -10px;
      span {
        margin-left: 0px;
        &:first-child {
          color: #000;
        }
        &:last-child {
          color: #ccc;
        }
      }
    }
  }
  .employee.disable {
    color: #ccc;
  }
  .buttons {
    bottom: 0;
    text-align: center;
    padding-left: 190px !important;
    button {
      height: 42px !important;
      border: 1px solid rgba(64, 219, 162, 1) !important;
      background: #fff !important;
      border-radius: 20px !important;
    }
    button.left_button {
      padding-left: 16px !important;
      outline: none !important;
      color: #fff !important;
      background: $button-background !important;
      width: 105px !important;
      height: 40px !important;
    }
    button.right_button {
      padding-left: 25px !important;
      outline: none !important;
      color: rgba(64, 219, 162, 1) !important;
      width: 105px !important;
      height: 40px !important;
    }
  }
}

.taskParamsModal {
  width: 500px;
  height: 295px;
  .modal-content {
    height: 295px;
  }
  .item-info-form {
    margin-bottom: 0px !important;
    .task-template {
      width: 100% !important;
      margin-top: 10px;
    }
  }
  .buttons {
    bottom: 0;
    text-align: center;
    padding-left: 100px !important;
    button {
      height: 42px !important;
      border: 1px solid rgba(64, 219, 162, 1) !important;
      background: #fff !important;
      border-radius: 20px !important;
    }
    button.left_button {
      padding-left: 16px !important;
      outline: none !important;
      color: #fff !important;
      background: $button-background !important;
      width: 105px !important;
      height: 40px !important;
    }
    button.right_button {
      padding-left: 25px !important;
      outline: none !important;
      color: rgba(64, 219, 162, 1) !important;
      width: 105px !important;
      height: 40px !important;
    }
  }
}

.taskStartDateModal {
  width: 435px;
  height: 295px;
  .modal-content {
    height: 295px;
  }
  .item-info-form {
    margin-bottom: 35px !important;
    margin-top: 30px !important;
  }
  .ui-inputtext {
    padding-left: 40px !important;
  }
  .buttons {
    padding-left: 40px !important;
  }
}

//END EMPLOYEES LIST MODAL

body .date-label {
  font-size: 16px;
  color: #bbb;
  &::before {
    font-family: riskguard;
    font-size: 26px;
    content: "\E901";
    margin-right: 14px;
    display: block;
    float: left;
  }
}

//ENTITY-TREE-ITEM

.units-edit {
  .entity-tree-item {
    .form {
      .edit {
        margin-bottom: 0px;
      }
    }
    span.select-item-wrap {
      margin-top: -3px;
    }
  }
}

.entity-tree-item {
  border: 1px solid #eee;
  margin-bottom: 20px;
  padding: 20px;
  .org-selector {
    .ui-select-search {
      margin-bottom: 0px !important;
    }
  }
  .icon-selector {
    font-size: 20px !important;
    color: #000 !important;
  }
  .header {
    margin-bottom: 10px;
    .number {
      display: inline-block;
      width: 59%;
      font-size: 18px;
      color: #aaa;
    }
    .entity-action-buttons {
      margin-top: 0px !important;
      display: inline-block;
      width: 39%;
      text-align: right;
      button {
        width: 19px;
        height: 19px;
        border: none;
        border-radius: 19px;
        margin-right: 10px;
        &:last-child {
          margin-right: 0px;
        }
      }
      .add-entity {
        background: url(../img/add.png) no-repeat;
      }
      .delete-entity {
        background: url(../img/del.png) no-repeat;
      }
    }
  }
  .form {
    &.show {
      div {
        font-size: 18px !important;
        margin-bottom: 10px !important;
        &:last-child {
          margin-bottom: 0px !important;
        }
      }
    }
    div.edit {
      font-size: 18px;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    div.edit {
      text-align: left;
      & > span {
        color: #000;
        position: absolute;
        font-size: 20px;
        margin-top: 4px;
      }
    }
    div.error {
      color: red;
      span {
        color: red !important;
      }
      input {
        border-bottom-color: red;
        color: red;
      }
      input::-webkit-input-placeholder {
        color: red;
      }
      input::-moz-placeholder {
        color: red;
      }
      input:-ms-input-placeholder {
        color: red;
      }
      input:-moz-placeholder {
        color: red;
      }
      .form-control {
        border-bottom-color: red !important;
      }
      .ui-select-toggle {
        border-bottom-color: red !important;
      }
      .glyphicon-remove {
        color: red;
        margin-top: 3px;
      }
    }
    input, select {
      width: 100%;
      text-indent: 35px;
      margin-bottom: 15px;
      height: 35px;
      border: 0;
      border-bottom: 1px solid #ccc;
      outline: none;
      padding-bottom: 10px;
      font-size: 16px;
    }

    .tag-name {
      display: inline-block;
      width: 70%;
      margin-bottom: 0px;
    }
    .tag-status {
      display: inline-block;
      width: 29%;
      .ui-chkbox {
        display: block !important;
        float: left !important;
        margin-right: 12px !important;
      }
      .ui-chkbox-box {
        position: relative;
        top: 12px;
        left: 10px;
        width: 15px !important;
        height: 15px !important;
        border-radius: 0px !important;
        border-color: #ccc !important;
        margin-top: 5px !important;
      }
      .ui-chkbox-box.ui-state-active {
        background-color: #fff !important;
        color: #000000 !important;
      }
      .ui-chkbox-label {
        vertical-align: middle;
        font-family: OpenSansLight;
        font-size: 14px;
        font-weight: 500;
        padding-top: 14px;
        padding-left: 5px;
      }
      .fa-check:before {
        content: url(../img/checkbox.png) !important;
        position: relative;
        top: -5px;
        left: 0px;
      }
    }
    .org-name-show {
      @include input-icon-mixin($icon-house);
      &:before {
        font-size: 22px;
        mergin-right: 100px;
      }
    }
    .officer-show {
      @include input-icon-mixin($icon-engineer);
      &:before {
        font-size: 22px;
        mergin-right: 100px;
      }
    }
    .manager-show {
      @include input-icon-mixin($icon-support);
      &:before {
        font-size: 22px;
        mergin-right: 100px;
      }
    }
    .tag-name-show {
      @include input-icon-mixin($icon-tag-star);
      &:before {
        font-size: 22px;
        mergin-right: 100px;
      }
    }
    .tag-status-show {
      @include input-icon-mixin($icon-light-bulb);
      &:before {
        font-size: 22px;
        mergin-right: 100px;
      }
    }
    .tag-path-show {
      @include input-icon-mixin($icon-folder);
      float: left;
      &:before {
        font-size: 22px;
        mergin-right: 100px;
      }
      a {
        cursor: pointer;
        display: block;
        float: left;
        line-height: 19px;
        text-decoration: underline;
        color: #40dba2;
        margin-right: 2px;
      }
      .delimiter {
        padding: 5px;
        padding-bottom: 0px;
      }
    }

    .path-value {
      a {
        cursor: pointer;
        display: block;
        float: left;
        line-height: 30px;
        text-decoration: underline;
        color: #40dba2;
        margin-right: 2px;
        margin-left: 2px;
      }
      .delimiter {
        padding: 5px;
        padding-bottom: 0px;
        margin-top: -2px;
        display: block;
        float: left;
      }
    }
    a.disable {
      text-decoration: none !important;
      color: black !important;
      font-weight: 100 !important;
      font-family: OpenSansLight !important;
      cursor: auto !important;
    }
  }
  & > a {
    color: #53cf9c;
    font-size: 16px;
    border-bottom: 1px dashed #53cf9c;
    cursor: pointer;
    &:active {
      color: #53cf9c;
    }
    &:hover {
      color: #53cf9c;
      text-decoration: none;
    }
  }
}

.show-child::after {
  content: '';
  display: block;
  position: absolute;
  left: 60px;
  bottom: -1px;
  height: 22px;
  width: 10px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.show-child::before {
  content: '';
  display: block;
  position: absolute;
  left: 59px;
  bottom: -1px;
  height: 22px;
  width: 10px;
  border: 11px solid transparent;
  border-bottom: 11px solid #eee;
  width: 22px;
  left: 59px;
}

.entity-tree-item-child {
  display: table;
  width: 100%;
  padding-left: 60px;
  border-left: 1px solid #ccc;
  margin-bottom: 40px;

  .entity-tree-item {
    margin-bottom: 20px !important;
  }

  .entity-tree-item:last-child {
    margin-bottom: 0px;
  }
}

@keyframes outline {
  0% {
    border-color: #179be8;
    border-width: 1px;
    box-shadow: 0px 0px 2px 1px rgba(23, 155, 232, 0.4);
  }
  50% {
    border-color: #179be8;
    border-width: 1px;
    box-shadow: 0px 0px 2px 1px rgba(23, 155, 232, 0.3);
  }
  75% {
    border-color: #179be8;
    border-width: 1px;
    box-shadow: 0px 0px 2px 1px rgba(23, 155, 232, 0.2);
  }
  100% {
    border-color: #ccc;
    border-width: 1px;
    box-shadow: none;
  }
}

.outlineElement {
  animation-name: outline;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
}

//END ENTITY-TREE-ITEM

//FILE UPLOADER

.uploader input {
  display: none;
}

.uploader {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #efefef;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  outline: 1px dashed #ccc;
  position: relative;
  width: 430px;
}

.uploader img,
.uploader .icon {
  pointer-events: none;
}

.uploader,
.uploader .icon {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.uploader .icon {
  color: #eee;
  color: rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: OpenSansLight !important;
}

.uploader img {
  left: 50%;
  opacity: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.uploader img.loaded {
  opacity: 1;
}

//FILE UPLOADER END

//EMPLOYEES LOAD

.employee-counter {
  font-size: 18px;
  margin-bottom: 30px;
  div {
    margin-bottom: 10px;
    color: black;
    &:last-child {
      color: red;
      margin-bottom: 0px;
    }
  }
}

.employee-edit-list {
  tr {
    border: none !important;
    &:first-child {
      border-bottom: 1px solid #ccc !important;
    }
    &:last-child {
      border-bottom: 1px solid #ccc !important;
    }
    td:last-child, th:last-child {
      padding-left: 20px;
    }
  }
  margin-top: 20px;
  margin-bottom: 30px;
  td {
    & > div > div > input {
      width: 100%;
      padding-left: 30px;
      margin-bottom: 30px;
      height: 25px;
      border: 0;
      border-bottom: 1px solid #ccc;
      outline: none;
      padding-bottom: 0px;
      font-size: 14px;
    }
    div {
      text-align: left;
      & > span {
        color: #000;
        position: absolute;
        font-size: 16px;
        padding-top: 5px;
      }
    }
    .non-icon > input {
      padding-left: 0px;
    }
    .user-fio, .user-contacts {
      height: 35px;
    }
    .user-fio > div {
      &:first-child {
        width: 40%;
      }
      float: left;
      width: 25%;
      margin-right: 5%;
      input {
        margin-bottom: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .user-contacts > div {
      float: left;
      width: 40%;
      margin-right: 5%;
      input {
        margin-bottom: 0;
      }
      &:last-child {
        width: 55%;
        margin-right: 0;
      }
    }
    a {
      color: #fff !important;
      text-decoration: none !important;
    }
    .error {
      span {
        color: red !important;
      }
      input {
        border-bottom-color: red;
        color: red;
      }
      input::-webkit-input-placeholder {
        color: red;
      }
      input::-moz-placeholder {
        color: red;
      }
      input:-ms-input-placeholder {
        color: red;
      }
      input:-moz-placeholder {
        color: red;
      }
      .form-control {
        border-bottom-color: red !important;
      }
      .ui-select-toggle {
        border-bottom-color: red !important;
      }
      .glyphicon-remove {
        color: red;
        margin-top: 3px;
      }
    }
  }
}

.filter-select {
  .form-control {
    border: none !important;
    border-bottom: 1px solid #ccc !important;
  }
  span:first-child {
  }
  .btn-link {
    color: #ccc;
  }
  .ui-select-match-text {
    font-size: 16px;
    line-height: 16px;
  }
  .ui-select-container {
    &:focus {
      outline: none;
    }
  }
  .ui-select-toggle {
    border: 0;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0px;
    padding-left: 35px;
    padding-bottom: 5px;
    &:hover {
      background-color: #fff;
    }
    .ui-select-placeholder.text-muted {
      font-size: 16px;
      line-height: 16px;
    }
  }
  .ui-select-search {
    border-radius: 0px;
    box-shadow: none;
    outline: none;
    text-indent: 20px;
    padding-bottom: 12px;
  }
  .glyphicon-remove {
    display: none;
  }
}

//EMPLOYEES LOAD END

//EMPLOYEES MOVE MODAL

.employeesMoveModal {
  width: 455px !important;
  .modal-body {
    text-align: left;
  }
  .modal-content {
    height: 100%;
  }
  .modal-error {
    height: 140px;
    background-color: #d94b40;
    width: 454px;
    left: -35px;
    top: 5px;
    position: relative;
  }

  .modal-footer {
    padding-bottom: 0px !important;
  }
  .units-tree-selector-modal {
    width: 930px;
    top: -45%;
    right: 50%;
    .units-tree-label {
      text-align: center;
    }
    .units-tree-buttons {
      text-align: center;
    }
    .modal-content {
      padding: 15px 25px 0px 25px;
    }
    .units-tree-filter {
      height: 65px;
      margin-top: 30px;
      .filter-label {
        float: left;
        margin-right: 15px;
        width: 82px;
        span {
          font-size: 18px;
        }
      }
      .filter-input {
        width: calc(100% - 100px - 82px - 30px);
        float: left;
        margin-right: 15px;
        input {
          text-indent: 35px !important;
          background-color: #fff !important;
        }
      }
      .apply-filter {
        width: 100px;
        float: left;
      }
    }
    .units-tree-label {
      padding-top: 25px;
    }
    .units-tree-buttons {
      padding-top: 15px;
    }
    .units-tree {
      height: 300px;
      overflow-y: scroll;
      .units-tree-item {
        width: 100%;
        .units-tree-item-control {
          text-align: left;
          clear: both;
          min-height: 30px;
          .unit-arrow {
            cursor: pointer;
            float: left;
            width: 9px;
            height: 4px;
            background: url(../img/arrow.png) no-repeat;
            margin-top: 8px;
          }
          .unit-arrow.up {
            cursor: pointer;
            float: left;
            width: 9px;
            height: 4px;
            background: url(../img/arrow.png) no-repeat;
            transform: scaleY(-1);
            margin-top: 8px;
          }
          .unit-arrow.hidden {
            display: block !important;
            cursor: default;
            float: left;
            width: 9px;
            height: 4px;
            background: none;
            margin-top: 8px;
          }
          .unit-checkbox {
            float: left;
            width: 28px;
            margin-left: 5px;
            height: 20px;
          }
          .unit-name {
            float: left;
            width: calc(100% - 42px);
          }
        }
      }
      .units-tree-item.child {
        padding-left: 40px;
      }
    }

    .units-tree::-webkit-scrollbar-track, .employeesList.show::-webkit-scrollbar-track {
      background-color: #fff;
    }

    .units-tree::-webkit-scrollbar, .employeesList.show::-webkit-scrollbar {
      width: 6px;
      background-color: #fff;
    }

    .units-tree::-webkit-scrollbar-thumb, .employeesList.show::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #000;
    }
  }
}

//END EMPLOYEES MOVE MODAL

//REPORTS

.report-header {
  margin-bottom: 25px;
  span {
    font-family: RobotoRegular;
    font-weight: 600;
    font-size: 22px;
  }
}

.report-task-diagram {
  background-color: #f7f7f7;
  padding: 25px 0px;
  margin-bottom: 30px;

  canvas {
    max-width: 190px;
    max-height: 190px;
    min-width: 190px;
    min-height: 190px;
    margin: 0 auto;
  }

  .header {
    margin-bottom: 25px;
    span {
      font-family: RobotoRegular;
      font-weight: 600;
      font-size: 22px;
    }
  }

  .value-with-label {
    margin-bottom: 25px;
    height: 25px;
    span:first-child {
      display: block;
      float: left;
      font-size: 25px;
      width: 0px;
    }
    span:last-child {
      display: block;
      float: left;
      font-size: 18px;
      line-height: 25px;
      width: 100%;
      padding-left: 35px;
    }
  }

  .employees-count {
    margin-top: 4px !important;
    border-left: 1px solid #ccc !important;
    padding-left: 16px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    .red {
      color: #d94b44 !important;
    }
    .green {
      color: #53cf9c;
    }
    div {
      margin-bottom: 5px;
    }
    div:last-child {
      margin-bottom: 0px;
    }
  }

  .diagram-link {
    color: black;
    display: block;
    font-size: 18px;
    padding-left: 35px;
    a {
      color: #53cf9c;
      text-decoration: underline;
    }
  }
}

td.result {
  a {
    .result-info {
      display: none;
    }
    cursor: pointer;
  }

  a.fail:hover {
    .result-info {
      display: block !important;
      position: absolute;
      width: 410px;
      z-index: 1500;
      background-color: rgba(0, 0, 0, 0.85);
      overflow: hidden;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 18px;
      padding-right: 10px;
      box-shadow: none;
      border: none;
      border-radius: 10px;
      color: #fff;
      text-align: left;
      font-size: 12px;
      right: 0px;
      span {
        display: block;
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
      table tr {
        border: 0 !important;
        &:first-child {
          border-bottom: 1px solid #ccc !important;
        }
        td, th {
          font-size: 12px !important;
          text-align: left;
        }
        td {
          padding-bottom: 0px !important;
          padding-top: 5px !important;
        }
        th {
          padding-bottom: 5px !important;
          padding-top: 0px !important;
        }
      }
    }
  }
  .fail {
    position: relative;
    color: #de5054 !important;
    text-decoration: none !important;
    .error-icon {
      background: url(../img/no.png) no-repeat;
      vertical-align: middle;
      margin-right: 3px;
      width: 36px;
      height: 33px;
      width: 28px;
      height: 32px;
      display: inline-block;
      background-size: 100%;
    }
    span.error-text {
      display: inline-block;
      border-bottom: 1px dashed !important;
      vertical-align: top;
    }
  }
  .success {
    position: relative;
    color: #000 !important;
    text-decoration: none !important;
    .ok-icon {
      vertical-align: middle;
      margin-right: 3px;
      background: url(../img/ok.png) no-repeat;
      width: 36px;
      height: 33px;
      width: 28px;
      height: 32px;
      display: inline-block;
      background-size: 100%;
    }
  }
}

.report-employee-diagram {
  background-color: #f7f7f7;
  padding: 25px 0px;
  margin-bottom: 30px;

  .info {
    background: url(../img/info.png);
    width: 24px;
    height: 24px;
  }

  .header {
    margin-bottom: 25px;
    span {
      font-family: RobotoRegular;
      font-weight: 600;
      font-size: 22px;
    }
  }

  canvas {
    height: 280px;
  }

  .employees-count {
    margin-top: 4px !important;
    border-left: 1px solid #ccc !important;
    padding-left: 10px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    .red {
      color: #d94b44 !important;
    }
    .green {
      color: #53cf9c;
    }
    div {
      margin-bottom: 5px;
    }
    div:last-child {
      margin-bottom: 0px;
    }
  }

  .ui-datepicker-next, .ui-datepicker-prev {
    top: 1em !important;
  }
  .ui-datepicker-title {
    font-size: 14px !important;
  }
  .ui-datepicker-next {
    right: 0px !important;
  }
  .ui-datepicker-prev {
    left: 0px !important;
  }
  .ui-inputtext {
    padding-left: 0px !important;
    padding-bottom: 5px !important;
    background: #f7f7f7;
  }

  span.ui-calendar {
    &:after {
      display: block;
      position: absolute;
      content: url(../img/arrow_up.png);
      right: 0;
      top: 7px;
      opacity: 0.3;
    }
  }
}

//END REPORTS

//MAIL TEMPLATE SHOW MODAL

.mailTemplateShowModal {
  text-align: center;
  width: 845px !important;
  min-height: 740px !important;
  top: 5% !important;
  .modal-content {
    min-height: 740px;
    padding: 0 !important;
    padding-top: 20px !important;
  }
  .modal-body {
    min-height: 740px !important;
    padding: 15px 20px 20px 20px !important;
    background-color: #eceefb;
  }
  .modal-footer {
    padding: 0px;
  }
  iframe.mail-template-content {
    height: 695px;
    width: 800px;
  }
  iframe.mail-template-content::-webkit-scrollbar-track, .employeesList.show::-webkit-scrollbar-track {
    background-color: #fff;
  }

  iframe.mail-template-content::-webkit-scrollbar, .employeesList.show::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
  }

  iframe.mail-template-content::-webkit-scrollbar-thumb, .employeesList.show::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #000;
  }
  .modal-header hr {
    border: 0;
    border-top: 1px solid #000;
    width: 40px;
    margin: 15px auto 20px auto;
  }
}

//END MAIL TEMPLATE SHOW MODAL

//LOAD UNITS

.loaded-units, .loaded-items {
  .loaded-units-info {
    font-size: 16px;
    span {
      display: block;
      margin-bottom: 10px;
    }
    span.error {
      color: #d94b40;
    }
  }

  .loaded-units-filter {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    /*overflow: hidden;*/

    .ui-select-match-single {
      background-color: #f9f9f9;
    }

    .search-button > button {
      height: 30px;
      width: 120px;
    }

    div > input {
      margin-bottom: 0px;
      background-color: #f9f9f9;
    }

    .ui-select-container {
      background-color: #f9f9f9;
      .selector-placeholder {
        color: rgb(51, 51, 51) !important;
      }
    }

    .ui-select-toggle {
      background-color: #f7f7f7 !important;
    }

    .icon-selector {
      color: black !important;
    }

    div.adv-show {
      margin-bottom: 15px !important;
    }

    & > div > span {
      position: absolute;
      font-size: 25px;
      margin-top: 5px;
    }
    .search-buttons {
      div {
        float: left;
        width: 50%;
      }
      .search-button {
        text-align: left;
      }
      .adv-search {
        span {
          position: absolute;
          cursor: pointer;
          font-size: 14px;
          border-bottom: 1px dashed #000;
          color: black;
          line-height: 30px;
        }
      }
    }
  }

  .units-error-table {
    th, td {
      padding: 0px 10px;
    }
    thead {
      font-size: 14px;
    }
    tbody {
      &:after, &:before {
        content: ' ';
        display: block;
        height: 10px;
        color: transparent;
      }
      tr {
        border: 0 !important;
        font-size: 13px;

        td:last-child {
          text-align: left;
          button {
            width: 16px;
            height: 16px;
            margin-right: 10px;
          }
          .edit-unit {
            width: 16px;
            height: 16px;
            margin-right: 5px;
            margin-left: 5px;
            background: url(../img/edit.png) no-repeat;
          }
          .delete-unit {
            width: 16px;
            height: 16px;
            margin-right: 5px;
            margin-left: 5px;
            background: url(../img/delete.png) no-repeat;
          }
        }
      }
      tr.correct-unit {
        background: url(../img/correct-unit.png);
        td:first-child {
          background: url(../img/ok.png) no-repeat;
          background-position: center;
          background-size: 18px 18px;
        }
      }
      tr.not-valid-unit {
        td:first-child {
          background: url(../img/no.png) no-repeat;
          background-position: center;
          background-size: 18px 18px;
        }
      }
    }
    tfoot {
      tr {
        border: 0 !important;
      }
      border-top: 1px solid #ccc;
    }
    span.table-content {
      display: block;
    }
    span.error {
      display: block;
      color: red;
      font-style: italic;
    }
    span.user {
      &::after {
        content: ", ";
      }
      &:last-child::after {
        content: "";
      }
    }
  }

  .units-valid-table {
    min-width: 965px;
    thead {
      font-size: 14px;
    }
    tfoot {
      tr {
        border: 0 !important;
      }
      border-top: 1px solid #ccc;
    }
    & > tbody {
      &:after, &:before {
        content: ' ';
        display: block;
        height: 10px;
        color: transparent;
      }
      tr {
        border: 0 !important;
        font-size: 13px;
        td {
          vertical-align: top;
          overflow: hidden;
        }
        td:first-child {
          padding: 0 !important;
          text-align: center;
          height: 1px;
          min-width: 70px;
          .row-index {
            display: block;
            float: left;
            width: 15px;
            min-height: 50px;
            height: 100%;
            line-height: 42px;
            .index-arrow {
              display: block;
              background: url(../img/arrow.png);
              position: relative;
              cursor: pointer;
              width: 10px;
              height: 4px;
              top: -9px;
              left: 1px;
            }
            .index-arrow.closed {
              transform: scaleY(-1);
            }
          }
          .vertical-line {
            display: block;
            width: 10px;
            min-height: 20px;
            height: 100%;
            float: left;
            border-left: 1px solid #000;
            margin-left: 6px;
          }
        }

        td:last-child {
          text-align: left;
          button {
            width: 16px;
            height: 16px;
            margin-right: 10px;
          }
          .add-unit {
            background: url(../img/add_new.png) no-repeat;
            width: 16px;
            height: 16px;
            margin-left: 5px;
            margin-right: 5px;
          }
          .edit-unit {
            width: 16px;
            height: 16px;
            margin-right: 5px;
            margin-left: 5px;
            background: url(../img/edit.png) no-repeat;
          }
          .delete-unit {
            width: 16px;
            height: 16px;
            margin-right: 5px;
            margin-left: 5px;
            background: url(../img/delete.png) no-repeat;
          }
          .lock-unit {
            width: 14px;
            height: 16px;
            margin-right: 5px;
            margin-left: 5px;
            background: url(../img/lock.png) no-repeat;
          }
          .unlock-unit {
            width: 14px;
            height: 16px;
            margin-right: 5px;
            margin-left: 5px;
            background: url(../img/unlock.png) no-repeat;
          }
          .restore-unit {
            width: 16px;
            height: 14px;
            margin-right: 5px;
            margin-left: 5px;
            background: url(../img/restore.png) no-repeat;
          }
          .resume-unit {
            width: 16px;
            height: 16px;
            margin-right: 5px;
            margin-left: 5px;
            background: url(../img/resume.png) no-repeat;
          }
          .stop-unit {
            width: 16px;
            height: 16px;
            margin-right: 5px;
            margin-left: 5px;
            background: url(../img/stop.png) no-repeat;
          }
        }
      }
    }
  }

  button.update-tree {
    width: 190px;
    height: 40px;
    background-color: #40dba2;
    color: #fff;
  }
  button.load-allow {
    background: #40dba2;
    color: white;
  }
  button.load-deny {
    background: #7f7f7f;
    border-color: #7f7f7f;
    color: white;
  }
}

.units-load-error-modal, .employees-load-error-modal {
  width: 435px !important;

  .modal-content {
    background-color: #d94b40;
    color: white;
    text-align: left;

    h3 {
      text-align: center;
    }

    hr {
      border-color: white;
    }
  }
  .modal-dialog {
    width: 435px !important;
  }

  .buttons {
    margin-top: 20px !important;
    text-align: center;

    .main-button {
      float: none !important;
      background-color: white;
      color: black;
      padding: 7px 25px;
      margin-top: 0px;
    }
  }
}

.edit-unit-modal, .add-unit-modal, .employee-modal {
  width: 600px;
  top: 5%;
  .modal-input {
    margin-bottom: 55px;
    text-align: left;
    .modal-label {
      display: block;
      font-size: 12px;
      color: #ccc;
      padding-left: 30px;
    }

    .icon {
      width: 30px;
      float: left;
      margin-top: 5px;
      span {
        &::before {
          font-size: 20px;
        }
      }
    }
    .input {
      float: left;
      width: calc(100% - 30px);
      input {
        text-indent: 0px;
        margin-bottom: 0px;
      }
    }
  }
  .head-officers {
    text-align: left;
    padding-left: 30px;
    margin: 25px 0px;
    .list-label {
      font-size: 13px;
      font-weight: 800;
      cursor: pointer;
      .arrow {
        padding-bottom: 2px;
        content: url(../img/arrow.png);

      }
      .arrow.open {
        padding-top: 2px;
        transform: scaleY(-1);
      }
    }
    .officers-list {
      max-height: 180px;
      overflow-y: scroll;
      .officer {
        display: table-row;
        .index {
          display: table-cell;
          width: 15px;
        }
        .officer-info {
          display: table-cell;
          padding: 5px 0px;
          .officer-path {
            color: #ccc;
            font-size: 11px;
          }
        }
      }
    }
    .officers-list::-webkit-scrollbar-track {
      background-color: #fff;
    }

    .officers-list::-webkit-scrollbar {
      width: 6px;
      background-color: #fff;
    }

    .officers-list::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #000 !important;
    }
  }
  .buttons {
    padding-left: 120px;
    .save {
      background: #40dba2 !important;
      color: #fff !important;
    }
    button {
      height: 35px !important;
      border: 1px solid #40dba2 !important;
      color: #40dba2 !important;
      background: #fff !important;
      line-height: 0 !important;
    }
  }
  .main-input {
    height: 35px;
  }
  .ui-select-multiple {
    height: 35px !important;
    padding-left: 0px !important;
  }
  .ui-select-match > span.select-item-wrap {
    margin-top: 3px !important;
  }

  .units-tree-selector-modal {
    width: 930px;
    top: -6%;
    right: 25%;
    .modal-content {
      padding: 15px 25px 0px 25px;
    }
    .units-tree-filter {
      height: 65px;
      margin-top: 30px;
      .filter-label {
        float: left;
        margin-right: 15px;
        width: 82px;
        span {
          font-size: 18px;
        }
      }
      .filter-input {
        width: calc(100% - 100px - 82px - 30px);
        float: left;
        margin-right: 15px;
        input {
          text-indent: 35px !important;
          background-color: #fff !important;
        }
      }
      .apply-filter {
        width: 100px;
        float: left;
      }
    }
    .units-tree-label {
      padding-top: 25px;
    }
    .units-tree-buttons {
      padding-top: 15px;
    }
    .units-tree {
      height: 300px;
      overflow-y: scroll;
      .units-tree-item {
        width: 100%;
        .units-tree-item-control {
          text-align: left;
          clear: both;
          min-height: 30px;
          .unit-arrow {
            cursor: pointer;
            float: left;
            width: 9px;
            height: 4px;
            background: url(../img/arrow.png) no-repeat;
            margin-top: 8px;
          }
          .unit-arrow.up {
            cursor: pointer;
            float: left;
            width: 9px;
            height: 4px;
            background: url(../img/arrow.png) no-repeat;
            transform: scaleY(-1);
            margin-top: 8px;
          }
          .unit-arrow.hidden {
            display: block !important;
            cursor: default;
            float: left;
            width: 9px;
            height: 4px;
            background: none;
            margin-top: 8px;
          }
          .unit-checkbox {
            float: left;
            width: 28px;
            margin-left: 5px;
            height: 20px;
          }
          .unit-name {
            float: left;
            width: calc(100% - 42px);
          }
        }
      }
      .units-tree-item.child {
        padding-left: 40px;
      }
    }

    .units-tree::-webkit-scrollbar-track, .employeesList.show::-webkit-scrollbar-track {
      background-color: #fff;
    }

    .units-tree::-webkit-scrollbar, .employeesList.show::-webkit-scrollbar {
      width: 6px;
      background-color: #fff;
    }

    .units-tree::-webkit-scrollbar-thumb, .employeesList.show::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #000;
    }
  }
}

//END LOAD UNITS

.units-add-modal {
  width: 800px;
  top: 20%;

  .modal-content {
    padding: 10px 10px 0 10px;
  }

  .ui-select-search.filled {
    height: 0px;
  }

  .table-wrapper {
    &::-webkit-scrollbar-track, .employeesList.show::-webkit-scrollbar-track {
      background-color: #fff;
    }

    &::-webkit-scrollbar, .employeesList.show::-webkit-scrollbar {
      width: 6px;
      background-color: #fff;
    }

    &::-webkit-scrollbar-thumb, .employeesList.show::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #000;
    }
  }

  .units-error-table {
    th {
      font-family: OpenSansRegular;
      vertical-align: middle;
      font-weight: 800;
      padding-bottom: 15px;
    }
    tbody > tr > td > div > button {
      width: 19px;
      height: 19px;
      margin-right: 10px;
    }
    .delete-unit {
      border: none;
      background: url(../img/del.png) no-repeat;
    }
  }
  & > .main-button {
    background-color: #40dba2;
    color: white;
    height: 32px !important;
    line-height: 2.3 !important;
    &:last-child {
      border: 1px solid #40dba2;
      background-color: white;
      color: #40dba2;
    }
  }
  .deny-save {
    background: #7f7f7f;
    border-color: #7f7f7f;
    color: white;
  }
  .units-tree-selector-modal {
    width: 930px;
    top: -15%;
    right: 8%;
    .modal-content {
      padding: 15px 25px 0px 25px;
    }
    .units-tree-filter {
      height: 65px;
      margin-top: 30px;
      .filter-label {
        float: left;
        margin-right: 15px;
        width: 82px;
        span {
          font-size: 18px;
        }
      }
      .filter-input {
        width: calc(100% - 100px - 82px - 30px);
        float: left;
        margin-right: 15px;
        input {
          text-indent: 35px !important;
          background-color: #fff !important;
        }
      }
      .apply-filter {
        width: 100px;
        float: left;
      }
    }
    .units-tree-label {
      padding-top: 35px;
    }
    .units-tree-buttons {
      padding-top: 20px;
    }
    .units-tree {
      height: 300px;
      overflow-y: scroll;
      .units-tree-item {
        width: 100%;
        .units-tree-item-control {
          text-align: left;
          clear: both;
          min-height: 30px;
          .unit-arrow {
            cursor: pointer;
            float: left;
            width: 9px;
            height: 4px;
            background: url(../img/arrow.png) no-repeat;
            margin-top: 8px;
          }
          .unit-arrow.up {
            cursor: pointer;
            float: left;
            width: 9px;
            height: 4px;
            background: url(../img/arrow.png) no-repeat;
            transform: scaleY(-1);
            margin-top: 8px;
          }
          .unit-arrow.hidden {
            display: block !important;
            cursor: default;
            float: left;
            width: 9px;
            height: 4px;
            background: none;
            margin-top: 8px;
          }
          .unit-checkbox {
            float: left;
            width: 28px;
            margin-left: 5px;
            height: 20px;
          }
          .unit-name {
            float: left;
            width: calc(100% - 42px);
          }
        }
      }
      .units-tree-item.child {
        padding-left: 40px;
      }
    }

    .units-tree::-webkit-scrollbar-track, .employeesList.show::-webkit-scrollbar-track {
      background-color: #fff;
    }

    .units-tree::-webkit-scrollbar, .employeesList.show::-webkit-scrollbar {
      width: 6px;
      background-color: #fff;
    }

    .units-tree::-webkit-scrollbar-thumb, .employeesList.show::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #000;
    }
  }
}

.table-filter {
  padding: 20px 12px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  /*overflow: hidden;*/

  .units-tree-selector-modal modal-header > h3 {
    color: black;
    font-family: OpenSansRegular;
    font-size: 18px;
  }

  .ui-select-match-single {
    background-color: #f9f9f9;
  }

  .ui-calendar > input {
    background: transparent;
    padding-top: 15px;
  }

  .calendar-without-icon {
    .ui-calendar > input {
      padding-left: 0px;
    }
  }

  button {
    height: 34px;
    width: 120px;
  }

  input {
    margin-bottom: 0px;
    background-color: #f9f9f9;
  }

  .ui-select-container {
    background-color: #f9f9f9;
    .selector-placeholder {
      color: rgb(51, 51, 51) !important;
    }
  }

  .ui-select-toggle {
    background-color: #f7f7f7 !important;
  }

  .icon-selector {
    color: black !important;
  }

  div.adv-show {
    margin-bottom: 15px !important;
  }

  /*.modal-header {
    position: absolute;
    top: -7px;
    right: -75px;
    color: #fff;
  }*/

  .modal-header .close {
    right: -75px;
    top: -6px;
  }

  & > div > span {
    position: absolute;
    font-size: 25px;
    margin-top: 5px;
  }
  .search-buttons {
    div {
      float: left;
      width: 50%;
    }
    .search-button {
      text-align: center;
      & > button {
        float: none;
      }
    }
    .adv-search {
      float: right;
      span {
        cursor: pointer;
        font-size: 14px;
        border-bottom: 1px dashed #000;
        color: black;
        line-height: 30px;
      }
    }
  }
  .search-left-align {
    text-align: left !important;
    & > button {
      float: left;
    }
  }
  .ui-select-match-text {
    font-size: 16px;
    line-height: 16px;
  }
  .ui-select-container {
    &:focus {
      outline: none;
    }
  }
  .ui-select-toggle {
    border: 0;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0px;
    padding-left: 35px;
    padding-bottom: 5px;
    &:hover {
      background-color: #fff;
    }
    .ui-select-placeholder.text-muted {
      font-size: 16px;
      line-height: 16px;
    }
  }
  .ui-select-search {
    border-radius: 0px;
    box-shadow: none;
    outline: none;
    text-indent: 25px;
    font-size: 16px;
  }
  .glyphicon-remove {
    display: none;
  }
}

/* CUSTOM MODAL BACKDROP */
.modal {
  background: rgba(0, 0, 0, 0.8);
}

.modal-backdrop {
  display: none;
}

.modal-open .modal {
  overflow: visible !important;
}

/**/

/* UNITS TREE SELECTOR MODAL */

.units-tree-selector-modal {
  width: 930px;
  top: 15%;
  .modal-content {
    padding: 15px 25px 0px 25px;
  }
  .units-tree-filter {
    height: 65px;
    margin-top: 30px;
    .filter-label {
      float: left;
      margin-right: 15px;
      width: 82px;
      span {
        font-size: 18px;
      }
    }
    .filter-input {
      width: calc(100% - 100px - 82px - 30px);
      float: left;
      margin-right: 15px;
      input {
        background-color: #fff !important;
      }
    }
    .apply-filter {
      width: 100px;
      float: left;
    }
  }
  .units-tree-label {
    padding-top: 35px;
  }
  .units-tree-buttons {
    padding-top: 20px;
  }
  .units-tree {
    height: 300px;
    overflow-y: scroll;
    .units-tree-item {
      width: 100%;
      .units-tree-item-control {
        text-align: left;
        clear: both;
        min-height: 30px;
        .unit-arrow {
          cursor: pointer;
          float: left;
          width: 9px;
          height: 4px;
          background: url(../img/arrow.png) no-repeat;
          margin-top: 8px;
        }
        .unit-arrow.up {
          cursor: pointer;
          float: left;
          width: 9px;
          height: 4px;
          background: url(../img/arrow.png) no-repeat;
          transform: scaleY(-1);
          margin-top: 8px;
        }
        .unit-arrow.hidden {
          display: block !important;
          cursor: default;
          float: left;
          width: 9px;
          height: 4px;
          background: none;
          margin-top: 8px;
        }
        .unit-checkbox {
          float: left;
          width: 28px;
          margin-left: 5px;
          height: 20px;
        }
        .unit-name {
          float: left;
          width: calc(100% - 42px);
        }
      }
    }
    .units-tree-item.child {
      padding-left: 40px;
    }
  }

  .units-tree::-webkit-scrollbar-track, .employeesList.show::-webkit-scrollbar-track {
    background-color: #fff;
  }

  .units-tree::-webkit-scrollbar, .employeesList.show::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
  }

  .units-tree::-webkit-scrollbar-thumb, .employeesList.show::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #000;
  }
}

/**/

.triStateCheckbox {
  .ui-chkbox {
    display: block !important;
    float: left !important;
    margin-right: 12px !important;
  }
  .ui-chkbox-box {
    position: relative;
    top: -2px;
    left: 4px;
    width: 15px !important;
    height: 15px !important;
    border-radius: 0px !important;
    border-color: #000 !important;
    margin-top: 5px !important;
  }
  .ui-chkbox-box.ui-state-active {
    background-color: #fff !important;
    color: #000000 !important;
  }
  .ui-chkbox-label {
    vertical-align: middle;
    font-family: OpenSansLight;
    font-weight: 500;
    padding-top: 14px;
    padding-left: 5px;
    font-size: 18px;
    line-height: 28px;
    margin-left: 32px;
    display: block;
  }
  .fa-check:before {
    display: block;
    content: url(../img/checkbox.png) !important;
    position: relative;
    top: -1px;
    left: 0px;
  }
  .fa-close:before {
    display: block;
    content: "–" !important;
    position: relative;
    top: -4px;
    left: 0px;
    transform: scaleY(3.5);
  }
}

label.my-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  vertical-align: top;
  position: relative;
  margin: 3px 0 0 3px;
}

label.my-checkbox:before {
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  content: '\00A0';
  text-align: center;
  line-height: 100%;
}

label.my-checkbox.checked:before {
  //content: '\2714';
  content: url(../img/checkbox.png) !important;
}

label.my-checkbox.disabled:before {
  border: 1px solid gray;
  color: gray;
}

input.my-checkbox[type="checkbox"] {
  display: none;
}

.handle {
  cursor: pointer;
}
