/* Style when highlighting a search. */
.ui-select-highlight {
  font-weight: bold;
}

.ui-select-offscreen {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}


.ui-select-choices-row:hover {
  background-color: #f5f5f5;
}

/* Select2 theme */

/* Mark invalid Select2 */
.ng-dirty.ng-invalid > a.select2-choice {
  border-color: #D44950;
}

.select2-result-single {
  padding-left: 0;
}

.select2-locked > .select2-search-choice-close{
  display:none;
}

.select-locked > .ui-select-match-close{
  display:none;
}

body > .select2-container.open {
  z-index: 9999; /* The z-index Select2 applies to the select2-drop */
}

/* Handle up direction Select2 */
.ui-select-container[theme="select2"].direction-up .ui-select-match {
  border-radius: 4px; /* FIXME hardcoded value :-/ */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.ui-select-container[theme="select2"].direction-up .ui-select-dropdown {
  border-radius: 4px; /* FIXME hardcoded value :-/ */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  border-top-width: 1px;  /* FIXME hardcoded value :-/ */
  border-top-style: solid;

  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);

  margin-top: -4px; /* FIXME hardcoded value :-/ */
}
.ui-select-container[theme="select2"].direction-up .ui-select-dropdown .select2-search {
  margin-top: 4px; /* FIXME hardcoded value :-/ */
}
.ui-select-container[theme="select2"].direction-up.select2-dropdown-open .ui-select-match {
  border-bottom-color: #5897fb;
}

/* Selectize theme */

/* Helper class to show styles when focus */
.selectize-input.selectize-focus{
  border-color: #007FBB !important;
}

/* Fix input width for Selectize theme */
.selectize-control > .selectize-input > input {
  width: 100%;
}

/* Fix dropdown width for Selectize theme */
.selectize-control > .selectize-dropdown {
  width: 100%;
}

/* Mark invalid Selectize */
.ng-dirty.ng-invalid > div.selectize-input {
  border-color: #D44950;
}

/* Handle up direction Selectize */
.ui-select-container[theme="selectize"].direction-up .ui-select-dropdown {
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);

  margin-top: -2px; /* FIXME hardcoded value :-/ */
}

/* Bootstrap theme */

/* Helper class to show styles when focus */
.btn-default-focus {
  color: #333;
  background-color: #EBEBEB;
  border-color: #ADADAD;
  text-decoration: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.ui-select-bootstrap .ui-select-toggle {
  position: relative;
}

.ui-select-bootstrap .ui-select-toggle > .caret {
  position: absolute;
  //height: 10px;
  top: 50%;
  right: 10px;
  margin-top: -2px;
  background: url(../img/arrow_up.png) !important;
}

/* Fix Bootstrap dropdown position when inside a input-group */
.input-group > .ui-select-bootstrap.dropdown {
  /* Instead of relative */
  position: static;
}

.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
  border: 0 !important;
  border-bottom: 1px solid #ccc !important;
  box-shadow: 0 !important;
}
.input-group > .ui-select-bootstrap > input.ui-select-search.form-control.direction-up {
  border-radius: 4px !important; /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.ui-select-bootstrap > .ui-select-match > .btn{
  /* Instead of center because of .btn */
  text-align: left !important;
}

.ui-select-bootstrap > .ui-select-match > .caret {
  position: absolute;
  top: 45%;
  right: 15px;
}

.ui-disabled {
  background-color: #eceeef ;
  border-radius: 4px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0.6;
  top: 0;
  left: 0;
  cursor: not-allowed;
}

/* See Scrollable Menu with Bootstrap 3 http://stackoverflow.com/questions/19227496 */
.ui-select-bootstrap > .ui-select-choices {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  margin-top: -1px;
}

.ui-select-bootstrap .ui-select-choices {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  margin-top: -1px;
}

body > .ui-select-bootstrap.open {
  z-index: 1000; /* Standard Bootstrap dropdown z-index */
}


.ui-select-multiple {
  height: auto;
  padding: 0px 30px 0 35px !important;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  background-color: transparent !important; /* To prevent double background when disabled */
  border: none;
  outline: none;
  height: 1.666666em;
  margin-bottom: 3px;
}

.ui-select-match a.close {
  font-size: 14px !important;
  line-height: 0.75;
  padding-top: 1px !important;
  position: relative;
  right: 2px !important;
  top: -34px !important;
  text-align: center;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  color: #fff;
  background: $close-button-background;
  opacity: 0.8;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  outline: 0;
  margin: 0 3px 3px 0;
}

.ui-select-multiple .ui-select-match-item {
  border: 0 !important;
  background-color: #eee;
  position: relative;
  height: 28px !important;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px !important;
  font-family: OpenSansLight;
  font-size: 18px;
  max-width: 100%;
  min-width: 70px;
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.ui-select-match-single {
  border: 0 !important;
  position: relative;
  height: 28px !important;
  font-family: OpenSansLight;
  font-size: 18px;
  max-width: 100%;
  min-width: 70px;
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  &:hover {
    background-color: #fff;
    cursor: default;
  }
}

.ui-select-multiple .ui-select-match-item.dropping-before:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  margin-right: 2px;
  border-left: 1px solid #428bca;
}

.ui-select-multiple .ui-select-match-item.dropping-after:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  margin-left: 2px;
  border-right: 1px solid #428bca;
}

.ui-select-bootstrap .ui-select-choices-row>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.ui-select-bootstrap .ui-select-choices-row>a:hover, .ui-select-bootstrap .ui-select-choices-row>a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.ui-select-bootstrap .ui-select-choices-row.active>a {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #0000fe !important;
}

.ui-select-bootstrap .ui-select-choices-row.active>a:hover {
  background-color: #0000fe !important;
}

.ui-select-bootstrap .ui-select-choices-row.disabled>a,
.ui-select-bootstrap .ui-select-choices-row.active.disabled>a {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}

/* fix hide/show angular animation */
.ui-select-match.ng-hide-add,
.ui-select-search.ng-hide-add {
  display: none !important;
}

/* Mark invalid Bootstrap */
.ui-select-bootstrap.ng-dirty.ng-invalid > button.btn.ui-select-match {
  border-color: #D44950;
}

/* Handle up direction Bootstrap */
.ui-select-container[theme="bootstrap"].direction-up .ui-select-dropdown {
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
}

.dropdown.form-control {
  border: 0 !important;
  border-bottom: 1px solid #ccc !important;
  box-shadow: none !important;
  border-radius: 0px;
}


//CUSTOM STYLES

.dropdown.form-control.error {
  border-bottom: 1px solid red !important;
}

.org-selector {
  ul:hover {
    background-color: #fff;
  }
  .ui-select-search {
    border: none !important;
    box-shadow: none;
  }
  .ui-select-search.filled {
    height: 0px;
  }
  .ui-select-search.unfilled {
    height: 34px;
  }
  .ui-select-search:read-only {
    background-color: transparent;
  }
  .dropdown-menu {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 300px;
  }
  .ui-select-choices-child {
    & > li {
      border-left: 1px solid #eee;
    }
  }
  .ui-select-choices li div{
    cursor: pointer;
    padding-left: 10px;
    font-family: OpenSansLight;
    font-size: 18px;
    color: #000;
    a {
      text-decoration: none;
      color: #000;
    }
    &:hover {
      background-color: #0000fe;
      color: #fff;
    }
  }

  .disabled {
    cursor: pointer;
    padding-left: 10px;
    font-family: OpenSansLight;
    font-size: 18px;
    color: #ccc !important;
    a {
      text-decoration: none;
      color: #ccc !important;
      div {
        color: #ccc !important;
      }
    }
    &:hover {
      background-color: #fff !important;
      color: #ccc !important;
      a{
        div {
          background-color: #fff !important;
          color: #ccc !important;
        }
      }
    }
  }

  .ui-select-choices-child {
    padding-left: 20px;
  }

  .ui-select-match {
    width: 100%;
  }

  .ui-select-match > span.select-item-wrap {
    display: block;
    float: left;
    max-width: 90%;
    height: 33px;
    margin-top: 1px;
    .ui-select-choices { display: none !important;}
    ul.hover:hover {
      background-color: rgba(0,0,0,0);
    }
  }

  .ui-select-match > span.select-item-wrap.active:hover {
    &:hover {
      .dropdown-menu > li {
        border-left: 1px solid #fff !important;
        padding-left: 5px;
        padding-bottom: 5px;
      }
      .ui-select-choices-row {
        background-color: rgba(0,0,0,0);
      }
      .ui-select-choices-child {
        margin-left: 12px !important;
        padding-left: 5px;
      }
      ul {
        border-left: 1px solid #fff;
      }
      .ui-select-choices {
        display: block !important;;
        position: absolute;
        top: 50%;
        width: 250px;
        z-index: 1500;
        background-color: rgba(0, 0, 0, 0.85);
        overflow: hidden;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 18px;
        padding-right: 10px;
        box-shadow: none;
        border: none;
        border-radius: 10px;
        li {
          border: none;
          padding-bottom: 5px;
        }
        li div {
          padding-left: 5px;
          font-family: OpenSansLight;
          font-size: 14px;
          color: #fff;
          a {
            text-decoration: none;
            color: #fff;
          }
          &:hover {
            background-color: rgba(0,0,0,0);
            color: #fff;
          }
        }
      }
    }
  }
}

.employee-edit-list {
  .ui-select-match {
    position: relative !important;

  }
  .ui-select-search.filled {
    height: 0px;
    margin-bottom: -9px;
  }
  .ui-select-search.unfilled {
    height: 17px;
  }
  .ui-select-multiple .ui-select-match-item {
    border: 0 !important;
    background-color: #eee;
    position: relative;
    height: 20px !important;
    padding-left: 5px;
    padding-right: 10px;
    line-height: 20px;
    border-radius: 10px !important;
    font-family: OpenSansLight;
    font-size: 14px;
    max-width: 100%;
    min-width: 70px;
    margin-right: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    bottom: 8px;
  }
  .selector-placeholder {
    font-size: 14px !important;
    bottom: 2px !important;
  }
  .icon-selector {
    font-size: 18px !important;
    line-height: 8px;
    color: black !important;
  }
  .dropdown.form-control.error {
    border-color: red !important;
  }
  .icon-selector.error {
    color: red !important;
  }
  .dropdown.form-control {
    height: 18px;
  }
  .ui-select-match a.close {
    font-size: 14px !important;
    line-height: 0.75;
    padding-top: 1px !important;
    padding-left: 1px !important;
    position: relative;
    right: 2px !important;
    top: -32px !important;
    text-align: center;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    color: #fff;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEXtpZ+1gLhQAAAACklEQVR4nGNiAAAABgADNjd8qAAAAABJRU5ErkJggg==);
    opacity: 0.8;
  }
  .ui-select-multiple {
    height: auto !important;
    padding: 0px 3px 0 30px !important;
  }
  .ui-select-match > span.select-item-wrap {
    display: block;
    float: left;
    max-width: 90%;
    height: 25px;
    margin-top: 1px;
  }
  .org-selector .ui-select-match > span.select-item-wrap.active:hover:hover .ui-select-choices {
    display: block !important;
    position: absolute;
    top: 50%;
    width: 250px;
    z-index: 1500;
    background-color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 10px;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: -30px;
  }
}

