/* You can add global styles to this file, and also import other style files */
$active-menu-color: #ffff99;
$logo-background: url(../img/logo-background.png);
$left-background: url(../img/left-background.png);
$menu-in-item-border: #666633;
$menu-in-container-background: url(../img/menu-item-background.png);

@font-face {
  font-family: "OpenSansRegular";
  src: url("/fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
  url("/fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
  url("/fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("/fonts/OpenSansLight/OpenSansLight.eot");
  src: url("/fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"),
  url("/fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
  url("/fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansItalic";
  src: url("/fonts/OpenSansItalic/OpenSansItalic.eot");
  src: url("/fonts/OpenSansItalic/OpenSansItalic.eot?#iefix") format("embedded-opentype"),
  url("/fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
  url("/fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("/fonts/RobotoRegular/RobotoRegular.eot");
  src: url("/fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
  url("/fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
  url("/fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@mixin left-menu-icon($url) {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 14px;
  content: $url;
}

@mixin contacts-icon($url) {
  content: url($url);
  display: block;
  float: left;
  margin-right: 8px;
  width: 20px;
  height: 16px;
}

body {
  font-family: "OpenSansLight";
}

.main {
  padding: 0;
  margin: 0;
}

.left {
  padding-right: 0;
  padding-left: 0;
  float:left;
  width: 235px;
  min-width: 235px;
  background: $left-background;
  .logo {
    display: table;
    width: 100%;
    height: 86px;
    background: $logo-background;

    span {
      font: 16px RobotoRegular;
      font-weight: 500;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      color: black;
      text-transform: uppercase;
    }
    span::before {
      content: url(../img/logo.png);
      vertical-align: -50%;
      margin-right: 16px;
    }
  }

  .left-menu {
    width: 100%;
    .menu-header {
      display: table;
      cursor: pointer;
      outline: none;
      width: 100%;
      height: 75px;
      span {
        display: table-cell;
        vertical-align: middle;
        text-transform: uppercase;
        line-height: 25px;
        font-size: 14px;
        color: #000;
        text-align: left;
        padding-left: 25px;
      }
      .browser-icon::before {
        @include left-menu-icon(url(../img/svg/browser.svg));
      }
      .list-icon::before {
        @include left-menu-icon(url(../img/svg/list.svg));
      }
      .notepad-icon::before {
        @include left-menu-icon(url(../img/svg/notepad.svg));
      }
      .database-icon::before {
        @include left-menu-icon(url(../img/svg/database.svg));
      }
      .mail-icon::before {
        @include left-menu-icon(url(../img/svg/mail.svg));
      }
      .user-icon::before {
        @include left-menu-icon(url(../img/svg/user.svg));
      }
    }
    .menu-header.active {
      background: $active-menu-color;
    }
    .menu-header.active::after {
      content: '';
      display: block;
      position: relative;
      right: -1px;
      top: 16px;
      height: 0;
      border-top: 20px solid transparent;
      border-right: 16px solid #fff;
      border-bottom: 20px solid transparent;
    }

    .menu-in {
      display: none;
      opacity: 0;
      .menu-in-container {
        padding: 30px 5px 30px 47px;
        background: $menu-in-container-background;
        .menu-in-item {
          position: relative;
          left: -1px;
          font-size: 14px;
          margin-bottom: 10px;
          padding-left: 23px;
          border-left: 1px solid transparent;
          cursor: pointer;
        }
        .menu-in-item:hover {
          font-family: OpenSansRegular;

        }
        .menu-in-item.active {
          border-left: 1px solid $menu-in-item-border;
        }
        .menu-in-item:last-child {
          margin-bottom: 0px;
        }
        .item-list {
          border-left: 1px solid #ccc;
        }
      }
    }
    .menu-in.show {
      display: block;
      opacity: 1;
      background-color: #fff;
    }

  }
  .left-bottom {
    .contacts {
      margin-left: 30px;
      margin-top: 60px;
      margin-bottom: 60px;
      p {
        margin-bottom: 15px;
      }
      p:last-child {
        margin-bottom: 0px;
      }
      .studio {
        margin-bottom: 28px;
      }
      .tel::before {
        @include contacts-icon('../img/svg/phone-call-left-bottom.svg');
      }
      .mail::before {
        @include contacts-icon('../img/svg/mail-left-bottom.svg');
      }
      .address::before {
        @include contacts-icon('../img/svg/placeholder-left-bottom.svg');
      }
    }
    .people {
      height: 157px;
      background: url(../img/people.png);
    }
  }
}

.right {
  .right-header {
    padding: 30px 59px 30px 59px;
    height: 86px;
    .links {
      width: 62%;
      float: left;
      a {
        text-decoration: none;
        color: #000;
        margin-left: 20px;
      }
      a.active {
        font-family: OpenSansRegular;
        color: #000;
        text-decoration: none;
      }
    }
    .profile {
      width:38%;
      float: right;
      text-align: right;
      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
}









