$icomoon-font-path: "../fonts" !default;

$icon-logo: "\e900";
$icon-archive-7: "\e901";
$icon-briefcase: "\e902";
$icon-browser: "\e903";
$icon-calendar: "\e904";
$icon-chat: "\e905";
$icon-database: "\e906";
$icon-database-13: "\e907";
$icon-direction-signs: "\e908";
$icon-drawing: "\e909";
$icon-engineer: "\e90a";
$icon-folder: "\e90b";
$icon-folder2: "\e90c";
$icon-group: "\e90d";
$icon-house: "\e90e";
$icon-inbox: "\e90f";
$icon-key: "\e910";
$icon-key_new: "\e911";
$icon-light-bulb: "\e912";
$icon-link: "\e913";
$icon-list: "\e914";
$icon-list-edit: "\e915";
$icon-list-lock: "\e916";
$icon-list-remove: "\e917";
$icon-mail: "\e918";
$icon-mail2: "\e919";
$icon-mail-5: "\e91a";
$icon-mail-left-bottom: "\e91b";
$icon-menu: "\e91c";
$icon-museum: "\e91d";
$icon-notepad: "\e91e";
$icon-notepad-10: "\e91f";
$icon-notepad-18: "\e920";
$icon-paper-plane: "\e921";
$icon-phone-call-left-bottom: "\e922";
$icon-placeholder-left-bottom: "\e923";
$icon-plug: "\e924";
$icon-plug-1: "\e925";
$icon-presentation: "\e926";
$icon-send: "\e927";
$icon-set-square: "\e928";
$icon-sign-in: "\e929";
$icon-startup: "\e92a";
$icon-support: "\e92b";
$icon-tag-star: "\e92c";
$icon-user: "\e92d";
$icon-user-21: "\e92e";
$icon-user-22: "\e92f";
$icon-user-31: "\e930";
$icon-user-32: "\e931";
$icon-user-35: "\e932";
$icon-user-51: "\e933";

