<ul [class.ui-select-choices-row]="child" [class.ui-select-choices]="!child" [class.ui-select-choices-child]="child" [class.dropdown-menu]="!child"  style="display: block;" role="menu">
    <template ngFor let-item [ngForOf]="items">
        <li *ngIf="isShow(item)">
            <div class="ui-select-choices-row" [class.disabled]="type == 'tag' && !isEnable(item)">
                <a (click)="selectItem(item)" class="dropdown-item">
                    <div>{{item.name}}</div>
                </a>
            </div>
            <tree-view [inputUnitsArrayCopy]="inputUnitsArrayCopy" (select)="pushItemUp($event)" [child]="true" [items]="item.nodes"></tree-view>
        </li>
    </template>
    <!--<li *ngFor="let item of items">-->
        <!--<div class="ui-select-choices-row" [class.disabled]="type == 'tag' && !isEnable(item)">-->
            <!--<a (click)="selectItem(item)" class="dropdown-item">-->
                <!--<div>{{item.name}}</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<tree-view [inputUnitsArrayCopy]="inputUnitsArrayCopy" (select)="pushItemUp($event)" [child]="true" [items]="item.nodes"></tree-view>-->
    <!--</li>-->
</ul>