<span class="icon-{{iconClass}} icon-selector" [class.error]="error" style="font-size: 25px;
    position: absolute; z-index: 100; color: #ccc; margin-top: 5px;" [style.color]="(error) ? 'red' : '#ccc'"></span>
<div #orgSelectorForm (focus)="toggleTreeShow(true)" (blur)="toggleTreeShow(false)"
     class="ui-select-container ui-select-multiple org-selector dropdown form-control open" tabindex="0" [class.error]="error">
    <span class="ui-select-match">
        <span *ngFor="let item of selectedItems" class="select-item-wrap" [class.active]="item.nodes.length > 0 && showToolTip">
            <span class="ui-select-match-item btn btn-default btn-secondary btn-xs" type="button">
            <span>{{item.name}}</span>
            </span>
            <a class="close" (click)="deleteSelectedItem(unitArray, selectedItems ,item)"
               style="margin-left: 5px; padding: 0;">×</a>
            <tree-view [inputUnitsArrayCopy]="inputUnitsArrayCopy" [child]="false" *ngIf="unitArray" [items]="item.nodes" [type]="type"></tree-view>
        </span>
    </span>
    <input (click)="el.nativeElement.focus();" [style.padding-top]="'0px'" [style.padding-bottom]="'0px'"
           [class.unfilled]="(selectedItems.length == 0)" [class.filled]="!(selectedItems.length == 0)" class="form-control ui-select-search"
           role="combobox" spellcheck="false" type="text" placeholder="">
    <span class="selector-placeholder" style="position: absolute; bottom: 6px; color: #bbb; font-size: 16px;" *ngIf="selectedItems.length == 0" [style.color]="(error) ? 'red' : '#ccc'">{{placeHolderText}}</span>
    <tree-view [inputUnitsArrayCopy]="inputUnitsArrayCopy" (select)="getSelectedItem($event)" [child]="false" *ngIf="unitArray && treeShow"
               [items]="unitArray" [type]="type"></tree-view>
</div>