<div class="col-lg-15 col-lg-offset-1 col-md-15 col-md-offset-1 col-sm-15 col-sm-offset-1">
    <div class="content-header">
        <span>Просмотр сотрудников</span>
        <div class="content-header-button">
            <button routerLink="/employees/new" class="main-button">Добавить</button>
        </div>
    </div>
    <div class="content-description">
      Просмотр и администрирование сотрудников в составе организаций и поздразделений.
    </div>
</div>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 table-filter">
    <div class="unit-name col-sm-15" [class.adv-show]="true" [class.col-sm-12]="showAdvFilter">
        <span class="icon-engineer"></span>
        <input type="text" class="main-input" placeholder="ФИО" [(ngModel)]="filteredFullName" (keyup.enter)="applyFilter()">
    </div>
    <div class="unit-name col-sm-12" [class.adv-show]="showAdvFilter" *ngIf="showAdvFilter">
        <span class="icon-mail"></span>
        <input type="text" class="main-input" placeholder="Почта (email)" [(ngModel)]="filteredEmail" (keyup.enter)="applyFilter()">
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <span class="icon-startup"></span>
        <input type="text" class="main-input" placeholder="Должность" [(ngModel)]="filteredPosition" (keyup.enter)="applyFilter()">
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <units-tree-selector
                #orgSelector
                *ngIf="unitsTree"
                [singleSelect]="true"
                [iconClass]="'house'"
                (change)="orgSelectorChange($event)"
                [placeHolderText]="'Название подразделения'"
                [inputUnitsArray]="unitsTree"
                [type]="'unit'"></units-tree-selector>
    </div>
    <div class="search-buttons col-sm-9">
        <div class="search-button" [class.search-left-align]="showAdvFilter">
            <button class="main-button" (click)="applyFilter()">Найти</button>
        </div>
        <div class="adv-search">
            <span (click)="toggleShowFilter()" *ngIf="!showAdvFilter">расширенный поиск</span>
            <span (click)="toggleShowFilter()" *ngIf="showAdvFilter">стандартный поиск</span>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 item-list">
    <table>
        <tr>
            <th width="5%" style="text-align: center">№</th>
            <th width="30%">Фамилия, имя, отчество</th>
            <th width="20%">Почта (email)</th>
            <th width="15%">Должность</th>
            <th width="20%">Подразделение</th>
            <th style="text-align: left"></th>
        </tr>
        <tr *ngFor="let employee of employees; let i = index" [class.deleted]="employee.status=='DELETED'" [class.blocked]="employee.status=='LOCKED'">
            <td>{{i + 1 + (pagination.number-1)*pagination.size}}.</td>
            <td><a routerLink="/employees/{{employee.id}}">{{employee.fullName}}</a></td>
            <td>{{employee.email}}</td>
            <td>{{employee.position}}</td>
            <td>
                <a *ngIf="user.hasAccess(employee.unit, 'READ')" routerLink="/units/{{employee.unit.id}}">{{employee.unit.name}}</a>
                <a class="disable" *ngIf="!user.hasAccess(employee.unit, 'READ')">{{employee.unit.name}}</a>
            </td>
            <td class="row-actions">
                <button title="Редактировать сотрудника" (click)="editEmployee(employee.id)" *ngIf="employee.status!='DELETED'" class="edit-unit"></button>
                <button title="Удалить сотрудника" *ngIf="employee.status!='DELETED'" class="delete-unit" (click)="changeEmployee(employee.id, 'delete'); myModal.open()"></button>
                <button title="Восстановить сотрудника" *ngIf="employee.status=='DELETED'" class="restore-unit" (click)="changeEmployee(employee.id, 'recovery'); myModal.open()"></button>
            </td>
        </tr>
    </table>
</div>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 legend">
    <span>Цветовые обозначения сотрудников:</span>
    <span class="legend-value deleted">Удален</span>
    <span class="legend-value">Активный</span>
</div>
<pagination *ngIf="pagination.totalElements > 10" (change)="changePagination($event)" [params]="pagination"></pagination>
<modal #myModal>
    <modal-header>
        <h3>{{modalHeader}}</h3>
    </modal-header>
    <modal-content>
        <hr>
        {{modalText}} <span [class.red]="modalBlock" [class.blue]="modalRecover">{{modalEmployeeName}}?</span>
        <div class="buttons" style="margin-top: 30px !important;">
            <a [class.red]="modalDelete" [class.gray]="modalError" [class.blue]="modalRecover" (click)="changeEmployeeAction();" class="main-button">{{modalSubmitButtonText}}</a>
            <a [class.red]="modalDelete" [class.blue]="modalRecover" (click)="myModal.close();" class="main-button">Отмена</a>
        </div>
    </modal-content>
    <modal-footer>
        <div *ngIf="modalError" class="modal-error" style="
        height: 120px;
        background-color: #d94b40;
        width: 370px;
        margin-left: -36px;
        color: white;
        padding: 35px 30px;
        text-align: center;
        margin-top: 8px;
        border: 1px solid rgba(0,0,0,0.7);
        border-top: none;
        ">
            <span>Ошибка: {{modalErrorText}}</span>
        </div>
    </modal-footer>
</modal>
