<div class="col-lg-13 col-lg-offset-1 col-md-13 col-md-offset-1 col-sm-13 col-sm-offset-1">
    <div class="content-header">Список отчетов по задачам</div>
    <div class="content-description">
        Страница позволяет просматривать отчеты по задачам (тестированиям). Вы можете отфильтровать список отчетов с помощью времени проведения и шаблона письма.
    </div>
</div>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 table-filter">
    <div class="unit-name col-sm-15" [class.adv-show]="true" [class.col-sm-12]="showAdvFilter">
        <span class="icon-list"></span>
        <input type="text" class="main-input" placeholder="Название задачи" [(ngModel)]="filteredTaskName">
    </div>
    <div class="unit-name col-sm-12" [class.adv-show]="showAdvFilter" *ngIf="showAdvFilter">
        <span class="icon-list"></span>
        <input type="text" class="main-input" placeholder="ФИО создателя задачи" [(ngModel)]="filteredAuthorFIO">
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <div class="col-sm-8" style="padding-top: 10px; padding-left: 0px;">
            <span class="icon-calendar" style="font-size: 25px !important; display: block;float: left;"></span>
            <span style="padding-left: 10px; display: block;float: left; font-size: 18px;">Искать с:</span>
        </div>
        <div class="col-sm-7 calendar-without-icon">
            <p-calendar [(ngModel)]="selectedDateFirst" [styleClass]="'withoutTime'" [showTime]="false" [locale]="datePicker.ru" dateFormat="d.mm.yy"></p-calendar>
        </div>
        <div class="col-sm-2" style="text-align: center; font-size: 18px; line-height: 36px;">по</div>
        <div class="col-sm-7 calendar-without-icon" style="padding-right: 0px;">
            <p-calendar [(ngModel)]="selectedDateSecond" [styleClass]="'withoutTime'" [showTime]="false" [locale]="datePicker.ru" dateFormat="d.mm.yy"></p-calendar>
        </div>
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <span style="z-index: 100; color: #000;" class="icon-mail-5"></span>
        <ng-select #statusSelector [allowClear]="true"
                   [items]="templatesItems"
                   [disabled]="false"
                   (data)="refreshTemplateValue($event)"
                   placeholder="Шаблон email письма">
        </ng-select>
    </div>
    <div style="clear: both" *ngIf="showAdvFilter"></div>
    <div class="search-buttons col-sm-9" [class.search-left-align]="showAdvFilter">
        <div class="search-button" [class.search-left-align]="showAdvFilter">
            <button class="main-button" (click)="applyFilter()">Найти</button>
        </div>
        <div class="adv-search">
            <span (click)="toggleShowFilter()" *ngIf="!showAdvFilter">расширенный поиск</span>
            <span (click)="toggleShowFilter()" *ngIf="showAdvFilter">стандартный поиск</span>
        </div>
    </div>
</div>


<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 item-list" style="margin-bottom: 35px;">
    <table>
        <tr>
            <th width="5%" style="text-align: center">№</th>
            <th width="30%">Задача и создатель</th>
            <th width="20%">Даты проведения</th>
            <th width="15%">Шаблон письма</th>
            <th width="15%">Кол-во</th>
            <th style="text-align: left">Результат</th>
        </tr>
        <tr *ngFor="let report of reports; let i = index">
            <td>{{i + 1 + (pagination.number-1)*pagination.size}}.</td>
            <td><a routerLink="/reports/tasks/{{report.id}}">{{report.name}}</a><br><span class="bold-text">{{report.shortName}}</span></td>
            <td><span class="bold-text">{{report.startDate | date: 'dd.MM.yyyy'}} - {{report.endDate | date: 'dd.MM.yyyy'}}</span></td>
            <td>
                <a style="cursor: pointer;" (click)="templatePreviewLoad(report.template.id)">{{report.template.name}}</a>
            </td>
            <td>
               {{report.taskResult.totalCount}} чел.
            </td>
            <td style="font-weight: 800; text-align: left;">
                <span style="color: #d94b44;">{{report.taskResult.badCount}} уязвимых ({{report.taskResult.badPercent}}%)</span>
                <br>
                <span style="color: #53cf9c;">{{report.taskResult.goodCount}} компетентных</span>
            </td>
        </tr>
    </table>
</div>
<pagination *ngIf="pagination.totalPages > 1" (change)="changePagination($event)" [params]="pagination"></pagination>

<modal modalClass="mailTemplateShowModal" #mailTemplateShowModal>
    <modal-header>
        <h3>{{templateName}}</h3>
        <hr>
    </modal-header>
    <modal-content>
        <iframe [srcdoc]="templateHtml | safeHtml" class="mail-template-content"></iframe>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>