<div class="col-lg-13 col-lg-offset-1 col-md-16 col-md-offset-1 col-sm-23 col-sm-offset-1">
    <div class="content-header">Создание шаблона письма</div>
    <div class="content-description">
        С помощью данной страницы администратор может создать шаблон письма.
    </div>
    <div class="deleted-error" style="margin-bottom: 30px;">
        Рекомендации: файл должен быть оформлен по шаблону, который Вы можете скачать ниже. Порядок и название столбцов должны совпадать.
        <button style="
        display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #408ddb;
    padding: 5px 25px;
    height: 35px;
    border-color: #408ddb !important;" (click)="getTemplateFile()">Скачать шаблон файла</button>
    </div>
    <div class="item-info-form">
        <div class="form-content">
            <div [class.error]="fillFormError && template['name'] == 0">
                <span class="icon-mail-5"></span>
                <input type="text" placeholder="Название шаблона" [(ngModel)]="template['name']">
            </div>
        </div>
        <div class="form-content">
            <div class="task-template"
                 style="height: 70px; float: left; width: 100%; margin-right: 20px;">
                <span style="z-index: 100;" class="icon-inbox"></span>
                <ng-select #templateGroupsSelector
                           [allowClear]="true"
                           [items]="templateGroupsItems"
                           [disabled]="false"
                           (data)="refreshTemplateGroupValue($event)"
                           placeholder="Тип шаблона письма" *ngIf="templateGroupsItems">
                </ng-select>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div class="form-content">
            <div [class.error]="fillFormError && template['subject'] == 0">
                <span class="icon-chat"></span>
                <input type="text" placeholder="Тема шаблона письма" [(ngModel)]="template['subject']">
            </div>
        </div>
        <div class="form-content">
            <div [class.error]="fillFormError && template['fromAddress'] == 0">
                <span class="icon-mail2"></span>
                <input type="text" placeholder="Email отправителя" [(ngModel)]="template['fromAddress']">
            </div>
        </div>
        <div class="form-content">
            <div [class.error]="fillFormError && template['fromPersonal'] == 0">
                <span class="icon-send"></span>
                <input type="text" placeholder="Имя отправителя" [(ngModel)]="template['fromPersonal']">
            </div>
        </div>
        <div class="form-content">
            <div [class.error]="(urlError && template['redirectUri'].length != 0) || (fillFormError && template['redirectUri'].length == 0)"
                 style="width: calc(100% - 140px); float: left;">
                <span class="icon-direction-signs"></span>
                <input type="text" placeholder="Адрес перехода" [(ngModel)]="template['redirectUri']" (keyup)="checkUrl()">
            </div>
            <div style="width: 121px; float: left; margin-left: 19px;">
                <button (click)="openLink()" class="alter" [class.gray]="urlError">Посмотреть</button>

            </div>
        </div>
        <div style="clear: both;"></div>
        <div class="form-content">
            <div>
                <span class="icon-presentation"></span>
                <span style="font-size: 18px;padding-left: 35px;line-height: 18px;">Описание шаблона</span>
            </div>
        </div>
        <div class="form-content" style="margin-top: 45px;">
            <div class="">
                <textarea [(ngModel)]="template['description']" style="margin: 0px;height: 90px;width: 100%;resize: none;font-size: 16px;outline: none;"></textarea>
            </div>
        </div>
        <div class="form-content" style="margin-top: 20px;">
            <div style="margin-bottom: 30px;">
                <file-uploader [accept]="'*'" [placeholder]="fileLoaderPlaceHolder"
                               (uploaded)="onUpload($event)" [activeColor]="'#408ddb'"
                               [baseColor]="'#9e9e9e'"></file-uploader>
            </div>
            <div class="buttons" style="margin-top: 15px;">
                <button class="left_button" (click)="createTemplate()">Загрузить</button>
            </div>
        </div>
        <div class="inform_label red" style="margin-top: 100px;" *ngIf="fillFormError">{{formErrorText}}</div>
    </div>
</div>

<div class="col-lg-10 col-md-7 hidden-sm">
    <div class="template-image"></div>
</div>