<div class="container-fluid main">
    <div class="row header">
        <div class="col-lg-24 col-md-24 col-sm-24 logo-container">
            <div class="logo">
                <!--<span>RISK GUARD</span>-->
            </div>
        </div>
    </div>
    <div class="form">
        <div class="form_header">
            <span>Забыли пароль?</span>
        </div>
        <div class="form_description" *ngIf="!trueRecover">
            <span>Для восстановления пароля, введите свой логин. Затем вам вышлют на email новый пароль.</span>
        </div>
        <div class="form_description" *ngIf="trueRecover">
            <span>Был создан и выслан на Ваш email новый пароль. При возникновении дополнительных трудностей свяжитесь с администратором системы.</span>
        </div>
        <div class="form_content" *ngIf="!trueRecover">
            <div class="error_message" *ngIf="error">{{errorText}}</div>
            <div id="login" [class.error]="error && recoverLogin.length == 0">
                <span class="icon-engineer"></span>
                <input type="text" placeholder="Email или логин" [(ngModel)]="recoverLogin">
            </div>
            <div class="buttons" style="margin-top: 10px;">
                <button class="left_button" (click)="recoverPassword()" style="width: 195px;">Выслать новый пароль</button>
                <button class="right_button" routerLink="/login" style="width: 100px;">Назад</button>
            </div>
        </div>
        <div class="form_content" *ngIf="trueRecover">
            <div class="buttons" style="margin-top: 10px; text-align: center">
                <button class="right_button" (click)="toLogin()" style="width: 110px; float: none;">Войти</button>
            </div>
        </div>
    </div>
    <div class="bottom">
        <p><span>&copy; ООО «Уайт Софт»</span></p>
        <div class="people"></div>
    </div>
</div>