<div class="col-lg-13 col-lg-offset-1 col-md-16 col-md-offset-1 col-sm-23 col-sm-offset-1">
    <div class="content-header" *ngIf="!taskEdit">Просмотр задачи</div>
    <div class="content-header" *ngIf="taskEdit">Редактирование задачи</div>
    <div class="content-description">
        Просмотр и редактирование задачи на тестирование сотрудников.
    </div>
    <div class="deleted-error" *ngIf="task && !taskEdit && task.status=='SUSPENDED'">
        Данная задача была приостановлена! Вы можете отредактировать её и возобновить, чтобы система продолжила работу с
        ней
        дальше.
    </div>
    <div class="item-info" *ngIf="task && !taskEdit">
        <div class="task-name">
            <span>Название:&nbsp;</span>
            <span class="value">{{task.name}}</span>
        </div>
        <div class="creator">
            <span>Создатель:&nbsp;</span>
            <span class="value">{{task.author}}</span>
        </div>
        <div class="status">
            <span>Статус:&nbsp;</span>
            <span class="value">{{task.statusToString(task.status)}}</span>
        </div>
        <div class="creation-date">
            <span>Дата создания:&nbsp;</span>
            <span class="value">{{creationDateToString}}</span>
        </div>
        <div class="execute-date">
            <span>Дата запуска:&nbsp;</span>
            <span class="value">{{executeDateToString}} в {{task.startDate | date: 'HH:mm'}}</span>
        </div>
        <div class="execute-date">
            <span>Дата завершения:&nbsp;</span>
            <span class="value">{{endDateToString}} в {{task.endDate | date: 'HH:mm'}}</span>
        </div>
        <div class="task-departments">
            <span>Организация:&nbsp;</span>
            <template ngFor let-unit [ngForOf]="task.units">
                <a routerLink="/units/{{unit.id}}" *ngIf="user.hasAccess(unit, 'READ')">{{unit.name}}</a>
                <a class="disable" *ngIf="!user.hasAccess(unit, 'READ')">{{unit.name}}</a>
            </template>
        </div>
        <div class="task-tags">
            <span>Теги:&nbsp;</span>
            <a routerLink="/employee-tags/{{tag.id}}"
               *ngFor="let tag of task.employeeTags; let i = index;">{{tag.name}}</a>
        </div>
        <div class="form-content">
            <button (click)="resetFilterBySecondName(); getEmployeesList(false); employeesListViewModal.open()"
                    style="margin-top: 10px; font-size: 14px;" class="alter">Посмотреть
                список сотрудников
            </button>
        </div>
        <div class="email-template">
            <span>Шаблон:&nbsp;</span>
            <span class="value"><a (click)="templatePreviewLoad(task.template.id)">{{task.template.name}}</a></span>
        </div>
    </div>
    <div class="employees-count" *ngIf="task && !taskEdit">
        <div class="tested-employees">Количество тестируемых сотрудников: <b>{{taskShowEmployees.length}}</b></div>
        <div class="vulnerable-employees red">Количество уязвимых сотрудников: <b>{{vulnerableEmployees}}</b></div>
    </div>
    <div class="buttons" *ngIf="task && !taskEdit"
         style="margin-top: 45px !important; margin-bottom: 120px !important;">
        <button *ngIf="task.status=='SUSPENDED' || task.status == 'EXPIRED'" (click)="toggleEdit()">Редактировать
        </button>
        <button class="red" *ngIf="task.status=='WAITING'" (click)="changeTask(task.id, 'pause'); myModal.open()">
            Приостановить
        </button>
        <button class="blue" *ngIf="task.status=='SUSPENDED' || task.status == 'EXPIRED'"
                (click)="changeTask(task.id, 'resume'); myModal.open()">
            Возобновить
        </button>
        <button class="red" (click)="changeTask(task.id, 'cancel'); myModal.open()">
            Отменить
        </button>
    </div>


    <div class="item-info" *ngIf="changedTask && taskEdit">
        <div class="creation-date">
            <span>Дата создания:&nbsp;</span>
            <span class="value">{{creationDateToString}}</span>
        </div>
        <div class="creator">
            <span>Создатель:&nbsp;</span>
            <span class="value">{{changedTask.author}}</span>
        </div>
        <div class="status">
            <span>Статус:&nbsp;</span>
            <span class="value">{{changedTask.statusToString(changedTask.status)}}</span>
        </div>
        <button class="alter" (click)="copyTaskParamsModal.open();">Скопировать параметры прошлой задачи</button>
    </div>
    <div class="item-info-form" *ngIf="changedTask && taskEdit">
        <div class="form-content">
            <div [class.error]="fillFormError && changedTask.name == ''">
                <span class="icon-list"></span>
                <input [(ngModel)]="changedTask.name" type="text" placeholder="Название задачи">
            </div>
        </div>
        <units-tree-selector #orgSelector *ngIf="unitsTree" (initComplete)="onOrgSelectorInit($event)"
                             [iconClass]="'house'"
                             (change)="orgSelectorChange($event)" [inputUnitsArray]="unitsTree"
                             [startValue]="changedTask.units"
                             [placeHolderText]="'Организация (структурное подразделение)'"></units-tree-selector>
        <tree-selector #tagSelector *ngIf="tagsTree" (initComplete)="onTagSelectorInit($event)" [iconClass]="'tag-star'"
                       (change)="tagSelectorChange($event)" [inputUnitsArray]="tagsTree"
                       [startValue]="changedTask.employeeTags" [placeHolderText]="'Теги сотрудников'"
                       [type]="'tag'"></tree-selector>
        <div class="form-content">
            <button (click)="getEmployeesList(true); employeesListEditModal.open()" class="alter">Редактировать
                сотрудников
                вручную
            </button>
            <button (click)="resetFilterBySecondName(); getEmployeesList(false); employeesListViewModal.open()"
                    style="margin-left: 20px; margin-top: 10px;" class="alter">Просмотр всех сотрудников
            </button>
        </div>
        <div class="employees-count">
            <div class="tested-employees">Количество тестируемых сотрудников: <b>{{countSelectedEmployeesLabel}}</b></div>
        </div>
        <div class="form-content" style="height: 35px; margin-bottom: 35px; margin-top: 35px;">
            <div class="task-template" [class.error]="fillFormError && templatesSelectorValue['id'] == ''" style="height: 70px; width: 73%; float: left;
    margin-right: 20px;">
                <span style="z-index: 100;" class="icon-mail-5"></span>
                <ng-select #templateSelector *ngIf="mailTemplatesItems"
                           [allowClear]="true"
                           [items]="mailTemplatesItems"
                           [disabled]="false"
                           (data)="refreshTemplateValue($event)"
                           placeholder="Выберите шаблон письма">
                </ng-select>
            </div>
            <button class="alter" style="float: right;" (click)="templatePreviewLoad();">Посмотреть</button>
        </div>
        <div class="redirect-settings">
            <div>
                <span>Настройка адреса перехода</span>
            </div>
            <div>
                <div class="radio-buttons" style="margin-bottom: 40px;">
                    <div>
                        <p-radioButton (onClick)="redirectTypeChanged()" value="TEMPLATE_LINK"
                                       [(ngModel)]="selectedRedirectType"></p-radioButton>
                        <span>ссылка из шаблона</span>
                        <span *ngIf="selectedRedirectType == 'TEMPLATE_LINK' && templatesSelectorValue['id'] != ''"
                              class="glyphicon glyphicon-new-window"
                              style="color: #ccc;cursor: pointer;padding-left: 5px;" (click)="goToPage()"></span>
                    </div>
                    <div>
                        <div>
                            <p-radioButton (onClick)="redirectTypeChanged()" value="MOCK_PAGE_LINK"
                                           [(ngModel)]="selectedRedirectType"></p-radioButton>
                            <span>страница-заглушка</span>
                            <span class="glyphicon glyphicon-new-window"
                                  style="color: #ccc; cursor: pointer;padding-left: 5px;"
                                  *ngIf="(selectedRedirectType == 'MOCK_PAGE_LINK') && (mockPageSelectorValue['id'] != '')"
                                  (click)="goToPage()"></span>
                        </div>
                        <div class="redirect-pages" *ngIf="selectedRedirectType == 'MOCK_PAGE_LINK'"
                             [class.error]="fillFormError && mockPageSelectorValue['id'] == ''">
                            <ng-select #mockPageSelector *ngIf="mockPageItems"
                                       [allowClear]="true"
                                       [items]="mockPageItems"
                                       [disabled]="false"
                                       (data)="refreshMockPageValue($event)"
                                       placeholder="Выберите страницу-заглушку">
                            </ng-select>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div>
                        <div>
                            <p-radioButton (onClick)="redirectTypeChanged()" value="CUSTOM_LINK"
                                           [(ngModel)]="selectedRedirectType"></p-radioButton>
                            <span>своя ссылка</span>
                            <span class="glyphicon glyphicon-new-window"
                                  style="color: #ccc;cursor: pointer;padding-left: 5px;"
                                  *ngIf="selectedRedirectType == 'CUSTOM_LINK' && validLink && customUrl != ''"
                                  (click)="goToPage()"></span>
                        </div>
                        <div style="width: calc(100% - 25px); float: right; margin-top: 10px; margin-bottom: 20px;"
                             *ngIf="selectedRedirectType == 'CUSTOM_LINK'">
                            <input type="text" class="main-input" [class.red]="!validLink && customUrl != ''"
                                   style="text-indent: 0px; font-size: 14px; margin-bottom: 0px;"
                                   placeholder="Адрес" (keyup)="validCustomUrl()" [(ngModel)]="customUrl">
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="date-selector"
             [class.datePickerError]="fillFormError && (selectedStartDate == null || selectedEndDate == null)"
             style="margin-bottom: 25px; margin-top: 25px;">
            <span class="date-label">Период задачи:</span>
        </div>
        <div class="date-period-panel">
            <div [class.datePickerError]="fillFormError && selectedStartDate == null">
                <p-calendar (onSelect)="changedStartDate()" [(ngModel)]="selectedStartDate"
                            [placeholder]="'Дата начала задачи'" [showTime]="true" [locale]="datePicker.ru"
                            [minDate]="datePicker.currentDate" dateFormat="d.mm.yy"></p-calendar>
                <span *ngIf="startDateError" class="date-error">Дата должна быть больше текущей</span>
            </div>
            <div [class.datePickerError]="fillFormError && selectedEndDate == null">
                <p-calendar (onSelect)="changedEndDate()" [(ngModel)]="selectedEndDate"
                            [placeholder]="'Дата завершения задачи'" [showTime]="true" [locale]="datePicker.ru"
                            [minDate]="datePicker.currentDate" dateFormat="d.mm.yy"></p-calendar>
                <span *ngIf="endDateError" class="date-error">Дата должна быть больше текущей</span>
            </div>
        </div>
        <div style="clear: both;"></div>
        <button class="left_button" [class.deny-create]="startDateError || endDateError" (click)="saveTask()">
            Сохранить
        </button>
        <div class="inform_label" style="margin-top: 65px;" [class.red]="fillFormError" *ngIf="fillFormError">
            {{formErrorText}}
        </div>
        <div style="margin-bottom: 150px;"></div>
    </div>

</div>

<div class="col-lg-10 col-md-7 hidden-sm">
    <div class="women-image2"></div>
</div>

<modal #myModal>
    <modal-header>
        <h3>{{modalHeader}}</h3>
    </modal-header>
    <modal-content>
        <hr>
        {{modalText}} <span [class.red]="modalBlock" [class.blue]="modalRecover">{{modalTaskName}}?</span>
        <div class="buttons" style="margin-top: 32px !important;">
            <a [class.red]="modalDelete" [class.blue]="modalRecover" (click)="changeTaskAction();"
               class="main-button">{{modalSubmitButtonText}}</a>
            <a [class.red]="modalDelete" [class.blue]="modalRecover" (click)="myModal.close();" class="main-button">Отмена</a>
        </div>
    </modal-content>
    <modal-footer>
        <div *ngIf="modalError" class="modal-error" style="
        height: 120px;
        background-color: #d94b40;
        width: 369px;
        margin-left: -35px;
        color: white;
        padding: 35px 30px;
        text-align: center;
        ">
            <span>Ошибка: {{modalErrorText}}</span>
        </div>
    </modal-footer>
</modal>

<!-- Модалка редактирования списка выбранных сотрудников -->
<modal #employeesListEditModal
       modalClass="employeesListModal"
       (onClose)="employeesListModalClose()"
       (onOpen)="employeesListModalOpen()">
    <modal-header>
        <h3>Добавить сотрудников вручную</h3>
    </modal-header>
    <modal-content>
        <hr/>
        <div class="filter">
            <div class="filter-label">
                <span>Поиск по:</span>
            </div>
            <div class="filter-input">
                <span class="icon-engineer"></span>
                <input type="text"
                       class="main-input"
                       placeholder="ФИО"
                       [(ngModel)]="employeeFilter"
                       (keyup.enter)="updateEmployeeList()">
            </div>
            <div class="apply-filter">
                <button class="main-button"
                        (click)="updateEmployeeList()">
                    Найти
                </button>
            </div>
        </div>
        <span class="text">Вы можете дополнительно добавить сотрудников в вашу задачу с помощью данного окна.</span>
        <div class="employeesList" #employeesList>
            <div style="bottom: 0;
        height: 35px;
        left: 0;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        width: 35px;
        padding-left: 20px;
        padding-top: 20px;" *ngIf="showLoadingSpinner">
                <div class="ball-clip-rotate-multiple" style="">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <template ngFor let-i="index" let-item [ngForOf]="viewEmployeesList" [ngForTrackBy]="trackById">
                <div *ngIf="i < employeesPagination.size*employeesPagination.number && (i > employeesPagination.size*employeesPagination.number - employeesPagination.size - 1)"
                     class="employee"
                     [class.disable]="item.disabled">
                    <p-checkbox [disabled]="item.disabled"
                                [(ngModel)]="item.selected"
                                binary="true" (click)="selectEmployee(item)"></p-checkbox>
                    <div class="info">
                        <span [innerHtml]="item.fullName"></span>
                        <span [innerHtml]="item.unitName"></span>
                    </div>
                </div>
            </template>
        </div>
        <span class="text" style="border-bottom: 1px dashed;">Количество выбранных сотрудников: {{countSelectedEmployees}}</span>
        <div style="height: 25px">
            <employees-list-pagination #employeesPaginationElement (change)="changeEmployeesListPagination()" *ngIf="employeesPagination.totalPages > 1" [params]="employeesPagination"></employees-list-pagination>
        </div>
        <div class="buttons">
            <button (click)="saveSelectedEmployees(); employeesListEditModal.close();" class="left_button">Сохранить
            </button>
            <button (click)="cancelSelectedEmployees(); employeesListEditModal.close();" class="right_button">Отмена
            </button>
        </div>
    </modal-content>
    <modal-footer>
        <!-- почини это, что это и зачем? -->
    </modal-footer>
</modal>

<!-- Модалка просмотра списка выбранных сотрудников -->
<modal #employeesListViewModal
       modalClass="employeesListModal"
       (onClose)="employeesListModalClose()"
       (onOpen)="employeesListModalOpen">
    <modal-header>
        <h3>Просмотр списка сотрудников</h3>
    </modal-header>
    <modal-content>
        <hr/>
        <div class="filter">
            <div class="filter-label">
                <span>Поиск по:</span>
            </div>
            <div class="filter-input">
                <span class="icon-engineer"></span>
                <input type="text"
                       class="main-input"
                       placeholder="ФИО"
                       [(ngModel)]="employeeFilter"
                       (keyup.enter)="updateEmployeeList()">
            </div>
            <div class="apply-filter">
                <button class="main-button"
                        (click)="updateEmployeeList()">
                    Найти
                </button>
            </div>
        </div>
        <span class="text">В данном окне отображается список тестируемых сотрудников по данной задаче.</span>
        <div class="employeesList show" #employeesListView>
            <template ngFor let-i="index" let-item [ngForOf]="viewEmployeesList" [ngForTrackBy]="trackById">
                <div *ngIf="i < employeesPagination.size*employeesPagination.number && (i > employeesPagination.size*employeesPagination.number - employeesPagination.size - 1)"
                     class="employee"
                     [class.disable]="item.disabled">
                    <div class="info info-show">
                        <span [innerHtml]="item.fullName"></span>
                        <span [innerHtml]="item.unitName"></span>
                    </div>
                </div>
            </template>
        </div>
        <span class="text" style="border-bottom: 1px dashed;">Количество выбранных сотрудников: {{countSelectedEmployees}}</span>
        <div style="height: 25px">
            <employees-list-pagination #employeesListViewPagination (change)="changeEmployeesListPagination()" *ngIf="employeesPagination.totalPages > 1" [params]="employeesPagination"></employees-list-pagination>
        </div>
        <div class="buttons" style="margin-left: 65px;">
            <button style="padding-left: 24px !important;" (click)="employeesListViewModal.close();"
                    class="left_button">
                Закрыть
            </button>
        </div>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>

<modal modalClass="taskParamsModal" #copyTaskParamsModal>
    <modal-header>
        <h3>Скопировать параметры с прошлой задачи</h3>
    </modal-header>
    <modal-content>
        <hr>
        Параметры, которые будут скопированы: список организаций, теги сотрудников, шаблон письма и период выполнения
        задачи.
        <div class="item-info-form">
            <div class="form-content">
                <div class="task-template" style="height: 70px; width: 73%; float: left;
        margin-right: 20px;">
                    <span style="z-index: 100;" class="icon-list"></span>
                    <ng-select *ngIf="tasksListItems"
                               [allowClear]="true"
                               [items]="tasksListItems"
                               [disabled]="false"
                               (data)="refreshTaskTemplateValue($event)"
                               placeholder="Выберите шаблон задачи">
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button [class.red]="modalDelete" [class.blue]="modalRecover"
                    (click)="loadTaskParams(); copyTaskParamsModal.close();"
                    class="left_button">Сохранить
            </button>
            <button [class.red]="modalDelete" [class.blue]="modalRecover" (click)="copyTaskParamsModal.close();"
                    class="right_button">Отмена
            </button>
        </div>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>

<modal modalClass="mailTemplateShowModal" #mailTemplateShowModal>
    <modal-header>
        <h3>{{templateName}}</h3>
        <hr>
    </modal-header>
    <modal-content>
        <iframe [srcdoc]="templateHtml | safeHtml" class="mail-template-content"></iframe>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>

<modal modalClass="taskStartDateModal" #startDateErrorModal>
    <modal-header (click)="toggleStartDateSelectorShow(false);">
        <h3>Ошибка</h3>
    </modal-header>
    <modal-content (click)="toggleStartDateSelectorShow(false);">
        <hr>
        Указанная дата начала задачи меньше текущей даты. Выберите новую дату создания задачи.
        <div class="item-info-form">
            <div style="width: 90%; margin: 0 auto;">
                <span class="icon-calendar"
                      style="position: absolute; left: 34px; top: 95px; z-index: 100; font-size: 25px;"></span>
                <p-calendar #startDateSelectorModal (click)="toggleStartDateSelectorShow(true);" [showOnFocus]="true"
                            [placeholder]="'Запуск задачи начать:'" [(ngModel)]="startDateModal" [showTime]="true"
                            [locale]="datePicker.ru" [minDate]="datePicker.currentDate"
                            dateFormat="d.mm.yy"></p-calendar>
            </div>
        </div>
        <div class="buttons">
            <button (click)="changeTaskStartDate();" class="left_button">Сохранить</button>
            <button (click)="startDateErrorModal.close();" class="right_button">Отмена</button>
        </div>
    </modal-content>
    <modal-footer>
        <div *ngIf="startDateModalError" class="modal-error" style="
        height: 120px;
        background-color: #d94b40;
        width: 433px;
        margin-left: -35px;
        color: white;
        padding: 50px 30px;
        text-align: center;
        margin-top: 5px;
        ">
            <span>Ошибка: дата создания задачи меньше текущей</span>
        </div>
    </modal-footer>
</modal>
