<div class="logo" [class.icon-logo-warning]="!user.licenseActive">
    <!--<span>Risk Guard</span>-->
</div>
<div id="accordion" class="left-menu">
    <menu-item (headerClick)="changeActiveHeader($event)" template="ngFor let link of links" [needLicense]="link.needLicense" [roles]="link.roles" [link]="link.link" linkText={{link.linkText}} [childrens]=link.childrens [menuHeaderId]="link.id" [activeHeader]="activeHeader" icon="{{link.icon}}"></menu-item>
</div>
<div class="left-bottom">
    <div class="contacts">
        <p class="studio"><span>&copy; ООО «Уайт Софт»</span></p>
        <p class="mail"><a href="mailto:info@white-soft.ru">info@white-soft.ru</a></p>
        <p class="address"><a style="text-decoration: underline;" href="http://white-soft.ru/" target="_blank">white-soft.ru</a></p>
    </div>
    <div class="people"></div>
</div>
