<div class="col-lg-13 col-lg-offset-1 col-md-13 col-md-offset-1 col-sm-13 col-sm-offset-1">
    <div class="content-header">Учетные данные</div>
    <div class="content-description">
        Просмотр и редактирование Ваших учетных данных.
    </div>
    <div class="item-info" *ngIf="user && user.authority.authority != 'ROLE_ADMINISTRATOR'">
        <div class="user-login">
            <span>{{user.secondName}} {{user.firstName}} {{user.middleName}} ({{user.username}})&nbsp;</span>
        </div>
        <div class="registration-date">
            <span>Регистрация:&nbsp;</span>
            <span class="value">{{registerDateToString}}</span>
        </div>
        <div class="user-email">
            <span>Email:&nbsp;</span>
            <span class="value">{{user.email}}</span>
        </div>
        <div class="user-role">
            <span>Роль:&nbsp;</span>
            <span class="value">{{roleToString(user.authority.authority)}}</span>
        </div>
        <div class="user-department">
            <span>Ответственность за отделы:&nbsp;</span>
        </div>
        <div class="departments">
            <div *ngFor="let unit of user.units; let i = index;">{{i+1}}. {{unit.name}}</div>
        </div>
    </div>
    <div class="item-info-form" *ngIf="user && user.authority.authority != 'ROLE_ADMINISTRATOR'">
        <div class="form-content">
            <div id="user-last-password" [class.error]="oldPasswordError">
                <span class="icon-key"></span>
                <input type="password" placeholder="Старый пароль" [(ngModel)]="oldPassword">
            </div>
            <div id="user-new-password" [class.error]="passwordError">
                <span class="icon-key_new"></span>
                <input type="password" placeholder="Новый пароль" [(ngModel)]="newPassword">
            </div>
            <div id="user-confirm-new-password" [class.error]="passwordError">
                <span class="icon-key_new"></span>
                <input type="password" placeholder="Подтверждение нового пароля" [(ngModel)]="confirmPassword">
            </div>
        </div>
        <button class="left_button" (click)="saveUser()">Сохранить</button>
        <div style="margin-top: 55px;" class="inform_label" [class.red]="fillFormError" [class.blue]="!fillFormError" *ngIf="fillFormError || formMessage != ''">{{formMessage}}</div>
    </div>

    <div class="item-info" *ngIf="user && user.authority.authority == 'ROLE_ADMINISTRATOR'">
        <div class="registration-date">
            <span>Регистрация:&nbsp;</span>
            <span class="value">{{registerDateToString}}</span>
        </div>
        <div class="user-role">
            <span>Роль:&nbsp;</span>
            <span class="value">{{user.authority.displayName}}</span>
        </div>
        <div class="user-login">
            <span>Имя пользователя:&nbsp;</span>
            <span>{{user.username}}&nbsp;</span>
        </div>
    </div>
    <div class="item-info-form" *ngIf="user && user.authority.authority == 'ROLE_ADMINISTRATOR'" style="margin-bottom: 270px;">
        <div class="form-content">
            <div class="user-fio">
                <div id="second-name">
                    <span class="icon-engineer"></span>
                    <input type="text" placeholder="Фамилия" [(ngModel)]="changedUser.secondName">
                </div>
                <div class="non-icon" id="first-name">
                    <input type="text" placeholder="Имя" [(ngModel)]="changedUser.firstName">
                </div>
                <div class="non-icon" id="middle-name">
                    <input type="text" placeholder="Отчество" [(ngModel)]="changedUser.middleName">
                </div>
            </div>
            <div id="user-email" [class.error]="fillFormError && !changedUser.email">
                <span class="icon-mail2"></span>
                <input type="text" placeholder="Адрес электронной почты" [(ngModel)]="changedUser.email">
            </div>
            <div id="user-last-password-admin" [class.error]="fillFormError && oldPasswordError">
                <span class="icon-key"></span>
                <input type="password" placeholder="Старый пароль" [(ngModel)]="changedUser.password['old']">
            </div>
            <div id="user-new-password-admin" [class.error]="fillFormError && !changedUser.password['renewed']">
                <span class="icon-key_new"></span>
                <input type="password" placeholder="Новый пароль" [(ngModel)]="changedUser.password['renewed']">
            </div>
            <div id="user-confirm-new-password-admin" [class.error]="fillFormError && !confirmPassword">
                <span class="icon-key_new"></span>
                <input type="password" placeholder="Подтверждение нового пароля" [(ngModel)]="confirmPassword">
            </div>
        </div>
        <button class="left_button" (click)="saveUser()">Сохранить</button>
        <div style="margin-top: 80px;" class="inform_label" [class.red]="fillFormError" [class.blue]="!fillFormError" *ngIf="fillFormError || formMessage != ''">{{formMessage}}</div>
    </div>
</div>
<div class="col-lg-10 col-md-10 col-sm-10">
    <div class="women-image"></div>
</div>
