<div class="col-lg-13 col-lg-offset-1 col-md-16 col-md-offset-1 col-sm-23 col-sm-offset-1" *ngIf="!load"
     style="margin-bottom: 550px;">
    <div class="content-header">Загрузка базы сотрудников</div>

    <div class="content-description">
        Пакетная загрузка сотрудников в свое структурное подразделение.
    </div>
    <div class="deleted-error">
        Рекомендации: файл должен быть оформлен по шаблону, который Вы можете скачать ниже. Порядок и название столбцов
        должны совпадать.
        <button style="
        display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #408ddb;
    padding: 5px 25px;
    height: 35px;
    border-color: #408ddb !important;" (click)="getTemplateFile()">Скачать шаблон файла
        </button>
    </div>
    <file-uploader [placeholder]="fileLoaderPlaceHolder" (uploaded)="onUpload($event)" [activeColor]="'#408ddb'"
                   [baseColor]="'#9e9e9e'"></file-uploader>
    <button style="
        display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #fff;
    background-color: #40dba2;
    padding: 5px 40px;
    height: 40px;
    border-color: #40dba2 !important;" (click)="uploadFile()">Загрузить
    </button>
    <div class="inform_label" style="margin-top: 85px !important;" [class.red]="fillFormError" *ngIf="fillFormError">
        {{formErrorText}}
    </div>
</div>
<div class="col-lg-10 col-md-7 hidden-sm" *ngIf="!load">
    <div class="employees-load"></div>
</div>

<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 loaded-units" *ngIf="load">
    <div class="content-header">Загружаемые сотрудники <b>({{employees.length}})</b></div>

    <div class="loaded-units-info">
        <span class="error" *ngIf="invalidEmployeesError">Ошибка замечена у сотрудников: <b>{{countErrors}}</b></span>
    </div>

    <div class="loaded-units-filter" (keyup.enter)="applyFilter()">
        <div class="unit-name col-sm-16" [class.col-sm-16]="!showAdvFilter" [class.col-sm-12]="showAdvFilter" [class.adv-show]="showAdvFilter">
            <span class="icon-house"></span>
            <input type="text" class="main-input" placeholder="Искать по названию подразделения" [(ngModel)]="filteredUnitName">
        </div>
        <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
            <span class="icon-engineer"></span>
            <input type="text" class="main-input" placeholder="Искать по фамилии" [(ngModel)]="filteredSecondName">
        </div>
        <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
            <span class="icon-mail2"></span>
            <input type="text" class="main-input" placeholder="Искать по почте" [(ngModel)]="filteredEmail">
        </div>
        <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
            <span class="icon-startup"></span>
            <input type="text" class="main-input" placeholder="Искать по должности" [(ngModel)]="filteredPosition">
        </div>
        <div class="search-buttons col-sm-8">
            <div class="search-button">
                <button class="main-button" (click)="applyFilter()">Найти</button>
            </div>
            <div class="adv-search">
                <span (click)="toggleShowFilter()" *ngIf="!showAdvFilter">расширенный поиск</span>
                <span (click)="toggleShowFilter()" *ngIf="showAdvFilter">стандартный поиск</span>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div class="item-list">
        <table class="units-error-table">
            <thead>
            <tr>
                <th width="10%" style="text-align: center">№</th>
                <th width="25%">Фамилия, имя, отчество</th>
                <th width="25%">Почта (email)</th>
                <th width="15%">Должность и теги</th>
                <th width="25%">Подразделение</th>
                <th style="text-align: left">Функционал</th>
            </tr>
            </thead>
            <tbody>
            <template ngFor let-i="index" let-employee [ngForOf]="employeesForTable">
                <tr *ngIf="i < paginationParams.size*paginationParams.number && (i > paginationParams.size*paginationParams.number - paginationParams.size - 1)"
                    [ngClass]="{'correct-unit': !checkEmployeeErrors(employee) && !showValidEmployees, 'not-valid-unit': checkEmployeeErrors(employee) && !showValidEmployees}" style="background: white !important;">
                    <td>
                        <span *ngIf="showValidEmployees">{{i+1}}.</span>
                    </td>
                    <td>
                        <span class="table-content">{{employee.secondName}} {{employee.firstName}} {{employee.middleName}}</span>
                        <span class="error" *ngIf="findError('FIRSTNAME_NOT_SET', employee)">Ошибка: не заполнено имя</span>
                    <span class="error"
                          *ngIf="findError('SECONDNAME_NOT_SET', employee)">Ошибка: не заполнена фамилия</span>
                    </td>
                    <td>
                        <span class="table-content" *ngIf="!findError('EMAIL_NOT_SET', employee)">{{employee.email}}</span>
                        <span class="error" *ngIf="findError('EMAIL_NOT_SET', employee)">Ошибка: не заполнен email</span>
                    </td>
                    <td>
                        <span class="table-content">{{employee.position}}</span>
                    <span class="table-content" style="margin-top: 10px;">
                        <b>Теги: </b>
                        <span>{{getTagsText(employee.employeeTags)}}</span>
                    </span>
                    </td>
                    <td>
                        <span class="table-content" *ngIf="employee['unit'].length != 0"><span *ngIf="!findError('UNIT_NOT_EXISTS', employee.unit[0])">{{employee.unit[0].name}}</span></span>
                        <span class="error" *ngIf="findError('UNIT_NOT_SET', employee)">Ошибка: нет организации</span>
                        <span class="error" *ngIf="employee['unit'].length != 0"><span *ngIf="findError('UNIT_NOT_EXISTS', employee.unit[0])">Ошибка: нет организации</span></span>
                    </td>
                    <td style="text-align: center;">
                        <button class="edit-unit" (click)="editEmployee(employee)"></button>
                        <button class="delete-unit" (click)="deleteEmployee(employee['id'])"></button>
                    </td>
                </tr>
            </template>
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<pagination #tablePagination (change)="changePagination($event)" [params]="paginationParams"
            *ngIf="paginationParams.totalElements > 10"></pagination>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 loaded-units" *ngIf="load">
    <button class="update-tree" [class.load-deny]="!updateAllow" (click)="updateUnits()" *ngIf="invalidEmployeesError" style="margin-top: 50px;">Обновить базу</button>
    <button style="background-color: #40dba2; color: #fff; margin-bottom: 20px;" class="update-tree" (click)="uploadEmployeesDB()" *ngIf="!invalidEmployeesError">Загрузить базу</button>
    <div class="inform_label" [class.red]="uploadDBError" style="margin-top: 30px;" style="margin-bottom: 100px;"><span *ngIf="uploadDBError">При загрузке базы произошла ошибка!</span></div>
</div>


<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 add-user"
     *ngIf="load && employeesObjects">
    <div style="padding-left: 0; width: 185px;">
        <button (click)="uploadEmployees()" class="main-button">Загрузить базу</button>
    </div>
    <div class="inform_label" style="margin-top: 85px !important;" [class.red]="fillFormError" *ngIf="fillFormError">
        {{formErrorText}}
    </div>
</div>


<modal #loadErrorsModal modalClass="employees-load-error-modal" [hideCloseButton]="true" [closeOnOutsideClick]="false">
    <modal-header>
        <h3>При загрузке произошли ошибки!</h3>
    </modal-header>
    <modal-content>
        <hr>
        <span *ngIf="invalidEmployeesError">Необходимо исправить {{errorsCount}} сотрудников(а). После исправления <b>всех</b> ошибок станут доступны остальные сотрудники для редактирования.</span>
        <span *ngIf="invalidUnitsError"
              style="display: block; margin-top: 20px; margin-bottom: 30px;">Были замечены <span
                style="color: black; font-weight: 800;">подразделения, которых еще нет в базе.</span> Их необходимо добавить, перед редактированием сотрудников.</span>
        <div class="buttons">
            <a (click)="loadErrorsModal.close()" class="main-button"
               *ngIf="invalidEmployeesError && !invalidUnitsError">Закрыть</a>
            <a (click)="loadErrorsModal.close(); unitsAddModal.open();" class="main-button" *ngIf="invalidEmployeesError && invalidUnitsError">Добавить</a>
            <a (click)="loadErrorsModal.close(); cancelAddUnit();" class="main-button" *ngIf="invalidEmployeesError && invalidUnitsError">Отмена</a>
        </div>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>

<modal #employeeModal modalClass="employee-modal" [closeOnEscape]="false" [closeOnOutsideClick]="false">
    <modal-header>
        <h3>Редактирование сотрудника</h3>
    </modal-header>
    <modal-content>
        <hr>
        <div class="fio">
            <div class="modal-input" style="float:left; width: 30%; margin-right: 5%; margin-bottom: 20px;">
                <span class="modal-label">Фамилия</span>
                <div class="icon">
                    <span class="icon-engineer"></span>
                </div>
                <div class="input">
                    <input type="text" class="main-input" [(ngModel)]="modalSecondName">
                </div>
            </div>
            <div class="modal-input" style="float:left; width: 30%; margin-right: 5%; margin-bottom: 20px;">
                <span class="modal-label" style="padding-left: 0px;">Имя</span>
                <div class="icon">
                    <span class="icon-house hidden"></span>
                </div>
                <div class="input" style="width: 100%;">
                    <input type="text" class="main-input" [(ngModel)]="modalFirstName">
                </div>
            </div>
            <div class="modal-input" style="float:left; width: 30%; margin-bottom: 20px;">
                <span class="modal-label" style="padding-left: 0px;">Отчество</span>
                <div class="input">
                    <input type="text" class="main-input" [(ngModel)]="modalMiddleName">
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div class="modal-input" *ngIf="unitsTree">
            <span class="modal-label">Подразделение</span>
            <div class="icon">
                <span class="icon-house"></span>
            </div>
            <div class="input">
                <units-tree-selector #employeeUnitSelector *ngIf="unitsTree" [singleSelect]="true" [iconClass]="''" (change)="employeeUnitSelectorChange($event)" [placeHolderText]="''" [inputUnitsArray]="unitsTree" [type]="'unit'"></units-tree-selector>
            </div>
        </div>
        <div class="modal-input">
            <span class="modal-label">Почта (email)</span>
            <div class="icon">
                <span class="icon-house"></span>
            </div>
            <div class="input">
                <input type="text" class="main-input" [(ngModel)]="modalEmail">
            </div>
        </div>
        <div class="modal-input">
            <span class="modal-label">Должность</span>
            <div class="icon">
                <span class="icon-startup"></span>
            </div>
            <div class="input">
                <input type="text" class="main-input" [(ngModel)]="modalPosition">
            </div>
        </div>
        <div class="modal-input" *ngIf="tagsTree">
            <span class="modal-label">Теги сотрудника</span>
            <div class="icon">
                <span class="icon-tag-star"></span>
            </div>
            <div class="input">
                <tree-selector #employeeTagsSelector [iconClass]="''" (change)="employeeTagsSelectorChange($event)" [placeHolderText]="''" [inputUnitsArray]="tagsTree" [type]="'tag'"></tree-selector>
            </div>
        </div>

        <div class="buttons">
            <button (click)="saveEmployee()" class="main-button save">Сохранить</button>
            <button (click)="employeeModal.close()" class="main-button">Отмена</button>
        </div>
    </modal-content>
    <modal-footer>
        <div class="error" style="text-align: center; margin-bottom: 25px; color: #d94b40;" *ngIf="employeeModalError != ''">
            <span>
                Ошибка: {{employeeModalError}}.
            </span>
        </div>
    </modal-footer>
</modal>

<modal #employeeDeleteModal>
    <modal-header>
        <h3>Удаление сотрудника</h3>
    </modal-header>
    <modal-content>
        <hr>
        <span [class.red]="modalBlock" [class.blue]="modalRecover">Вы действительно хотите удалить данного сотрудника?</span>
        <div class="buttons">
            <a (click)="employeeDeleteModal.close(); delEmployee();" class="main-button red">Удалить</a>
            <a (click)="employeeDeleteModal.close();" class="main-button red">Отмена</a>
        </div>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>

<modal #unitsAddModal modalClass="units-add-modal" [hideCloseButton]="true" [closeOnOutsideClick]="false">
    <modal-header>
        <h3>Добавление подразделений</h3>
    </modal-header>
    <modal-content>
        <hr>
        <div class="table-wrapper">
            <table class="units-error-table" style="width: 100%;">
                <thead>
                    <tr>
                        <th width="5%">№</th>
                        <th width="47%">Название подразделения</th>
                        <th width="48%">Вышестоящее подразделение</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table-wrapper" style="max-height: 350px; min-height: 200px; overflow-y: scroll; padding-top: 5px; padding-right: 15px; border-top: 1px solid #eee; border-bottom: 1px solid #eee;">
            <table class="units-error-table" style="width: 100%;">
                <tbody>
                <tr *ngFor="let item of invalidUnits; let i = index">
                    <td style="width: 5%; text-align: left; vertical-align: middle; height: 40px;">{{i+1}}.</td>
                    <td style="width: 47%; padding-right: 20px; vertical-align: bottom;">
                        <input type="text" class="main-input" style="font-size: 13px; text-indent: 0px; padding-bottom: 0px; margin-bottom: 0px;" [(ngModel)]="item['name']">
                    </td>
                    <td style="width: 48%; vertical-align: bottom;">
                        <div style="width: 90%; display:table-cell;">
                            <units-tree-selector #employeeUnitSelector [showToolTip]="false" [singleSelect]="true" (change)="unitSelectorChange({selected: $event, id: item['id']})" [iconClass]="''" [placeHolderText]="''" [inputUnitsArray]="unitsTree" [type]="'unit'" *ngIf="unitsTree"></units-tree-selector>
                        </div>
                        <div style="width: 10%; display: table-cell; padding-left: 15px; vertical-align: bottom;">
                            <button class="delete-unit" (click)="deleteUnit(item['id'])"></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="buttons" style="margin-top: 32px !important; padding-left: 235px;">
            <a (click)="saveUnitsClick();"
               class="main-button"
               [class.deny-save]="invalidUnits.length == 0"
               style="height: 42px; border: 1px solid #40dba2; background: #40dba2; color: #fff;"
                >Сохранить</a>
            <a (click)="unitsAddModal.close(); cancelAddUnit();"
               class="main-button"
               style="height: 42px; border: 1px solid #40dba2; background: #fff; color: #40dba2;">Отмена</a>
        </div>
        <div style="margin-top: 25px;" *ngIf="unitSaveError">
            <span style="color: #d94b44;">Ошибка: при добавлении организаций произошла ошибка</span>
        </div>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>
