<div class="col-lg-13 col-lg-offset-1 col-md-16 col-md-offset-1 col-sm-23 col-sm-offset-1">
    <div class="content-header" *ngIf="!employeeEdit">Просмотр сотрудника</div>
    <div class="content-header" *ngIf="employeeEdit">Редактирование сотрудника</div>
    <div class="content-description" *ngIf="!employeeEdit">
        Просмотр информации о сотруднике.
    </div>
    <div class="content-description" *ngIf="employeeEdit">
        Редактирование информации о сотруднике.
    </div>
    <div class="deleted-error" *ngIf="employee && employee.status=='DELETED'">
        Данный сотрудник был удален! Сначала восстановите его, чтобы продолжить с ним работать дальше.
    </div>
    <div class="item-info" *ngIf="employee && !employeeEdit">
        <div class="creator">
            <!--<span>Создатель:&nbsp;</span>-->
            <span class="value">{{employee.secondName}} {{employee.firstName}} {{employee.middleName}}</span>
        </div>
        <div class="user-email">
            <!--<span>Шаблон:&nbsp;</span>-->
            <span class="value">{{employee.email}}</span>
        </div>
        <div class="user-position">
            <!--<span>Дата создания:&nbsp;</span>-->
            <span class="value">{{employee.position}}</span>
        </div>
        <div class="employee-departments">
            <span>Организация:&nbsp;</span>
            <a routerLink="/units/{{unit.id}}" *ngFor="let unit of employee.unit; let i = index;">{{unit.name}}</a>
        </div>
        <div class="employee-tags">
            <span>Теги:&nbsp;</span>
            <a routerLink="/employee-tags/{{tag.id}}" *ngFor="let tag of employee.employeeTags; let i = index;">{{tag.name}}</a>
        </div>
    </div>

    <div class="buttons" *ngIf="employee && !employeeEdit" style="margin-top: 45px !important; margin-bottom: 550px !important;">
        <button *ngIf="employee.status=='ENABLED'" (click)="toggleEdit()">Редактировать</button>
        <button class="blue" *ngIf="employee.status=='DELETED'" (click)="changeEmployee(employee.id, 'recovery'); myModal.open()">
            Восстановить
        </button>
        <button *ngIf="employee.status=='ENABLED'" class="red" (click)="changeEmployee(employee.id, 'delete'); myModal.open()">
            Удалить
        </button>
    </div>

    <div class="item-info-form" *ngIf="employee && employeeEdit" style="margin-bottom: 540px !important;">
        <div class="form-content">
            <div class="user-fio">
                <div id="second-name" [class.error]="fillFormError && !changedEmployee.secondName">
                    <span class="icon-engineer"></span>
                    <input type="text" placeholder="Фамилия" [(ngModel)]="changedEmployee.secondName">
                </div>
                <div class="non-icon" id="first-name" [class.error]="fillFormError && !changedEmployee.firstName">
                    <input type="text" placeholder="Имя" [(ngModel)]="changedEmployee.firstName">
                </div>
                <div class="non-icon" id="middle-name">
                    <input type="text" placeholder="Отчество" [(ngModel)]="changedEmployee.middleName">
                </div>
            </div>
            <div id="user-email" [class.error]="fillFormError && !changedEmployee.email">
                <span class="icon-mail2"></span>
                <input type="text" placeholder="Адрес электронной почты" [(ngModel)]="changedEmployee.email">
            </div>
            <div>
                <span class="icon-startup"></span>
                <input type="text" placeholder="Должность сотрудника" [(ngModel)]="changedEmployee.position">
            </div>
        </div>
        <units-tree-selector *ngIf="unitsTree" [startValue]="changedEmployee.unit" [error]="fillFormError && changedEmployee.unit.length == 0" [singleSelect]="true" [iconClass]="'house'" (change)="orgSelectorChange($event)"
                       [placeHolderText]="'Организация (структурное подразделение)'" [inputUnitsArray]="unitsTree"></units-tree-selector>
        <tree-selector *ngIf="tagsTree" [startValue]="changedEmployee.employeeTags" [iconClass]="'tag-star'" (change)="tagSelectorChange($event)" [inputUnitsArray]="tagsTree"
                       [placeHolderText]="'Теги'" [type]="'tag'"></tree-selector>
        <button class="left_button" (click)="saveEmployee()">Сохранить</button>
        <div class="inform_label" style="margin-top: 130px;" [class.red]="fillFormError" *ngIf="fillFormError">
            {{formErrorText}}
        </div>
    </div>
</div>

<div class="col-lg-10 col-md-7 hidden-sm">
    <div class="women-image2"></div>
</div>

<modal #myModal>
    <modal-header>
        <h3>{{modalHeader}}</h3>
    </modal-header>
    <modal-content>
        <hr>
        {{modalText}} <span [class.red]="modalBlock" [class.blue]="modalRecover">{{modalEmployeeName}}?</span>
        <div class="buttons" style="margin-top: 30px !important;">
            <a [class.red]="modalDelete" [class.gray]="modalError" [class.blue]="modalRecover" (click)="changeEmployeeAction();"
               class="main-button">{{modalSubmitButtonText}}</a>
            <a [class.red]="modalDelete" [class.blue]="modalRecover" (click)="myModal.close();" class="main-button">Отмена</a>
        </div>
    </modal-content>
    <modal-footer>
        <div *ngIf="modalError" class="modal-error" style="
        height: 120px;
        background-color: #d94b40;
        width: 370px;
        margin-left: -36px;
        color: white;
        padding: 35px 30px;
        text-align: center;
        margin-top: 8px;
        border: 1px solid rgba(0,0,0,0.7);
        border-top: none;
        ">
            <span>Ошибка: {{modalErrorText}}</span>
        </div>
    </modal-footer>
</modal>
