<span class="icon-{{iconClass}} icon-selector" [class.error]="error" style="font-size: 25px;
    position: absolute; z-index: 100; margin-top: 5px;" [style.color]="(error) ? 'red' : 'black'"></span>
<div #orgSelectorForm
     class="ui-select-container ui-select-multiple org-selector dropdown form-control open" tabindex="0"
     [class.error]="error" style="border-bottom-color: #bbb;">
    <span class="icon-menu icon-selector-open" [class.error]="error"
          style="font-size: 18px; position: absolute; z-index: 100; color: #000; margin-top: 8px; right: 0; cursor: pointer;"
          [style.color]="(error) ? 'red' : 'black'" (click)="unitsTreeSelectorModal.open()"></span>
    <span class="ui-select-match">
        <span *ngFor="let item of selectorValue" class="select-item-wrap"
              [class.active]="item.nodes.length > 0 && showToolTip">
            <span [class.ui-select-match-item]="!singleSelect"
                  [class.ui-select-match-single]="singleSelect"
                  class="btn btn-default btn-secondary btn-xs" type="button">
            <span>{{item.name}}</span>
            </span>
            <a class="close" (click)="deleteSelectedItemFromLabel(item)"
               style="margin-left: 5px; padding: 0;" *ngIf="!singleSelect">×</a>
            <tree-view [inputUnitsArrayCopy]="inputUnitsArrayCopy" [child]="false" *ngIf="unitArray && !singleSelect"
                       [items]="item.nodes" [type]="type"></tree-view>
        </span>
    </span>
    <input [style.padding-top]="'0px'" [style.padding-bottom]="'0px'"
           [class.unfilled]="(selectorValue.length == 0)" [class.filled]="!(selectorValue.length == 0)"
           class="form-control ui-select-search"
           role="combobox" spellcheck="false" type="text" placeholder="" readonly>
    <span class="selector-placeholder" style="position: absolute; bottom: 6px; font-size: 16px; width: 100%;"
          *ngIf="selectorValue.length == 0" [style.color]="(error) ? 'red' : '#bbb'">{{placeHolderText}}</span>
</div>

<modal modalClass="units-tree-selector-modal"
       #unitsTreeSelectorModal
       (onOpen)="showTree()"
       (onClose)="hideTree()"
       [closeOnOutsideClick]="false">
    <modal-header><h3>Выбор организаций</h3></modal-header>
    <modal-content>
        <hr>
        <div class="units-tree-filter">
            <div class="filter-label">
                <span>Поиск по:</span>
            </div>
            <div class="filter-input">
                <span class="icon-house"></span>
                <input type="text" class="main-input" placeholder="Названию организации"
                       [(ngModel)]="filteredUnitName"
                       (keyup.enter)="applyFilterUnits()">
            </div>
            <div class="apply-filter">
                <button class="main-button" (click)="applyFilterUnits()">Найти</button>
            </div>
        </div>
        <div class="units-tree">
            <template ngFor let-unit [ngForOf]="inputUnitsArrayCopy" *ngIf="treeShow">
                <div class="units-tree-item" unitsTreeView
                     [inputUnitsArrayCopy]="inputUnitsArrayCopy"
                     (select)="getSelectedItem($event)"
                     (delete)="deleteSelectedItem(unitArray, selectedItems ,$event)"
                     [child]="false"
                     [items]="unit"
                     [type]="type"
                     [singleSelect]="singleSelect"
                     [filterByName]="unitsFilterValue"
                     *ngIf="findChildrensByName(unit['nodes']) || unit['name'].toUpperCase().includes(unitsFilterValue.toUpperCase())"></div>
            </template>
        </div>
        <div class="units-tree-label">
            <span>Количество выбранных организаций: <b>{{totalSelectedUnitsCount}}</b></span>
        </div>
        <div class="units-tree-buttons">
            <div class="buttons" style="padding-left: 15px !important;">
                <button (click)="saveSelectorItems(); unitsTreeSelectorModal.close();" class="main-button"
                        style="float: none; height: 42px !important; border: 1px solid #40dba2; background: #40dba2 !important; color: #fff !important;">Сохранить</button>
                <button (click)="unitsTreeSelectorModal.close();" class="main-button" style="float: none; height: 42px !important; background: none; color: #40dba2; border: 1px solid #40dba2">Отмена</button>
            </div>
        </div>
    </modal-content>
</modal>