<!--<div class="units-tree-item" [class.child]="child" *ngFor="let item of items">-->
    <div class="units-tree-item-control">
        <div class="unit-arrow" [class.hidden]="item.nodes.length == 0" [class.up]="showChildrenItems" (click)="toggleShowChildren()"></div>
        <div class="unit-checkbox">
            <p-triStateCheckbox [disabled]="disableCheckbox" class="triStateCheckbox" [(ngModel)]="item['state']" (click)="checkUnitItem()"></p-triStateCheckbox>
        </div>
        <div class="unit-name" (click)="selectItem(item)" [innerHtml]="showUnitName"></div>
    </div>
    <template ngFor let-unit [ngForOf]="item.nodes">
        <div class="units-tree-item child"
             unitsTreeView
             [inputUnitsArrayCopy]="inputUnitsArrayCopy"
             (updatingState)="updatingStatePush()"
             (select)="pushItemUp($event)"
             (delete)="deleteItemPush()"
             [child]="true"
             [items]="unit"
             [singleSelect]="singleSelect"
             [filterByName]="filterByName"
             *ngIf="showChildrenItems"></div>
    </template>
<!--</div>-->
