<div class="col-lg-15 col-lg-offset-1 col-md-15 col-md-offset-1 col-sm-15 col-sm-offset-1">
    <div class="content-header">
        <span>Список шаблонов писем</span>
        <div class="content-header-button">
            <button routerLink="/mail-templates/new" class="main-button">Добавить</button>
        </div>
    </div>
</div>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 table-filter">
    <div class="unit-name col-sm-15" [class.adv-show]="showAdvFilter" [class.col-sm-14]="showAdvFilter">
        <span class="icon-mail-5"></span>
        <input type="text" class="main-input" placeholder="Название шаблона"
               [(ngModel)]="filteredTemplateName">
    </div>
    <div class="unit-name col-sm-12" [class.adv-show]="showAdvFilter" *ngIf="showAdvFilter" [class.col-sm-10]="showAdvFilter">
        <span class="icon-chat"></span>
        <input type="text" class="main-input" placeholder="Тема письма" [(ngModel)]="filteredTemplateSubject">
    </div>
    <div class="unit-name col-sm-14" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <span style="z-index: 100;" class="icon-inbox"></span>
        <ng-select #templateGroupsSelector
                   [allowClear]="true"
                   [items]="templateGroupsItems"
                   [disabled]="false"
                   (data)="refreshTemplateGroupValue($event)"
                   placeholder="Тип шаблона письма" *ngIf="templateGroupsItems">
        </ng-select>
    </div>
    <div class="search-buttons col-sm-9" [class.search-left-align]="showAdvFilter">
        <div class="search-button">
            <button class="main-button" (click)="applyFilter()">Найти</button>
        </div>
        <div class="adv-search">
            <span (click)="toggleShowFilter()" *ngIf="!showAdvFilter">расширенный поиск</span>
            <span (click)="toggleShowFilter()" *ngIf="showAdvFilter">стандартный поиск</span>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 loaded-items" *ngIf="mailTemplates">
    <div class="item-list">
        <table class="units-error-table">
            <thead>
            <tr>
                <th width="5%" style="text-align: center">№</th>
                <th width="20%">Название</th>
                <th width="35%">Тема письма</th>
                <th width="15%">Группа письма</th>
                <th style="text-align: center"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let template of mailTemplates; let i = index">
                <td style="height: 50px;">{{i+1}}.</td>
                <td><a routerLink="/mail-templates/{{template.id}}">{{template.name}}</a></td>
                <td>{{template.subject}}</td>
                <td>
                    <span *ngIf="!template.group">-</span>
                    <a *ngIf="template.group">{{template.group.name}}</a>
                </td>
                <td class="row-actions">
                    <button title="Редактировать шаблон" class="edit-unit" (click)="editTemplate(template.id)"></button>
                    <button title="Удалить шаблон" class="delete-unit"
                            (click)="deleteTemplate(template)"></button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<pagination #tablePagination (change)="changePagination($event)" [params]="pagination" *ngIf="pagination.totalElements > 10"
            ></pagination>

<modal #templateDeleteModal>
    <modal-header>
        <h3>Удаление шаблона</h3>
    </modal-header>
    <modal-content>
        <hr>
        Вы действительно хотите удалить шаблон <span class="red">{{modalTemplateName}}?</span>
        <div class="buttons" style="margin-top: 30px !important; padding-left: 12px !important;">
            <a (click)="delTemplate();" class="main-button red">Удалить</a>
            <a (click)="templateDeleteModal.close();" class="main-button red">Отмена</a>
        </div>
    </modal-content>
    <modal-footer>
        <div *ngIf="modalError" class="modal-error" style="
        height: 120px;
        background-color: #d94b40;
        width: 369px;
        margin-left: -35px;
        color: white;
        padding: 35px 30px;
        text-align: center;
        ">
            <span>Ошибка: во время удаления шаблона произошла ошибка!</span>
        </div>
    </modal-footer>
</modal>