<div class="col-lg-13 col-lg-offset-1 col-md-16 col-md-offset-1 col-sm-23 col-sm-offset-1" style="margin-bottom: 450px">
    <div class="content-header">Почтовый сервер</div>
    <div class="content-description">
        Страница отображает настройки и статус подключения к Вашему почтовому серверу. Система не будет работать без подключения!
    </div>
    <div class="item-info">
        <div class="connect-status">
            <span>Статус подключения:&nbsp;</span>
            <span class="value" style="color: #db4b40;" *ngIf="!loading && !connectionStatus">не установлено</span>
            <span class="value" style="color: #40dba2;" *ngIf="!loading && connectionStatus">установлено</span>
            <span class="value" *ngIf="loading" style="color: rgba(255, 220, 0, 1);">проверка соединения</span>
            <span class="value" *ngIf="loading" style="padding-top: 5px;">
                <div class="ball-clip-rotate" style="position: relative; margin-left: 10px;"><div></div></div>
            </span>
        </div>
    </div>
    <div class="content-description">
        Корректно заполните все нижние поля для успешной работы системы:
    </div>
    <div class="item-info-form" style="margin-bottom: 0px" *ngIf="settings">
        <div class="form-content">
            <div class="server-address" [class.error]="addressError || (formError && (settings.host == '' || settings.port == ''))">
                <div id="second-name">
                    <span class="icon-direction-signs"></span>
                    <input type="text" placeholder="Адрес сервера" [(ngModel)]="settings.host">
                </div>
                <div class="non-icon">
                    <input type="text" placeholder="Порт" [(ngModel)]="settings.port">
                </div>
            </div>
        </div>
    </div>
    <div class="item-info" style="margin-bottom: 20px;" *ngIf="settings">
        <div class="mail-protocol">
            <span>Тип протокола почтового сервера:&nbsp;</span>
            <span class="value">SMTP</span>
        </div>
    </div>
    <div class="item-info-form" style="margin-bottom: 0px" *ngIf="settings">
    <div class="form-content">
        <!--<div class="radio-buttons" style="margin-bottom: 40px;">-->
            <!--<p-radioButton value="val1" [(ngModel)]="selectedValue" label="протокол SMTP"></p-radioButton>-->
            <!--<p-radioButton value="val2" [(ngModel)]="selectedValue" label="протокол IMAP"></p-radioButton>-->
        <!--</div>-->
        <div class="checkbox" style="padding-top: 0px; margin-top: 0px; margin-bottom: 35px;">
            <p-checkbox name="groupname" value="useAnonymous" [(ngModel)]="checkBoxAnonymousState" label="Использовать анонимное подключение"></p-checkbox>
        </div>
        <div class="login" *ngIf="!(checkBoxAnonymousState[0] == 'useAnonymous')">
            <span class="icon-sign-in"></span>
            <input type="text" placeholder="Логин от почтового сервера" [(ngModel)]="settings.username">
        </div>
        <div class="login" *ngIf="!(checkBoxAnonymousState[0] == 'useAnonymous')">
            <span class="icon-key"></span>
            <input type="password" placeholder="Пароль к почтовому серверу" [(ngModel)]="settings.password">
        </div>
        <div class="checkbox" style="padding-top: 0px;">
            <p-checkbox name="groupname" value="useSSL" [(ngModel)]="checkBoxState" label="Использовать SSL подключение"></p-checkbox>
        </div>
        <div class="buttons" style="margin-top: 45px;">
            <button class="left_button" (click)="saveSettings()" style="width: 155px;">Сохранить</button>
            <button class="right_button" style="width: 155px; color: #40dba2; background: #fff; border: 1px solid #40dba2;" (click)="checkConnect()">Проверить</button>
        </div>
        <div class="inform_label" style="margin-top: 120px !important;" [class.red]="formError" *ngIf="formError || formErrorText != ''">{{formErrorText}}</div>
        <div class="inform_label" style="margin-top: 120px !important;" [class.blue]="true" *ngIf="formInfoText != ''">{{formInfoText}}</div>
    </div>
</div>
</div>
<div class="col-lg-10 col-md-7 hidden-sm">
    <div class="mail-server"></div>
</div>

<modal #myModal modalClass="connection-status">
    <modal-header>
        <h3>Проверка соединения</h3>
    </modal-header>
    <modal-content>
        <hr>
        Соединение <span class="red" *ngIf="!connectionStatus">не было установлено.</span>
        <span class="green" *ngIf="connectionStatus">было установлено.</span>
        <span *ngIf="!connectionStatus">Пожалуйста, проверьте Ваши данные.</span>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>