<div class="menu-header" [class.active]="activeHeader == menuHeaderId" (click)="menuHeaderClick()" *ngIf="user.isActiveRoute(roles) && needLicenseCheck(needLicense)">
    <span class={{icon}}></span>
    <span>{{linkText}}</span>
</div>
<div class="menu-in" [class.show]="activeHeader == menuHeaderId" *ngIf="childrens.length != 0">
    <div class="menu-in-container">
        <div class="item-list">
            <template ngFor let-children [ngForOf]="childrens">
                <a routerLink={{children.link}} routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="menu-in-item" *ngIf="user.isActiveRoute(children.roles) && needLicenseCheck(children.needLicense)">{{children.linkText}}</a>
            </template>
        </div>
    </div>
</div>