<div class="col-lg-13 col-lg-offset-1 col-md-13 col-md-offset-1 col-sm-13 col-sm-offset-1" *ngIf="unit">
    <div class="content-header" *ngIf="!editUnit">Просмотр организации</div>
    <div class="content-header" *ngIf="editUnit">Редактирование организации</div>
    <div class="item-info" style="margin-bottom: -35px;" *ngIf="!editUnit">
        <div class="item-info-content" *ngIf="unit">
            <div class="item-label">
                <span class="icon-house"></span>
                <span>Название подразделения:</span>
            </div>
            <div class="item-content">{{unit.name}}</div>
        </div>
        <div class="item-info-content" *ngIf="unit">
            <div class="item-label">
                <span class="icon-house"></span>
                <span>Вышестоящее подразделение:</span>
            </div>
            <div class="item-content" *ngIf="unit.parent">{{unit.parent['name']}}</div>
        </div>
        <div class="item-info-content" *ngIf="unit">
            <div class="item-label">
                <span class="icon-engineer"></span>
                <span>Ответственные за ИБ:</span>
            </div>
            <div class="item-content">
                <span class="bold" *ngFor="let officer of unit.officers; let i = index;">{{i+1}}. {{officer.fullName}}</span>
            </div>
        </div>
        <div class="item-info-content" *ngIf="unit">
            <div class="item-label">
                <span class="icon-support"></span>
                <span>Менеджеры:</span>
            </div>
            <div class="item-content">
                <span class="bold" *ngFor="let manager of unit.managers; let i = index;">{{i+1}}. {{manager.fullName}}</span>
            </div>
        </div>
        <div class="item-info-content" *ngIf="unit">
            <div class="unit-path">
                <span>Путь:&nbsp;</span>
                <template ngFor let-item [ngForOf]="unit.path">
                    <a routerLink="/units/{{item.id}}" *ngIf="user.hasAccess(item, 'READ')">{{item.name}}</a>
                    <a class="disable" *ngIf="!user.hasAccess(item, 'READ')">{{item.name}}</a>
                    <a class="disable"> > </a>
                </template>
                <a class="disable">{{unit.name}}</a>
            </div>
        </div>
        <div class="item-info-content vertical-line" *ngIf="unit && unit.childs.length">
            <div class="item-label">
                <span></span>
                <span style="margin-left: 33px;">Подчиненные отделы:</span>
            </div>
            <div class="item-content">
                <span *ngFor="let unit of unit.childs; let i = index;">{{i+1}}. <a routerLink="/units/{{unit.id}}">{{unit.name}}</a></span>
            </div>
        </div>
    </div>

    <div class="item-info" *ngIf="editUnit">
        <div class="item-info-input">
            <span class="item-info-label">Наименование подразделения:</span>
            <div class="icon">
                <span class="icon-house"></span>
            </div>
            <div class="input">
                <textarea class="main-input" rows="5" [(ngModel)]="editUnitName"></textarea>
            </div>
        </div>
        <div class="item-info-input">
            <span class="item-info-label">Вышестоящее подразделение:</span>
            <div class="icon">
                <span class="icon-house"></span>
            </div>
            <div class="input" *ngIf="unitsTree && unit">
                <units-tree-selector #unitParentSelector [exclude]="[unit['id']]" [singleSelect]="true" [iconClass]="''" (change)="parentSelectorChange($event)" [placeHolderText]="''" [inputUnitsArray]="unitsTree" [type]="'unit'"></units-tree-selector>
            </div>
        </div>
        <div class="item-info-input">
            <span class="item-info-label">Ответственные за ИБ:</span>
            <div class="icon">
                <span class="icon-engineer"></span>
            </div>
            <div class="input" *ngIf="officers && unit && editUnitOfficers">
                <tree-selector [startValue]="editUnitOfficers" [iconClass]="''" (change)="officersSelectorChange($event)" [placeHolderText]="''" [inputUnitsArray]="officers" [type]="'unit'"></tree-selector>
            </div>
        </div>
        <div class="item-info-input">
            <span class="item-info-label">Менеджеры:</span>
            <div class="icon">
                <span class="icon-support"></span>
            </div>
            <div class="input" *ngIf="managers && unit && editUnitManagers">
                <tree-selector [startValue]="editUnitManagers" [iconClass]="''" (change)="managersSelectorChange($event)" [placeHolderText]="''" [inputUnitsArray]="managers" [type]="'unit'"></tree-selector>
            </div>
        </div>
    </div>

    <div class="buttons" style="margin-bottom: 165px;">
        <button (click)="toggleEdit()" *ngIf="!editUnit && user.hasAccess(unit, 'UPDATE')">Редактировать</button>
        <button (click)="saveUnit()" *ngIf="editUnit">Сохранить</button>
        <button class="red" (click)="orgEntityDelete(unit);" *ngIf="user.hasAccess(unit, 'DELETE') && !editUnit">
            Удалить
        </button>
    </div>
    <div class="item-info-form">
        <div class="inform_label" style="margin-top: 85px !important;" [class.red]="fillFormError" *ngIf="fillFormError">{{formErrorText}}</div>
    </div>
</div>
<div class="col-lg-10 col-md-7 hidden-sm">
    <div class="units-load"></div>
</div>

<modal #moveEmployees modalClass="employeesMoveModal">
    <modal-header>
        <h3>Удаление подразделения</h3>
    </modal-header>
    <modal-content>
        <hr>
        <span style="text-align: left; display: block; margin-bottom: 25px;" *ngIf="modalDeleteUnit">
            В подразделении <span style="color: red;">{{modalDeleteUnit.name}}</span> осталось <b>{{modalDeleteUnit.countEmployees}}</b>
        сотрудников. Перенесите их в другое подразделение.
        </span>
        <units-tree-selector #orgMoveSelector *ngIf="modalDeleteUnit && modalUnitsTree"
                             [iconClass]="'house'"
                             (change)="employeesMoveOrgChange($event);"
                             [placeHolderText]="'Название подразделения'"
                             [singleSelect]="true"
                             [error]="moveEmployeeError && employeeMoveOrg.length == 0"
                             [inputUnitsArray]="modalUnitsTree"></units-tree-selector>
        <div class="buttons" style="margin-top: 43px !important; padding-left: 50px; text-align: center;">
            <a (click)="delUnit();"
               class="main-button red" [class.gray]="modalError">Удалить</a>
            <a (click)="moveEmployees.close();" class="main-button red">Отмена</a>
        </div>
    </modal-content>
    <modal-footer>
        <div *ngIf="modalError" class="modal-error" style="
            height: 120px;
            background-color: #d94b40;
            width: 455px;
            margin-left: -1px;
            color: white;
            padding: 45px 30px;
            text-align: center;
            margin-top: -1px;
            border: 1px solid rgba(0,0,0,0.5);
            border-top: none;
        ">
            <span>Ошибка: {{modalErrorText}}</span>
        </div>
    </modal-footer>
</modal>

<modal #emptyUnitDeleteModal>
    <modal-header>
        <h3>Удаление подразделения</h3>
    </modal-header>
    <modal-content>
        <hr>
        Вы действительно хотите удалить подразделение
        <span class="red" *ngIf="modalDeleteUnit">"{{modalDeleteUnit['name']}}"?</span>
        <div class="buttons" style="margin-top: 30px !important;">
            <a (click)="delUnit();"
               class="main-button red" [class.gray]="modalError">Удалить</a>
            <a (click)="emptyUnitDeleteModal.close();" class="main-button red">Отмена</a>
        </div>
    </modal-content>
    <modal-footer>
        <div *ngIf="modalError" class="modal-error" style="
        height: 120px;
        background-color: #d94b40;
        width: 370px;
        margin-left: -36px;
        color: white;
        padding: 35px 30px;
        text-align: center;
        margin-top: 8px;
        border: 1px solid rgba(0,0,0,0.7);
        border-top: none;
        ">
            <span>Ошибка: {{modalErrorText}}</span>
        </div>
    </modal-footer>
</modal>
