<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 loaded-units" style="margin-bottom:  20px;">
    <div class="content-header">
        <span>Список организаций</span>
        <div class="content-header-button">
            <button (click)="addUnit(null)" class="main-button">Добавить</button>
        </div>
    </div>
    <div class="col-lg-16 col-md-16 col-sm-16 content-description"  style="padding-left: 0px !important;">
        Создание и редактирование организаций, которые позволяют воссоздать структуру организации для комфортного управления сотрудниками.
    </div>
    <div style="clear: both"></div>

    <units-load-filter #unitsTableFilter [managers]="managers" [officers]="officers" [unitsTree]="unitsTree" (apply)="searchUnits($event)"></units-load-filter>

    <units-valid-table [pagination]="pagination"
                       [managers]="managers"
                       [officers]="officers"
                       [unitsTree]="sortUnits(filteredValidItems)"
                       [unitLinks]="true"
                       *ngIf="unitsTree"
                       (addUnit)="addUnit($event)"
                       (editUnit)="editUnit($event)"
                       (delUnit)="orgEntityDelete($event)"></units-valid-table>

    <units-pagination #tablePagination (change)="changePagination()" [params]="pagination" *ngIf="pagination.totalPages > 1 || pagination.totalElements > 10"></units-pagination>
</div>

<modal #unitModal modalClass="add-unit-modal" [closeOnEscape]="false" [closeOnOutsideClick]="false">
    <modal-header>
        <h3>Редактирование подразделения</h3>
    </modal-header>
    <modal-content>
        <hr>
        <div class="modal-input">
            <span class="modal-label">Наименование подразделения</span>
            <div class="icon">
                <span class="icon-house"></span>
            </div>
            <div class="input">
                <input type="text" class="main-input" [(ngModel)]="modalUnitName">
            </div>
        </div>
        <div class="modal-input" *ngIf="unitsTree">
            <span class="modal-label">Вышестоящее подразделение</span>
            <div class="icon">
                <span class="icon-house"></span>
            </div>
            <div class="input">
                <units-tree-selector #unitParentSelector [exclude]="[modalUnitId]" [startValue]="modalUnitParent" [singleSelect]="true" [iconClass]="''" (change)="parentSelectorChange($event)" [placeHolderText]="''" [inputUnitsArray]="unitsTree" [type]="'unit'"></units-tree-selector>
            </div>
        </div>
        <div class="modal-input" *ngIf="officers">
            <span class="modal-label">Список инспекторов ИБ</span>
            <div class="icon">
                <span class="icon-engineer"></span>
            </div>
            <div class="input">
                <tree-selector #unitOfficersSelector [iconClass]="''" [startValue]="modalUnitOfficers" (change)="officersSelectorChange($event)" [placeHolderText]="''" [inputUnitsArray]="officers" [type]="'unit'"></tree-selector>
            </div>
        </div>
        <div class="head-officers">
            <div class="list-label" (click)="toggleModalOfficersShow()">Вышестоящие инспекторы <span class="arrow" [ngClass]="{'open': modalOfficersShow}"></span></div>
            <div class="officers-list" *ngIf="modalOfficersShow">
                <div class="officer" *ngFor="let item of modalUnitParentOfficers; let i = index;">
                    <div class="index">{{i+1}}.</div>
                    <div class="officer-info">
                        <div class="officer-fio">{{item['name']}}</div>
                        <div class="officer-path">{{item['path']}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-input" *ngIf="managers">
            <span class="modal-label">Список менеджеров ИБ</span>
            <div class="icon">
                <span class="icon-support"></span>
            </div>
            <div class="input">
                <tree-selector #unitManagersSelector [startValue]="modalUnitManagers" [iconClass]="''" (change)="managersSelectorChange($event)" [placeHolderText]="''" [inputUnitsArray]="managers" [type]="'unit'"></tree-selector>
            </div>
        </div>
        <div class="head-officers">
            <div class="list-label" (click)="toggleModalManagersShow()">Вышестоящие менеджеры <span class="arrow" [ngClass]="{'open': modalManagersShow}"></span></div>
            <div class="officers-list" *ngIf="modalManagersShow">
                <div class="officer" *ngFor="let item of modalUnitParentManagers; let i = index;">
                    <div class="index">{{i+1}}.</div>
                    <div class="officer-info">
                        <div class="officer-fio">{{item['name']}}</div>
                        <div class="officer-path">{{item['path']}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="buttons">
            <button (click)="saveUnit()" class="main-button save">Сохранить</button>
            <button (click)="unitModal.close()" class="main-button">Отмена</button>
        </div>
    </modal-content>
    <modal-footer>
        <div class="error" style="text-align: center; margin-bottom: 25px; color: #d94b40;" *ngIf="unitModalError != ''">
            <span>
                Ошибка: {{unitModalError}}.
            </span>
        </div>
    </modal-footer>
</modal>

<modal #moveEmployees modalClass="employeesMoveModal">
    <modal-header>
        <h3>Удаление подразделения</h3>
    </modal-header>
    <modal-content>
        <hr>
        <span style="text-align: left; display: block; margin-bottom: 25px;" *ngIf="modalDeleteUnit">
            В подразделении <span style="color: red;">{{modalDeleteUnit.name}}</span> осталось <b>{{modalDeleteUnit.countEmployees}}</b>
        сотрудников. Перенесите их в другое подразделение.
        </span>
        <units-tree-selector #orgMoveSelector *ngIf="modalDeleteUnit && modalUnitsTree"
                       [iconClass]="'house'"
                       (change)="employeesMoveOrgChange($event);"
                       [placeHolderText]="'Название подразделения'"
                       [singleSelect]="true"
                       [error]="moveEmployeeError && employeeMoveOrg.length == 0"
                       [inputUnitsArray]="modalUnitsTree"></units-tree-selector>
        <div class="buttons" style="margin-top: 43px !important; padding-left: 50px; text-align: center;">
            <a (click)="delUnit();"
               class="main-button red" [class.gray]="modalError">Удалить</a>
            <a (click)="moveEmployees.close();" class="main-button red">Отмена</a>
        </div>
    </modal-content>
    <modal-footer>
        <div *ngIf="modalError" class="modal-error" style="
            height: 120px;
            background-color: #d94b40;
            width: 455px;
            margin-left: -1px;
            color: white;
            padding: 45px 30px;
            text-align: center;
            margin-top: -1px;
            border: 1px solid rgba(0,0,0,0.5);
            border-top: none;
        ">
            <span>Ошибка: {{modalErrorText}}</span>
        </div>
    </modal-footer>
</modal>

<modal #emptyUnitDeleteModal>
    <modal-header>
        <h3>Удаление подразделения</h3>
    </modal-header>
    <modal-content>
        <hr>
        Вы действительно хотите удалить подразделение
        <span class="red" *ngIf="modalDeleteUnit">"{{modalDeleteUnit['name']}}"?</span>
        <div class="buttons" style="margin-top: 30px !important;">
            <a (click)="delUnit();"
               class="main-button red" [class.gray]="modalError">Удалить</a>
            <a (click)="emptyUnitDeleteModal.close();" class="main-button red">Отмена</a>
        </div>
    </modal-content>
    <modal-footer>
        <div *ngIf="modalError" class="modal-error" style="
        height: 120px;
        background-color: #d94b40;
        width: 370px;
        margin-left: -36px;
        color: white;
        padding: 35px 30px;
        text-align: center;
        margin-top: 8px;
        border: 1px solid rgba(0,0,0,0.7);
        border-top: none;
        ">
            <span>Ошибка: {{modalErrorText}}</span>
        </div>
    </modal-footer>
</modal>
