<div class="container-fluid main">
    <div class="row content">
        <div class="left">
            <left-bar></left-bar>
        </div>
        <div class="right">
            <nav-bar></nav-bar>
            <div class="right-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<modal #licenseFail modalClass="license-status">
    <modal-header>
        <h3>Статус лицензии</h3>
    </modal-header>
    <modal-content>
        <hr>
        <span *ngIf="licenseSettings"><span *ngIf="licenseSettings.status == 'EXPIRED'">Срок лицензии Вашего предприятия <span class="red">истек</span>. Администратору системы необходимо его продлить.</span></span>
        <span *ngIf="licenseSettings"><span *ngIf="licenseSettings.status == 'FAILURE'">Ваша лицензия <span class="red">недействительна</span>.</span></span>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>