<div class="col-lg-24 col-md-24 col-sm-24 custom-pagination" style="margin: 10px 0px; padding: 0px 0px;">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <span *ngIf="pagination.number < pagination.totalPages">Показано с {{(pagination.size*(pagination.number-1))+1}} по {{pagination.size*pagination.number}} из <b>{{pagination.totalElements}}</b></span>
        <span *ngIf="(pagination.number == pagination.totalPages) || (pagination.number > pagination.totalPages)">Показано с {{(pagination.size*(pagination.number-1))+1}} по {{pagination.totalElements}} из <b>{{pagination.totalElements}}</b></span>
    </div>
    <div class="col-lg-8 col-lg-offset-4 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4">
        <div class="pagination-input" style="left: 0%;">
            <span>Страница:</span>
            <button (click)="reducePage()" class="page">&lt;</button>
            <input (keyup)="onKeyUp($event)" type="text" [(ngModel)]="newPage">
            <button (click)="increasePage()" class="page">&gt;</button>
            <span style="float: right;margin-left: 10px;">{{pagination.totalPages}}</span>
            <span style="float: right;">из</span>
        </div>
    </div>
</div>