<div class="col-lg-13 col-lg-offset-1 col-md-13 col-md-offset-1 col-sm-13 col-sm-offset-1">
    <div class="content-header">Список отчетов по сотрудникам</div>
    <div class="content-description">
        Страница позволяет просматривать отчеты по сотрудникам.
    </div>
</div>

<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 table-filter">
    <div class="unit-name col-sm-15" [class.adv-show]="true" [class.col-sm-12]="showAdvFilter">
        <span class="icon-engineer"></span>
        <input type="text" class="main-input" placeholder="ФИО" [(ngModel)]="filteredFullName">
    </div>
    <div class="unit-name col-sm-12" [class.adv-show]="showAdvFilter" *ngIf="showAdvFilter">
        <span class="icon-mail2"></span>
        <input type="text" class="main-input" placeholder="Почта (email)" [(ngModel)]="filteredEmail">
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <units-tree-selector #orgSelector *ngIf="unitsTree" [iconClass]="'house'" [singleSelect]="true" (change)="orgSelectorChange($event)" [placeHolderText]="'Название подразделения'" [inputUnitsArray]="unitsTree"></units-tree-selector>
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <tree-selector #tagSelector *ngIf="tagsTree" [iconClass]="'tag-star'" (change)="tagSelectorChange($event)" [placeHolderText]="'Теги'" [inputUnitsArray]="tagsTree" [type]="'tag'"></tree-selector>
    </div>
    <div class="search-buttons col-sm-9">
        <div class="search-button" [class.search-left-align]="showAdvFilter">
            <button class="main-button" (click)="applyFilter()">Найти</button>
        </div>
        <div class="adv-search">
            <span (click)="toggleShowFilter()" *ngIf="!showAdvFilter">расширенный поиск</span>
            <span (click)="toggleShowFilter()" *ngIf="showAdvFilter">стандартный поиск</span>
        </div>
    </div>
    <div style="clear: both"></div>
</div>

<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 item-list" style="margin-bottom: 35px;">
    <table>
        <tr>
            <th width="5%" style="text-align: center">№</th>
            <th width="20%">Фамилия и инициалы</th>
            <th width="15%">Email сотрудника</th>
            <th width="30%">Структурное подразделение</th>
            <th width="15%">Теги</th>
            <th>Результат</th>
        </tr>
        <tr *ngFor="let report of reports; let i = index">
            <td>{{i + 1 + (pagination.number-1)*pagination.size}}.</td>
            <td><a routerLink="/reports/employees/{{report.id}}">{{report.shortName}}</a></td>
            <td>
                <span>{{report.email}}</span>
            </td>
            <td>
                <a routerLink="/reports/units/{{report.unit.id}}" *ngIf="user.hasAccess(report.unit, 'READ')">{{report.unit.name}}</a>
                <a class="disable" *ngIf="!user.hasAccess(report.unit, 'READ')">{{report.unit.name}}</a>
            </td>
            <td>
                <template ngFor let-tag [ngForOf]="report.employeeTags">
                    <span>{{tag.name}}</span>
                </template>
            </td>
            <td style="font-weight: 800; height: 60px;">
                <span style="color: #d94b44;" *ngIf="report.result.totalCount">{{report.result.badCount}} перехода(ов)</span><span *ngIf="report.result.totalCount"> из {{report.result.totalCount}}</span>
                <span *ngIf="!report.result.totalCount">Не проходил тестирование</span>
            </td>
        </tr>
    </table>
</div>
<pagination *ngIf="pagination.totalPages > 1" (change)="changePagination($event)" [params]="pagination"></pagination>