<div class="col-lg-13 col-lg-offset-1 col-md-16 col-md-offset-1 col-sm-23 col-sm-offset-1">
    <div class="content-header">Создание задачи</div>
    <div class="content-description">
        Создание новой задачи по тестированию сотрудников.
    </div>
    <div class="item-info">
        <div class="creation-date">
            <span>Дата создания:&nbsp;</span>
            <span class="value">{{currentDateToString}}</span>
        </div>
        <div class="creator">
            <span>Создатель:&nbsp;</span>
            <span class="value">{{userService.fullName}}</span>
        </div>
        <div class="status">
            <span>Статус:&nbsp;</span>
            <span class="value">создается</span>
        </div>
        <button class="alter" (click)="copyTaskParamsModal.open();">Скопировать параметры прошлой задачи</button>
    </div>
    <div class="item-info-form" style="margin-bottom: 300px;">
        <div class="form-content">
            <div [class.error]="fillFormError && newTask.name == ''">
                <span class="icon-drawing"></span>
                <input [(ngModel)]="newTask.name" type="text" placeholder="Название задачи">
            </div>
        </div>
        <units-tree-selector #orgSelector *ngIf="unitsTree" [iconClass]="'house'" (change)="orgSelectorChange($event)"
                             [inputUnitsArray]="unitsTree"
                             [placeHolderText]="'Организации'"></units-tree-selector>
        <tree-selector #tagSelector *ngIf="tagsTree" [iconClass]="'tag-star'" (change)="tagSelectorChange($event)"
                       [inputUnitsArray]="tagsTree" [placeHolderText]="'Теги сотрудников'"
                       [type]="'tag'"></tree-selector>
        <div class="form-content">
            <button (click)="getEmployeesList(true); employeesListEditModal.open()" class="alter" [class.gray]="!allowOpenEmployeesModal" [disabled]="!allowOpenEmployeesModal">Редактировать
                сотрудников вручную
            </button>
            <button (click)="resetFilterBySecondName(); getEmployeesList(false); employeesListViewModal.open()"
                    style="margin-left: 20px; margin-top: 10px;" class="alter" [class.gray]="!allowOpenEmployeesModal" [disabled]="!allowOpenEmployeesModal">Просмотр всех сотрудников
            </button>
        </div>
        <div class="form-content" style="height: 35px; margin-bottom: 35px; margin-top: 35px;">
            <div class="task-template" [class.error]="fillFormError && templatesSelectorValue['id'] == ''" style="height: 70px; width: 73%; float: left;
    margin-right: 20px;">
                <span style="z-index: 100;" class="icon-mail-5"></span>
                <ng-select #templateSelector *ngIf="mailTemplatesItems"
                           [allowClear]="true"
                           [items]="mailTemplatesItems"
                           [disabled]="false"
                           (data)="refreshTemplateValue($event)"
                           placeholder="Шаблон письма">
                </ng-select>
            </div>
            <button class="alter" style="float: right;" (click)="templatePreviewLoad();">Посмотреть</button>
        </div>
        <div class="redirect-settings">
            <div>
                <span>Адрес перехода</span>
            </div>
            <div>
                <div class="radio-buttons" style="margin-bottom: 40px;">
                    <div>
                        <p-radioButton (onClick)="redirectTypeChanged()" value="TEMPLATE_LINK"
                                       [(ngModel)]="selectedRedirectType"></p-radioButton>
                        <span>ссылка из шаблона</span>
                        <span *ngIf="selectedRedirectType == 'TEMPLATE_LINK' && templatesSelectorValue['id'] != ''"
                              class="glyphicon glyphicon-new-window"
                              style="color: #ccc;cursor: pointer;padding-left: 5px;"
                              (click)="goToPage()"></span>
                    </div>
                    <div>
                        <div>
                            <p-radioButton (onClick)="redirectTypeChanged()" value="MOCK_PAGE_LINK"
                                           [(ngModel)]="selectedRedirectType"></p-radioButton>
                            <span>страница-заглушка</span>
                            <span class="glyphicon glyphicon-new-window"
                                  style="color: #ccc; cursor: pointer;padding-left: 5px;"
                                  *ngIf="(selectedRedirectType == 'MOCK_PAGE_LINK') && (mockPageSelectorValue['id'] != '')"
                                  (click)="goToPage()"></span>
                        </div>
                        <div class="redirect-pages" *ngIf="selectedRedirectType == 'MOCK_PAGE_LINK'"
                             [class.error]="fillFormError && mockPageSelectorValue['id'] == ''">
                            <ng-select #mockPageSelector *ngIf="mockPageItems"
                                       [allowClear]="true"
                                       [items]="mockPageItems"
                                       [disabled]="false"
                                       (data)="refreshMockPageValue($event)"
                                       placeholder="Выберите страницу-заглушку">
                            </ng-select>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div>
                        <div>
                            <p-radioButton (onClick)="redirectTypeChanged()" value="CUSTOM_LINK"
                                           [(ngModel)]="selectedRedirectType"></p-radioButton>
                            <span>другая ссылка</span>
                            <span class="glyphicon glyphicon-new-window"
                                  style="color: #ccc;cursor: pointer;padding-left: 5px;"
                                  *ngIf="selectedRedirectType == 'CUSTOM_LINK' && validLink && customUrl != ''"
                                  (click)="goToPage()"></span>
                        </div>
                        <div style="width: calc(100% - 25px); float: right; margin-top: 10px; margin-bottom: 20px;"
                             *ngIf="selectedRedirectType == 'CUSTOM_LINK'">
                            <input type="text" class="main-input" [class.red]="!validLink && customUrl != ''"
                                   style="text-indent: 0px; font-size: 14px; margin-bottom: 0px;"
                                   placeholder="Адрес" (keyup)="validCustomUrl()" [(ngModel)]="customUrl">
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="date-selector"
             [class.datePickerError]="fillFormError && (selectedStartDate == null || selectedEndDate == null)"
             style="margin-bottom: 25px; width: 170px; float: left;">
            <span class="date-label">Период выполнения:</span>
        </div>
        <div class="date-period-panel">
            <div [class.datePickerError]="fillFormError && selectedStartDate == null">
                <p-calendar [(ngModel)]="selectedStartDate" (onSelect)="changedStartDate()"
                            [placeholder]="'Дата начала задачи'" [showTime]="true" [locale]="datePicker.ru"
                            [minDate]="datePicker.currentDate" dateFormat="d.mm.yy"></p-calendar>
                <span *ngIf="startDateError" class="date-error">Дата должна быть больше текущей</span>
            </div>
            <div>
                <span>&#8212;</span>
            </div>
            <div [class.datePickerError]="fillFormError && selectedEndDate == null">
                <p-calendar [(ngModel)]="selectedEndDate" (onSelect)="changedEndDate()"
                            [placeholder]="'Дата завершения задачи'" [showTime]="true" [locale]="datePicker.ru"
                            [minDate]="minEndDate" dateFormat="d.mm.yy"></p-calendar>
                <span *ngIf="endDateError" class="date-error">Дата должна быть больше текущей</span>
            </div>
        </div>
        <div style="clear: both;"></div>
        <button class="left_button" [class.deny-create]="startDateError || endDateError" (click)="createTask()">
        Создать
        </button>
        <button class="left_button" style="margin-left: 10px;" (click)="fastStart()">
            Создать и запустить
        </button>
        <div class="inform_label" style="margin-top: 75px;" [class.red]="fillFormError" *ngIf="fillFormError">
            {{formErrorText}}
        </div>
    </div>
</div>
<div class="col-lg-10 col-md-7 hidden-sm">
    <div class="women-image2"></div>
</div>

<!-- Модалка редактирования списка выбранных сотрудников -->
<modal #employeesListEditModal
       modalClass="employeesListModal"
       (onClose)="employeesListModalClose()"
       (onOpen)="employeesListModalOpen()">
    <modal-header>
        <h3>Добавить сотрудников вручную</h3>
    </modal-header>
    <modal-content>
        <hr/>
        <div class="filter">
            <div class="filter-label">
                <span>Поиск по:</span>
            </div>
            <div class="filter-input">
                <span class="icon-engineer"></span>
                <input type="text"
                       class="main-input"
                       placeholder="ФИО"
                       [(ngModel)]="employeeFilter"
                       (keyup.enter)="updateEmployeeList()">
            </div>
            <div class="apply-filter">
                <button class="main-button"
                        (click)="updateEmployeeList()">
                    Найти
                </button>
            </div>
        </div>
        <span class="text">Вы можете дополнительно добавить сотрудников в вашу задачу с помощью данного окна.</span>
        <div class="employeesList" #employeesList>
            <div style="bottom: 0;
        height: 35px;
        left: 0;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        width: 35px;
        padding-left: 20px;
        padding-top: 20px;" *ngIf="showLoadingSpinner">
                <div class="ball-clip-rotate-multiple" style="">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <template ngFor let-i="index" let-item [ngForOf]="viewEmployeesList" [ngForTrackBy]="trackById">
                <div *ngIf="i < employeesPagination.size*employeesPagination.number && (i > employeesPagination.size*employeesPagination.number - employeesPagination.size - 1)"
                     class="employee"
                     [class.disable]="item.disabled">
                    <p-checkbox [disabled]="item.disabled"
                                [(ngModel)]="item.selected"
                                binary="true" (click)="selectEmployee(item)"></p-checkbox>
                    <div class="info">
                        <span [innerHtml]="item.fullName"></span>
                        <span [innerHtml]="item.unitName"></span>
                    </div>
                </div>
            </template>
        </div>
        <span class="text" style="border-bottom: 1px dashed;">Количество выбранных сотрудников: {{countSelectedEmployees}}</span>
        <div style="height: 25px">
            <employees-list-pagination #employeesPaginationElement (change)="changeEmployeesListPagination()" *ngIf="employeesPagination.totalPages > 1" [params]="employeesPagination"></employees-list-pagination>
        </div>
        <div class="buttons">
            <button (click)="saveSelectedEmployees(); employeesListEditModal.close();" class="left_button">Сохранить
            </button>
            <button (click)="cancelSelectedEmployees(); employeesListEditModal.close();" class="right_button">Отмена
            </button>
        </div>
    </modal-content>
    <modal-footer>
        <!-- почини это, что это и зачем? -->
    </modal-footer>
</modal>

<!-- Модалка просмотра списка выбранных сотрудников -->
<modal #employeesListViewModal
       modalClass="employeesListModal"
       (onClose)="employeesListModalClose()"
       (onOpen)="employeesListModalOpen">
    <modal-header>
        <h3>Просмотр списка сотрудников</h3>
    </modal-header>
    <modal-content>
        <hr/>
        <div class="filter">
            <div class="filter-label">
                <span>Поиск по:</span>
            </div>
            <div class="filter-input">
                <span class="icon-engineer"></span>
                <input type="text"
                       class="main-input"
                       placeholder="ФИО"
                       [(ngModel)]="employeeFilter"
                       (keyup.enter)="updateEmployeeList()">
            </div>
            <div class="apply-filter">
                <button class="main-button"
                        (click)="updateEmployeeList()">
                    Найти
                </button>
            </div>
        </div>
        <span class="text">В данном окне отображается список тестируемых сотрудников по данной задаче.</span>
        <div class="employeesList show" #employeesListView>
            <template ngFor let-i="index" let-item [ngForOf]="viewEmployeesList" [ngForTrackBy]="trackById">
                <div *ngIf="i < employeesPagination.size*employeesPagination.number && (i > employeesPagination.size*employeesPagination.number - employeesPagination.size - 1)"
                     class="employee"
                     [class.disable]="item.disabled">
                    <div class="info info-show">
                        <span [innerHtml]="item.fullName"></span>
                        <span [innerHtml]="item.unitName"></span>
                    </div>
                </div>
            </template>
        </div>
        <span class="text" style="border-bottom: 1px dashed;">Количество выбранных сотрудников: {{countSelectedEmployees}}</span>
        <div style="height: 25px">
            <employees-list-pagination #employeesListViewPagination (change)="changeEmployeesListPagination()" *ngIf="employeesPagination.totalPages > 1" [params]="employeesPagination"></employees-list-pagination>
        </div>
        <div class="buttons" style="margin-left: 65px;">
            <button style="padding-left: 24px !important;" (click)="employeesListViewModal.close();"
                    class="left_button">
                Закрыть
            </button>
        </div>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>

<modal modalClass="taskParamsModal" #copyTaskParamsModal>
    <modal-header>
        <h3>Скопировать параметры с прошлой задачи</h3>
    </modal-header>
    <modal-content>
        <hr>
        Параметры, которые будут скопированы: список организаций, теги сотрудников, шаблон письма и период выполнения
        задачи.
        <div class="item-info-form">
            <div class="form-content">
                <div class="task-template" style="height: 70px; width: 73%; float: left;
        margin-right: 20px;">
                    <span style="z-index: 100;" class="icon-list"></span>
                    <ng-select *ngIf="tasksListItems"
                               [allowClear]="true"
                               [items]="tasksListItems"
                               [disabled]="false"
                               (data)="refreshTaskTemplateValue($event)"
                               placeholder="Выберите шаблон задачи">
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button [class.red]="modalDelete" [class.blue]="modalRecover"
                    (click)="loadTaskParams(); copyTaskParamsModal.close();"
                    class="left_button">Сохранить
            </button>
            <button [class.red]="modalDelete" [class.blue]="modalRecover" (click)="copyTaskParamsModal.close();"
                    class="right_button">Отмена
            </button>
        </div>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>

<modal modalClass="mailTemplateShowModal" #mailTemplateShowModal>
    <modal-header>
        <h3>{{templateName}}</h3>
        <hr>
    </modal-header>
    <modal-content>
        <iframe [srcdoc]="templateHtml | safeHtml" class="mail-template-content"></iframe>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>


<modal modalClass="taskStartDateModal" #startDateErrorModal>
    <modal-header (click)="toggleStartDateSelectorShow(false);">
        <h3>Ошибка</h3>
    </modal-header>
    <modal-content (click)="toggleStartDateSelectorShow(false);">
        <hr>
        Указанная дата начала задачи меньше текущей даты. Выберите новую дату создания задачи.
        <div class="item-info-form">
            <div style="width: 90%; margin: 0 auto;">
                <span class="icon-calendar"
                      style="position: absolute; left: 34px; top: 95px; z-index: 100; font-size: 25px;"></span>
                <p-calendar #startDateSelectorModal (click)="toggleStartDateSelectorShow(true);" [showOnFocus]="true"
                            [placeholder]="'Запуск задачи начать:'" [(ngModel)]="startDateModal" [showTime]="true"
                            [locale]="datePicker.ru" [minDate]="datePicker.currentDate"
                            dateFormat="d.mm.yy"></p-calendar>
            </div>
        </div>
        <div class="buttons">
            <button (click)="changeTaskStartDate();" class="left_button">Сохранить</button>
            <button (click)="startDateErrorModal.close();" class="right_button">Отмена</button>
        </div>
    </modal-content>
    <modal-footer>
        <div *ngIf="startDateModalError" class="modal-error" style="
        height: 120px;
        background-color: #d94b40;
        width: 433px;
        margin-left: -35px;
        color: white;
        padding: 50px 30px;
        text-align: center;
        margin-top: 5px;
        ">
            <span>Ошибка: дата создания задачи меньше текущей</span>
        </div>
    </modal-footer>
</modal>
