<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- For development, pass document through inliner -->
    <style type="text/css">
        /* Your custom styles go here */
    </style>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
    <tbody>
    <tr>
        <td bgcolor="#F2F2F2" valign="top" align="center">
            <table width="700" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td valign="top">

                        <table bgcolor="#f2f2f2" style="table-layout:fixed;" width="100%" border="0" cellspacing="0"
                               cellpadding="0">
                            <tbody>
                            <tr>
                                <td valign="top" align="center">
                                    <table bgcolor="#f2f2f2" width="740" border="0" cellspacing="0" cellpadding="0"
                                           style="min-width:740px;">
                                        <tbody>
                                        <tr>
                                            <td valign="middle" style="padding:10px 0px 10px 0px;" align="center">
                                                <table bgcolor="#f2f2f2" width="700" border="0" cellspacing="0"
                                                       cellpadding="0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="middle" align="left"
                                                            style="font-family:Arial;font-size:12px;color:#666666;"><b>${employee.fullName}</b> – Важная информация для Вас от PayPal
                                                        </td>
                                                        <td width="10"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td valign="top">

                        <table bgcolor="#f2f2f2" style="table-layout:fixed;" width="100%" border="0" cellspacing="0"
                               cellpadding="0">
                            <tbody>
                            <tr>
                                <td valign="top" align="center">
                                    <table bgcolor="#f2f2f2" width="740" border="0" cellspacing="0" cellpadding="0"
                                           style="min-width:740px;">
                                        <tbody>
                                        <tr>
                                            <td valign="middle" align="center">
                                                <table bgcolor="#FFFFFF" width="700" border="0" cellspacing="0"
                                                       cellpadding="0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="middle" align="left"
                                                            style="font-family:Arial;font-size:1px;color:#666666;"
                                                            height="1" width="100%"><img
                                                                style="display:block;border:none;"
                                                                src="https://proxy.imgsmail.ru?email=d.andreev%40mail.ru&amp;e=1491300629&amp;h=gGcczntF_5qI2HB9tHGFbg&amp;url171=cHAuaW1hZ2VzLmhhcm1vbnkuZXBzaWxvbi5jb20vRU1FQS8yMDE3L0phbi8xMjU1MTA2XzU0ODQvcm5kX2NybnJfdG9wLmpwZw~~&amp;is_https=1"
                                                                width="700" height="7" alt=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="middle" bgcolor="#e3e3e3" align="left"
                                                            style="font-family:Arial;font-size:12px;color:#666666;padding:0px 1px 0px 1px;">
                                                            <table bgcolor="#FFFFFF" width="100%" border="0"
                                                                   cellspacing="0" cellpadding="0">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="font-family:Arial;font-size:12px;color:#666666;"
                                                                        align="center" valign="top">
                                                                        <table width="642" border="0" cellspacing="0"
                                                                               cellpadding="0">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="font-family:Arial;font-size:12px;color:#666666;"
                                                                                    height="15"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family:Arial;font-size:12px;color:#666666;">
                                                                                    <table width="100%" border="0"
                                                                                           cellspacing="0"
                                                                                           cellpadding="0">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td style="font-family:Arial;font-size:12px;color:#666666;"
                                                                                                align="left">
                                                                                                <table border="0"
                                                                                                       cellspacing="0"
                                                                                                       cellpadding="0">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td style="font-family:Arial;font-size:16px;color:#666666;">
                                                                                                            <a href="https://epl.paypal-communication.com/T/v20000015a13ee79b5a54dcef4bbcfbb48/326fe90612d14d1a0000021ef3a0bcc2/326fe906-12d1-4d1a-b16a-fd9d74f50ab5"
                                                                                                               target="_blank"
                                                                                                               rel="noopener"><img
                                                                                                                    style="display:block;border:none;"
                                                                                                                    src="https://proxy.imgsmail.ru?email=d.andreev%40mail.ru&amp;e=1491300629&amp;h=3_o9YOThEHmI_y6TK5CBew&amp;url171=cHAuaW1hZ2VzLmhhcm1vbnkuZXBzaWxvbi5jb20vRU1FQS8yMDE3L0phbi8xMjU1MTA2XzU0ODQvbG9nby1wYXlwYWwucG5n&amp;is_https=1"
                                                                                                                    width="152"
                                                                                                                    height="38"
                                                                                                                    alt="PayPal"
                                                                                                                    title="PayPal"></a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                            <td style="font-family:Arial;font-size:12px;color:#666666;"
                                                                                                align="right">
                                                                                                <table border="0"
                                                                                                       cellspacing="0"
                                                                                                       cellpadding="0">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td style="font-family:Arial;font-size:16px;color:#666666;"></td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family:Arial;font-size:12px;color:#666666;"
                                                                                    height="25"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family:Arial;font-size:12px;color:#666666;">
                                                                                    <table width="100%" border="0"
                                                                                           cellspacing="0"
                                                                                           cellpadding="0">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td style="font-family:Arial;font-size:12px;color:#666666;"
                                                                                                align="left">
                                                                                                <table border="0"
                                                                                                       cellspacing="0"
                                                                                                       cellpadding="0">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td style="font-family:Arial;font-size:40px;color:#009cde;">
                                                                                                            Важная
                                                                                                            информация
                                                                                                            для Вас
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family:Arial;font-size:1px;color:#666666;"
                                                                                    height="25"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left"
                                                                                    style="font-family:Arial;font-size:16px;color:#666666;">
                                                                                    Здравствуйте ${employee.fullName},<br><br>
                                                                                    Мы внесли изменения в Соглашение с
                                                                                    пользователем. Ознакомиться с
                                                                                    данными изменениями Вы можете на
                                                                                    странице <a
                                                                                        href="${link}"
                                                                                        style="text-decoration:none;color:#009cde;font-weight:bold"
                                                                                        target="_blank" rel="noopener">«Обновления
                                                                                    политик»</a> или на нашем
                                                                                    официальном сайте в разделе
                                                                                    «Юридические соглашения» в нижней
                                                                                    части главной страницы.
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td style="font-family:Arial;font-size:1px;color:#666666;"
                                                                                    height="15"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left"
                                                                                    style="font-family:Arial;font-size:16px;color:#666666;">
                                                                                    <b>Необходимые действия с Вашей
                                                                                        стороны</b></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family:Arial;font-size:1px;color:#666666;"
                                                                                    height="15"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left"
                                                                                    style="font-family:Arial;font-size:16px;color:#666666;">
                                                                                    Ознакомьтесь с изменениями в
                                                                                    Соглашении с пользователем. В случае
                                                                                    если Вы не согласны с ними, Вам
                                                                                    необходимо выполнить действия,
                                                                                    описанные на странице «Обновления
                                                                                    политик».
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family:Arial;font-size:1px;color:#666666;"
                                                                                    height="15"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left"
                                                                                    style="font-family:Arial;font-size:16px;color:#666666;"
                                                                                    valign="middle">
                                                                                    <table width="310" border="0"
                                                                                           cellspacing="0"
                                                                                           cellpadding="0">
                                                                                        <tbody>
                                                                                        <tr>


                                                                                            <td bgcolor="#009cde"
                                                                                                style="font-family:Arial;font-size:16px;color:#666666;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;"
                                                                                                valign="middle">
                                                                                                <table width="100%"
                                                                                                       border="0"
                                                                                                       cellspacing="0"
                                                                                                       cellpadding="0">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td style="font-family:Arial;font-size:14px;color:#FFFFFF;"
                                                                                                            valign="middle"
                                                                                                            align="center">
                                                                                                            <a style="display:block;text-decoration:none;color:#ffffff;padding:10px 0px 10px 0px;font-weight:bold;"
                                                                                                               href="${link}"
                                                                                                               target="_blank"
                                                                                                               rel="noopener"
                                                                                                               data-snippet-id="186e26-1b32-cdfd-49f8-f0be8738173b">Просмотреть
                                                                                                                обновления</a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>


                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family:Arial;font-size:1px;color:#666666;"
                                                                                    height="15"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left"
                                                                                    style="font-family:Arial;font-size:16px;color:#666666;">
                                                                                    С уважением,
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left"
                                                                                    style="font-family:Arial;font-size:16px;color:#666666;">
                                                                                    команда PayPal
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family:Arial;font-size:1px;color:#666666;"
                                                                                    height="15"></td>
                                                                            </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="middle" align="left"
                                                            style="font-family:Arial;font-size:1px;color:#666666;"
                                                            height="1" width="100%"><img
                                                                style="display:block;border:none;"
                                                                src="https://proxy.imgsmail.ru?email=d.andreev%40mail.ru&amp;e=1491300629&amp;h=ki2siTjhz8CV6L-97DDpWg&amp;url171=cHAuaW1hZ2VzLmhhcm1vbnkuZXBzaWxvbi5jb20vRU1FQS8yMDE3L0phbi8xMjU1MTA2XzU0ODQvcm5kX2NybnJfYm90dG9tLmpwZw~~&amp;is_https=1"
                                                                width="700" height="7" alt=""></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td valign="top">

                        <table bgcolor="#f2f2f2" style="table-layout:fixed;" width="100%" border="0" cellspacing="0"
                               cellpadding="0">
                            <tbody>
                            <tr>
                                <td valign="top" align="center">
                                    <table bgcolor="#f2f2f2" width="740" border="0" cellspacing="0" cellpadding="0"
                                           style="min-width:740px;">
                                        <tbody>
                                        <tr>
                                            <td valign="middle" align="center">
                                                <table bgcolor="" width="700" border="0" cellspacing="0"
                                                       cellpadding="0">

                                                    <tbody>
                                                    <tr>
                                                        <td style="font-family:Arial;font-size:0%;line-height:0;color:#666666;"
                                                            height="15"></td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="middle" align="left"
                                                            style="font-family:Arial;font-size:12px;color:#666666;">
                                                            <table bgcolor="" width="100%" border="0" cellspacing="0"
                                                                   cellpadding="0">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="font-family:Arial;font-size:12px;color:#666666;"
                                                                        align="center" valign="top">
                                                                        <table width="642" border="0" cellspacing="0"
                                                                               cellpadding="0">

                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="font-family:Arial;font-size:12px;color:#666666;">
                                                                                    <table width="100%" border="0"
                                                                                           cellspacing="0"
                                                                                           cellpadding="0">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <th style="font-family:Arial;font-size:12px;color:#666666;"
                                                                                                align="left">
                                                                                                <table border="0"
                                                                                                       cellspacing="0"
                                                                                                       cellpadding="0">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td style="font-family:Arial;font-size:13px;color:#666666;font-weight:bold;"
                                                                                                            align="center">
                                                                                                            <table border="0"
                                                                                                                   cellspacing="0"
                                                                                                                   cellpadding="0">
                                                                                                                <tbody>
                                                                                                                <tr>
                                                                                                                    <td style="font-family:Arial;font-size:13px;color:#666666;font-weight:bold;">
                                                                                                                        <a style="text-decoration:none;color:#666666;"
                                                                                                                           href="https://epl.paypal-communication.com/T/v20000015a13ee79b5a54dcef4bbcfbb48/326fe90612d14d1a0000021ef3a0bcc5/326fe906-12d1-4d1a-b16a-fd9d74f50ab5"
                                                                                                                           target="_blank"
                                                                                                                           rel="noopener">Забыли
                                                                                                                            пароль?</a>
                                                                                                                    </td>
                                                                                                                    <td width="10"></td>
                                                                                                                    <td style="font-family:Arial;font-size:13px;color:#666666;font-weight:bold;">
                                                                                                                        <a style="text-decoration:none;color:#666666;"
                                                                                                                           href="https://epl.paypal-communication.com/T/v20000015a13ee79b5a54dcef4bbcfbb48/326fe90612d14d1a0000021ef3a0bcc6/326fe906-12d1-4d1a-b16a-fd9d74f50ab5"
                                                                                                                           target="_blank"
                                                                                                                           rel="noopener">Справка</a>
                                                                                                                    </td>
                                                                                                                    <td width="10"></td>
                                                                                                                    <td style="font-family:Arial;font-size:13px;color:#666666;font-weight:bold;">
                                                                                                                        <a style="text-decoration:none;color:#666666;"
                                                                                                                           href="https://epl.paypal-communication.com/T/v20000015a13ee79b5a54dcef4bbcfbb48/326fe90612d14d1a0000021ef3a0bcc7/326fe906-12d1-4d1a-b16a-fd9d74f50ab5"
                                                                                                                           target="_blank"
                                                                                                                           rel="noopener">Безопасность</a>
                                                                                                                    </td>

                                                                                                                </tr>
                                                                                                                </tbody>
                                                                                                            </table>

                                                                                                        </td>

                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </th>


                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family:Arial;font-size:1px;color:#666666;"
                                                                                    height="15"></td>
                                                                            </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td height="1" bgcolor="#d9d9d9" style="font-size:1px;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td height="1" bgcolor="#FFFFFF" style="font-size:1px;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="middle" align="left"
                                                            style="font-family:Arial;font-size:12px;color:#666666;">
                                                            <table bgcolor="" width="100%" border="0" cellspacing="0"
                                                                   cellpadding="0">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="font-family:Arial;font-size:12px;color:#666666;"
                                                                        align="center" valign="top">
                                                                        <table width="642" border="0" cellspacing="0"
                                                                               cellpadding="0">

                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="font-family:Arial;font-size:1px;color:#666666;"
                                                                                    height="15"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family:Arial;font-size:12px;color:#666666;">
                                                                                    <table width="100%" border="0"
                                                                                           cellspacing="0"
                                                                                           cellpadding="0">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <th style="font-family:Arial;font-size:12px;color:#666666;"
                                                                                                align="left">
                                                                                                <table border="0"
                                                                                                       cellspacing="0"
                                                                                                       cellpadding="0">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td style="font-family:Arial;color:#666666;"
                                                                                                            align="center">
                                                                                                            <table border="0"
                                                                                                                   cellspacing="0"
                                                                                                                   cellpadding="0">
                                                                                                                <tbody>
                                                                                                                <tr>
                                                                                                                    <td align="left"
                                                                                                                        style="font-family:Helvetica,Arial,sans-serif;-webkit-font-smoothing: antialiased;font-size:11px;color:#666666;text-align:justify;line-height:19px;font-weight:normal !important;">
                                                                                                                        <b>Как
                                                                                                                            определить,
                                                                                                                            не
                                                                                                                            является
                                                                                                                            ли
                                                                                                                            полученное
                                                                                                                            вами
                                                                                                                            сообщение
                                                                                                                            поддельным?</b><br><br>
                                                                                                                        В
                                                                                                                        сообщении,
                                                                                                                        которое
                                                                                                                        действительно
                                                                                                                        отправлено
                                                                                                                        от
                                                                                                                        имени
                                                                                                                        PayPal,
                                                                                                                        содержится
                                                                                                                        обращение
                                                                                                                        по
                                                                                                                        имени
                                                                                                                        и
                                                                                                                        фамилии
                                                                                                                        или
                                                                                                                        по
                                                                                                                        названию
                                                                                                                        компании.
                                                                                                                        В
                                                                                                                        нем
                                                                                                                        не
                                                                                                                        должно
                                                                                                                        содержаться
                                                                                                                        просьб
                                                                                                                        раскрыть
                                                                                                                        вашу
                                                                                                                        конфиденциальную
                                                                                                                        информацию,
                                                                                                                        например,
                                                                                                                        пароль,
                                                                                                                        сведения
                                                                                                                        банковского
                                                                                                                        счета
                                                                                                                        или
                                                                                                                        карты.
                                                                                                                        В
                                                                                                                        большинстве
                                                                                                                        поддельных
                                                                                                                        сообщений
                                                                                                                        содержатся
                                                                                                                        угрозы
                                                                                                                        о
                                                                                                                        том,
                                                                                                                        что
                                                                                                                        ваша
                                                                                                                        учетная
                                                                                                                        запись
                                                                                                                        подвергнется
                                                                                                                        риску,
                                                                                                                        если
                                                                                                                        вы
                                                                                                                        не
                                                                                                                        предпримете
                                                                                                                        срочных
                                                                                                                        мер,
                                                                                                                        а
                                                                                                                        также
                                                                                                                        опечатки
                                                                                                                        и
                                                                                                                        грамматические
                                                                                                                        ошибки,
                                                                                                                        либо
                                                                                                                        содержание
                                                                                                                        не
                                                                                                                        полностью
                                                                                                                        соответствует
                                                                                                                        данным
                                                                                                                        в
                                                                                                                        вашей
                                                                                                                        учетной
                                                                                                                        записи
                                                                                                                        PayPal.
                                                                                                                        Не
                                                                                                                        нажимайте
                                                                                                                        на
                                                                                                                        ссылки
                                                                                                                        в
                                                                                                                        подобных
                                                                                                                        подозрительных
                                                                                                                        сообщениях.<br><br>
                                                                                                                        <a href="https://epl.paypal-communication.com/T/v20000015a13ee79b5a54dcef4bbcfbb48/326fe90612d14d1a0000021ef3a0bcc8/326fe906-12d1-4d1a-b16a-fd9d74f50ab5"
                                                                                                                           target="_blank"
                                                                                                                           style="color:#666666;"
                                                                                                                           rel="noopener">Нажмите
                                                                                                                            здесь,
                                                                                                                            чтобы
                                                                                                                            узнать,
                                                                                                                            как
                                                                                                                            защитить
                                                                                                                            себя
                                                                                                                            от
                                                                                                                            обманных
                                                                                                                            и
                                                                                                                            мошеннических
                                                                                                                            действий</a>.
                                                                                                                    </td>

                                                                                                                </tr>
                                                                                                                </tbody>
                                                                                                            </table>

                                                                                                        </td>

                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </th>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family:Helvetica,Arial,sans-serif;font-size:1px;color:#666666;"
                                                                                    height="15"></td>
                                                                            </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>


                                                    <tr>
                                                        <td height="1" bgcolor="#d9d9d9" style="font-size:1px;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td height="1" bgcolor="#FFFFFF" style="font-size:1px;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="middle" align="left"
                                                            style="font-family:Arial;font-size:12px;color:#666666;">
                                                            <table bgcolor="" width="100%" border="0" cellspacing="0"
                                                                   cellpadding="0">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="font-family:Arial;font-size:12px;color:#666666;"
                                                                        align="center" valign="top">
                                                                        <table width="642" border="0" cellspacing="0"
                                                                               cellpadding="0">

                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="font-family:Helvetica,Arial,sans-serif;font-size:1px;color:#666666;"
                                                                                    height="15"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#666666;">
                                                                                    <table width="100%" border="0"
                                                                                           cellspacing="0"
                                                                                           cellpadding="0">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <th style="font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#666666;"
                                                                                                align="left">
                                                                                                <table border="0"
                                                                                                       cellspacing="0"
                                                                                                       cellpadding="0">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td style="font-family:Arial;color:#666666;"
                                                                                                            align="center">
                                                                                                            <table border="0"
                                                                                                                   cellspacing="0"
                                                                                                                   cellpadding="0">
                                                                                                                <tbody>
                                                                                                                <tr>
                                                                                                                    <td align="left"
                                                                                                                        style="font-family:Helvetica,Arial,sans-serif;-webkit-font-smoothing: antialiased;font-size:11px;color:#666666;text-align:justify;line-height:19px;font-weight:normal !important;">
                                                                                                                        Это
                                                                                                                        сообщение
                                                                                                                        электронной
                                                                                                                        почты
                                                                                                                        отправлено
                                                                                                                        на
                                                                                                                        адрес
                                                                                                                        ${employee.email}.
                                                                                                                        <br>
                                                                                                                        <br>
                                                                                                                        Авторское
                                                                                                                        право
                                                                                                                        ©
                                                                                                                        1999-2017
                                                                                                                        PayPal.
                                                                                                                        Все
                                                                                                                        права
                                                                                                                        сохранены.
                                                                                                                        Общество
                                                                                                                        с
                                                                                                                        ограниченной
                                                                                                                        ответственностью
                                                                                                                        Небанковская
                                                                                                                        кредитная
                                                                                                                        организация
                                                                                                                        «ПэйПал
                                                                                                                        РУ».
                                                                                                                        Юридический
                                                                                                                        адрес:
                                                                                                                        Российская
                                                                                                                        Федерация,
                                                                                                                        125047,
                                                                                                                        Москва,
                                                                                                                        Бутырский
                                                                                                                        вал,
                                                                                                                        д.
                                                                                                                        10.
                                                                                                                        Деятельность
                                                                                                                        осуществляется
                                                                                                                        на
                                                                                                                        основании
                                                                                                                        лицензии
                                                                                                                        Центрального
                                                                                                                        банка
                                                                                                                        Российской
                                                                                                                        Федерации
                                                                                                                        №
                                                                                                                        3517-К.
                                                                                                                    </td>

                                                                                                                </tr>
                                                                                                                </tbody>
                                                                                                            </table>

                                                                                                        </td>

                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </th>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family:Arial;font-size:1px;color:#666666;"
                                                                                    height="15"></td>
                                                                            </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>
