<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- For development, pass document through inliner -->
    <style type="text/css">
        /* Your custom styles go here */
    </style>
</head>

<body style=" background: white;">
<table class="body-wrap" style="width: 100%">
    <tr>
        <td class="container" style="
            display: block !important;
            clear: both !important;
            max-width: 580px !important;
            margin: 0 auto !important;">
            <!-- Message start -->
            <table>
                <tr style="border-bottom: 1px solid #eee;">
                    <td style="padding: 50px 60px">
                        <div id="style_14590511860000000105_BODY">Это сообщение отправлено Вам через сайт Яндекс.Деньги.<br>
                            <br>
                            Пользователь <a href="/compose?To=d.andreev@mail.ru" rel="noopener">d.andreev@mail.ru</a> пересылает Вам бонус, полученный за платеж Яндекс.Деньгами: Бесплатная подписка на две недели.<br>
                            <br>
                            Чтобы воспользоваться подарком, нужно активировать пин-код (подробная инструкция: <a href="${link}" target="_blank" rel="noopener" data-snippet-id="bd2123b4-aa5f-e549-6cf1-fab8ee154772">https://money.yandex.ru/doc.xml?id=527707</a>). <br>
                            Пин-код: QJ8U9NX2JQ<br>
                            <br>
                            Обратите внимание:<br>
                            <br>
                            •&nbsp;Для активации бонуса не нужно вводить данные Вашего счета в Яндекс.Деньги — логин, пароль или платежный пароль.<br>
                            •&nbsp;Если Вы получили похожее письмо, но по ссылке Вам предлагают ввести платежный пароль — ни в коем случае не делайте этого. Подробнее о фишинговых письмах: <a href="${link}" target="_blank" rel="noopener" data-snippet-id="53bd71ad-6a56-84f-b893-cdb1beec5214">https://money.yandex.ru/security/doc.xml?id=522951</a><br>
                            •&nbsp;Если Вы считаете, что получили это сообщение по ошибке, просто проигнорируйте его.<br>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>

</html>