<div class="container-fluid main">
    <div class="row content">
        <div class="left">
            <left-bar></left-bar>
        </div>
        <div class="right">
            <nav-bar></nav-bar>
            <div class="right-content">
                <div class="col-lg-13 col-lg-offset-1 col-md-13 col-md-offset-1 col-sm-13 col-sm-offset-1">
                    <div class="content-header">Знакомство с панелью управления</div>
                    <div class="content-description">
                        Система направлена на предотвращение и снижение до минимума рисков, связанных с кибератаками на
                        email сотрудников предприятий. При возникновении вопросов можно обратиться в службу технической
                        поддержки.
                    </div>
                    <div class="buttons" style="margin-top: 40px !important;">
                        <a href="mailto:info@white-soft.ru" style="outline: none;height: 42px;
                                        border: 1px solid #40dba2;
                                        background-color: #40dba2;
                                        border-radius: 20px;
                                        padding-left: 30px;
                                        padding-right: 30px;
                                        color: #fff;
                                        border: 0;
                                        float: left;
                                        margin-right: 20px;
                                        margin-bottom: 10px;
                                        padding-top: 11px;
                                        text-underline: none;
                                        cursor: pointer">Задать вопрос
                        </a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-7 hidden-sm">
                    <div class="main-page-image"></div>
                </div>

                <div class="col-lg-24 col-md-24 col-sm-24 report-task-diagram" *ngIf="mailStats">
                    <div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1"
                         style="padding: 25px 0px;">
                        <div style="font-family: RobotoLight; font-size: 32px; margin-bottom: 40px; padding-left: 5px;}">
                            <span>Общая статистика</span>
                        </div>
                        <div class="report-task-diagram-content">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px;"
                                 style="min-width: 340px;">
                                <div class="value-with-label">
                                    <span class="icon-notepad-10"></span>
                                    <span class="value">Результат (количество переходов):&nbsp;<b>{{mailStats.percentMailIncorrect}}%</b></span>
                                </div>
                                <div class="value-with-label">
                                    <span class="icon-group"></span>
                                    <span class="value">Количество отправленных писем:&nbsp;<b>{{mailStats.countMail}}</b></span>
                                </div>
                                <div class="employees-count">
                                    <div class="tested-employees green">Количество компетентных действий: <b>{{mailStats.countMailCorrect}}</b>
                                    </div>
                                    <div class="vulnerable-employees red">Количество уязвимых переходов: <b>{{mailStats.countMailIncorrect}}</b>
                                    </div>
                                </div>
                                <div class="buttons" style="margin-top: 40px !important;">
                                    <button style="background: #179afc !important; border-color: #179afc !important;"
                                            (click)="toReports()">Перейти в отчеты
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-8" style="padding-bottom: 50px;
                padding-right: 50px;">
                                <canvas baseChart
                                        [datasets]="pieChartData"
                                        [labels]="pieChartLabels"
                                        [colors]="pieColors"
                                        [chartType]="'pie'"
                                        [options]="pieOptions"
                                        [legend]="false"></canvas>
                            </div>
                            <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-8">
                                <div class="value-with-label">
                                    <span class="icon-notepad-18"></span>
                                    <span class="value">Переходы по шаблонам:&nbsp;</span>
                                </div>
                                <span class="diagram-link" *ngFor="let template of mailStats.templateStats"><a
                                        style="cursor: pointer;" (click)="templatePreviewLoad(template.template.id)">{{template.template.name}}</a> ({{template.countMailIncorrect}})</span>
                            </div>
                        </div>
                        <div class="button">

                        </div>
                    </div>
                </div>

                <div class="col-lg-13 col-lg-offset-1 col-md-13 col-md-offset-1 col-sm-13 col-sm-offset-1"
                     *ngIf="user.getAuthority() != 'ROLE_MANAGER'">
                    <div class="content-header">История задач <a
                            style="font-size: 26px; color: #53cf9c; cursor:pointer;" routerLink="/tasks">(перейти)</a>
                    </div>
                    <div class="content-description">
                        Система направлена на предотвращение и снижение до минимума рисков, связанных с кибератаками на
                        email сотрудников предприятий. При возникновении вопросов можно обратиться в службу технической
                        поддержки.
                    </div>
                </div>
                <div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 item-list" *ngIf="user.getAuthority() != 'ROLE_MANAGER'">
                    <table>
                        <tr>
                            <th width="5%" style="text-align: center">№</th>
                            <th width="35%">Название и создатель</th>
                            <th width="20%">Дата запуска</th>
                            <th width="40%" style="text-align: left;">Теги сотрудников и их организации</th>
                        </tr>
                        <tr *ngFor="let task of tasks; let i = index" [class.deleted]="task.status == 'EXPIRED'"
                            [class.paused]="task.status=='SUSPENDED'" [class.running]="task.status=='EXECUTION'"
                            [class.completed]="task.status=='COMPLETED'">
                            <td>{{i+1}}.</td>
                            <td><a routerLink="/tasks/{{task.id}}">{{task.name}}</a><br><span class="bold-text">{{task.author}}</span>
                            </td>
                            <td><span class="bold-text">{{task.startDate | date: 'dd.MM.yyyy HH:mm'}}</span>
                            </td>
                            <td style="text-align: left;">
                                <span class="bold-text">Теги:
                                    <a routerLink="/employee-tags/{{tag.id}}" *ngFor="let tag of task.employeeTags">{{tag.name}}</a>
                                </span>
                                <br>
                                <span class="bold-text">Организации:
                                    <template ngFor let-unit [ngForOf]="task.units">
                                        <a routerLink="/units/{{unit.id}}" *ngIf="user.hasAccess(unit, 'READ')">{{unit.name}}</a>
                                        <a class="disable"
                                           *ngIf="!user.hasAccess(unit, 'READ')">{{unit.name}}</a>
                                    </template>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 legend" *ngIf="user.getAuthority() != 'ROLE_MANAGER'">
                    <span>Цветовые обозначения задач:</span>
                    <span class="legend-value running">Выполняется</span>
                    <span class="legend-value">В ожидании</span>
                </div>
                <div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 add-user"
                     style="margin-bottom: 100px !important;" *ngIf="user.getAuthority() != 'ROLE_MANAGER'">
                    <div style="padding-left: 0; width: 185px;">
                        <button routerLink="/tasks/new" class="main-button">Добавить задачу</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<modal modalClass="mailTemplateShowModal" #mailTemplateShowModal>
    <modal-header>
        <h3>{{templateName}}</h3>
        <hr>
    </modal-header>
    <modal-content>
        <iframe [srcdoc]="templateHtml | safeHtml" class="mail-template-content"></iframe>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>

<modal #licenseFail modalClass="license-status">
    <modal-header>
        <h3>Статус лицензии</h3>
    </modal-header>
    <modal-content>
        <hr>
        <span *ngIf="licenseSettings"><span *ngIf="licenseSettings.status == 'EXPIRED'">Срок лицензии Вашего предприятия <span class="red">истек</span>. Администратору системы необходимо его продлить.</span></span>
        <span *ngIf="licenseSettings"><span *ngIf="licenseSettings.status == 'FAILURE'">Ваша лицензия <span class="red">недействительна</span>.</span></span>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>