<div class="col-lg-13 col-lg-offset-1 col-md-16 col-md-offset-1 col-sm-23 col-sm-offset-1">
    <div class="content-header">Создание сотрудника</div>
    <div class="content-description">
        Добавление нового сотрудника.
    </div>
    <div class="item-info-form">
        <div class="form-content">
            <div class="user-fio">
                <div id="second-name" [class.error]="fillFormError && !newEmployee.secondName">
                    <span class="icon-engineer"></span>
                    <input type="text" placeholder="Фамилия" [(ngModel)]="newEmployee.secondName">
                </div>
                <div class="non-icon" id="first-name" [class.error]="fillFormError && !newEmployee.firstName">
                    <input type="text" placeholder="Имя" [(ngModel)]="newEmployee.firstName">
                </div>
                <div class="non-icon" id="middle-name">
                    <input type="text" placeholder="Отчество" [(ngModel)]="newEmployee.middleName">
                </div>
            </div>
            <div id="user-email" [class.error]="fillFormError && !newEmployee.email">
                <span class="icon-mail2"></span>
                <input type="text" placeholder="Адрес электронной почты" [(ngModel)]="newEmployee.email">
            </div>
            <div>
            <span class="icon-startup"></span>
            <input type="text" placeholder="Должность сотрудника" [(ngModel)]="newEmployee.position">
        </div>
    </div>
    <units-tree-selector *ngIf="unitsTree" [error]="fillFormError && newEmployee.unit.length == 0" [singleSelect]="true" [iconClass]="'house'" (change)="orgSelectorChange($event)"
                   [placeHolderText]="'Организация (структурное подразделение)'" [inputUnitsArray]="unitsTree"></units-tree-selector>
    <tree-selector *ngIf="tagsTree" [iconClass]="'tag-star'" (change)="tagSelectorChange($event)" [inputUnitsArray]="tagsTree"
                   [placeHolderText]="'Теги'" [type]="'tag'"></tree-selector>
    <button class="left_button" (click)="createEmployee()">Добавить</button>
    <div class="inform_label" style="margin-top: 130px;" [class.red]="fillFormError" *ngIf="fillFormError">
        {{formErrorText}}
    </div>
</div>
</div>
<div class="col-lg-10 col-md-7 hidden-sm">
    <div class="man-image"></div>
</div>
