<div class="col-lg-13 col-lg-offset-1 col-md-16 col-md-offset-1 col-sm-23 col-sm-offset-1">
    <div class="content-header">Создание пользователя</div>
    <div class="content-description">
        Добавление нового пользователя.
    </div>
    <div class="item-info">
        <div class="registration-date">
            <span>Дата создания:&nbsp;</span>
            <span class="value">{{currentDateToString}}</span>
        </div>
    </div>
    <div class="item-info-form" style="margin-bottom: 330px !important;">
        <div class="form-content">
            <div class="login" [class.error]="fillFormError && !user.username">
                <span class="icon-drawing"></span>
                <input type="text" placeholder="Логин" [(ngModel)]="user.username">
            </div>
            <div id="user-last-password" [class.error]="fillFormError && !user.password">
                <span class="icon-key"></span>
                <input type="password" placeholder="Пароль" [(ngModel)]="user.password">
            </div>
            <div class="user-fio">
                <div id="second-name">
                    <span class="icon-engineer"></span>
                    <input type="text" placeholder="Фамилия" [(ngModel)]="user.secondName">
                </div>
                <div class="non-icon" id="first-name">
                    <input type="text" placeholder="Имя" [(ngModel)]="user.firstName">
                </div>
                <div class="non-icon" id="middle-name">
                    <input type="text" placeholder="Отчество" [(ngModel)]="user.middleName">
                </div>
            </div>
            <div id="user-email" [class.error]="fillFormError && !user.email">
                <span class="icon-mail2"></span>
                <input type="text" placeholder="Адрес электронной почты" [(ngModel)]="user.email">
            </div>
            <div class="role" [class.error]="fillFormError && authoritiesSelectorValue['id'] == ''">
                <span  style="z-index: 100;" class="icon-light-bulb"></span>
                <ng-select [allowClear]="true"
                           [items]="authorityItems"
                           [disabled]="false"
                           (data)="refreshValue($event)"
                           (selected)="selected($event)"
                           (removed)="removed($event)"
                           (typed)="typed($event)"
                           placeholder="Роль">
                </ng-select>
            </div>
            <div class="organization">
            </div>
        </div>
        <units-tree-selector *ngIf="unitsTree" [iconClass]="'house'" (change)="orgSelectorChange($event)" [placeHolderText]="'Организации'" [inputUnitsArray]="unitsTree"></units-tree-selector>
        <button class="left_button" (click)="createUser()">Сохранить</button>
        <div class="inform_label" style="margin-top: 130px;" [class.red]="fillFormError" *ngIf="fillFormError">{{formErrorText}}</div>
    </div>
</div>
<div class="col-lg-10 col-md-7 hidden-sm">
    <div class="women-image"></div>
</div>
