<label class="uploader" ondragover="return false;"
       [class.loaded]="loaded"
       [style.outlineColor]="dragging ? activeColor : baseColor"
       (dragenter)="handleDragEnter()"
       (dragleave)="handleDragLeave()"
       (drop)="handleDrop($event)">

    <i class="icon icon-upload"
       [style.color]="dragging ? activeColor : baseColor">{{placeholder}}</i>

    <!--<img-->
            <!--[src]="imageSrc"-->
            <!--(load)="handleImageLoad()"-->
            <!--[class.loaded]="imageLoaded"/>-->

    <input type="file" name="file" accept={{accept}}
           (change)="handleInputChange($event)">
</label>