<div class="col-lg-15 col-lg-offset-1 col-md-15 col-md-offset-1 col-sm-15 col-sm-offset-1">
    <div class="content-header">
        <span>Просмотр пользователей</span>
        <div class="content-header-button">
            <button routerLink="/users/new" class="main-button">Добавить</button>
        </div>
    </div>
    <div class="content-description">
        Просмотр и администрирование пользователей системы.
    </div>
</div>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 table-filter">
    <div class="unit-name col-sm-15" [class.col-sm-12]="showAdvFilter" [class.adv-show]="true">
        <span class="icon-engineer"></span>
        <input type="text" class="main-input" placeholder="ФИО" [(ngModel)]="filteredFullName" (keyup.enter)="applyFilter()">
    </div>
    <div class="unit-name col-sm-12" [class.adv-show]="showAdvFilter" *ngIf="showAdvFilter">
        <span style="z-index: 100;" class="icon-light-bulb"></span>
        <ng-select #templateGroupsSelector
                   [allowClear]="true"
                   [items]="authorityItems"
                   [disabled]="false"
                   (data)="refreshAuthoritiesValue($event)"
                   placeholder="Роль пользователя" *ngIf="authorityItems">
        </ng-select>
    </div>
    <div class="unit-name col-sm-13" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <units-tree-selector #orgSelector *ngIf="unitsTree" [singleSelect]="true" [iconClass]="'house'" (change)="orgSelectorChange($event)" [placeHolderText]="'Название подразделения'" [inputUnitsArray]="unitsTree"></units-tree-selector>
    </div>
    <div class="search-buttons col-sm-9" [class.search-left-align]="showAdvFilter">
        <div class="search-button">
            <button class="main-button" (click)="applyFilter()">Найти</button>
        </div>
        <div class="adv-search">
            <span (click)="toggleShowFilter()" *ngIf="!showAdvFilter">расширенный поиск</span>
            <span (click)="toggleShowFilter()" *ngIf="showAdvFilter">стандартный поиск</span>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 item-list">
    <table>
        <tr>
            <th width="5%" style="text-align: center">№</th>
            <th width="20%">Фамилия и инициалы</th>
            <th width="20%">Роль пользователя</th>
            <th width="40%">Структурное подразделение организации</th>
            <th style="text-align: left"></th>
        </tr>
        <tr *ngFor="let user of users; let i = index" [class.deleted]="user.status=='DELETED'" [class.blocked]="user.status=='LOCKED'">
            <td>{{i + 1 + (pagination.number-1)*pagination.size}}.</td>
            <td><a routerLink="/users/{{user.id}}">{{user.shortName}}</a></td>
            <td>{{user.authority.displayName}}</td>
            <td>
                <span class="bold-text">
                    <template ngFor let-unit let-i="index" [ngForOf]="user.units">
                        <span>{{unit.name}}</span>
                        <span *ngIf="user.units.length > 1">,</span>
                    </template>
                    <a routerLink="/users/{{user.id}}" *ngIf="user.units.length > 1"> ...</a>
                </span>
            </td>
            <td class="row-actions" style="padding-bottom: 20px; padding-top: 20px;">
                <button title="Редактировать пользователя" (click)="editUser(user.id)" *ngIf="user.status!='DELETED'" class="edit-unit"></button>
                <button title="Заблокировать пользователя" *ngIf="user.status=='ENABLED'" class="lock-unit" (click)="changeUser(user.id, 'disable'); myModal.open()"></button>
                <button title="Разблокировать пользователя" *ngIf="user.status=='LOCKED'" class="unlock-unit" (click)="changeUser(user.id, 'enable'); myModal.open()"></button>
                <button title="Удалить пользователя" *ngIf="user.status!='DELETED'" class="delete-unit" (click)="changeUser(user.id, 'delete'); myModal.open()"></button>
                <button title="Восстановить пользователя" *ngIf="user.status=='DELETED'" class="restore-unit" (click)="changeUser(user.id, 'recovery'); myModal.open()"></button>
            </td>
        </tr>
    </table>
</div>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 legend">
    <span>Цветовые обозначения пользователей:</span>
    <span class="legend-value blocked">Заблокирован</span>
    <span class="legend-value deleted">Удален</span>
    <span class="legend-value">Активный</span>
</div>
<pagination *ngIf="pagination.totalPages > 1" (change)="changePagination($event)" [params]="pagination"></pagination>
<modal #myModal>
    <modal-header>
        <h3>{{modalHeader}}</h3>
    </modal-header>
    <modal-content>
        <hr>
        {{modalText}} <span [class.red]="modalBlock" [class.blue]="modalRecover">{{modalUserName}}?</span>
        <div class="buttons">
            <a [class.red]="modalDelete" [class.blue]="modalRecover" (click)="myModal.close(); changeUserAction();" class="main-button">{{modalSubmitButtonText}}</a>
            <a [class.red]="modalDelete" [class.blue]="modalRecover" (click)="myModal.close();" class="main-button">Отмена</a>
        </div>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>
