<!--TAGS EDIT-->

<div #container *ngIf="action == 'edit' && type == 'tags' && isLoad" [attr.id]="entity.id" class="col-lg-16 col-md-16 col-sm-16 entity-tree-item" [class.outlineElement]="isOutline" [class.show-child]="showChildren && entity.nodes.length != 0"
     [class.col-lg-16]="!children"
     [class.col-md-16]="!children"
     [class.col-sm-16]="!children"
     [class.col-lg-17]="children"
     [class.col-md-17]="children"
     [class.col-sm-17]="children"
>
    <div class="header">
        <div class="number">{{entityIndex}}</div>
        <div class="entity-action-buttons">
            <button class="add-entity" *ngIf="!newEntityFlag" (click)="addEntity()"></button>
            <button *ngIf="newEntityFlag" class="delete-entity" (click)="delEntity()"></button>
            <button *ngIf="!newEntityFlag" class="delete-entity" (click)="myModal.open();"></button>
        </div>
    </div>
    <div class="form">
        <div class="tag-name edit" [class.error]="fillError">
            <span class="icon-tag-star"></span>
            <input type="text" placeholder="Название тега" [(ngModel)]="entity.name" (keyup)="isChanged()">
        </div>
        <div class="tag-status edit">
            <!--<p-checkbox [(ngModel)]="entityStatus" binary="true" label="не использовать" (onChange)="isChanged()"></p-checkbox>-->
            <!--<label for="status">не использовать</label>-->
        </div>
    </div>
    <button *ngIf="newEntityFlag" style="
    display: block;
    margin-bottom: 10px;
    color: #40dba2;
    padding: 0px 25px;
    height: 32px;" (click)="saveEntity()">Сохранить</button>
    <button *ngIf="editedEntityFlag" style="
    display: block;
    margin-bottom: 10px;
    color: #40dba2;
    padding: 0px 25px;
    height: 32px;" (click)="editEntity()">Сохранить</button>
    <a *ngIf="entity.nodes.length != 0 && !showChildren" (click)="toggleShow()">Показать внутренние теги</a>
    <a *ngIf="showChildren && entity.nodes.length != 0" (click)="toggleShow()">Скрыть внутренние теги</a>
</div>
<div class="entity-tree-item-child" *ngIf="showChildren && action == 'edit' && type == 'tags' && isLoad && entity.nodes.length != 0">
    <entity-tree (endInit)="endInitPop()"
                 [isInit]="isInit"
                 [pathToEntity]="pathToEntityChild"
                 [editEntityId]="editEntityId"
                 [entityIndex]="entityIndex+'.'+(i+1)"
                 [children]="true"
                 [action]="'edit'"
                 [type]="'tags'"
                 [entity]="item"
                 [entityArray]="entity.nodes"
                 *ngFor="let item of entity.nodes; let i = index;"></entity-tree>
    <button style="display: block;
    position: relative;
    bottom: 0;
    clear: both;
    color: #40dba2;
    padding: 0px 25px;
    height: 32px;" *ngIf="!newEntityFlag && entity.nodes.length > 3" (click)="addEntity()">Добавить</button>
</div>


<!--TAGS SHOW-->


<div *ngIf="action == 'show' && type == 'tags'" class="col-lg-16 col-md-16 col-sm-16 entity-tree-item">
    <div class="header">
        <div class="number">{{entityIndex}}</div>
        <div class="entity-action-buttons">
        </div>
    </div>
    <div class="form show" *ngIf="showEntity">
        <div class="tag-name-show">
            <span class="value">{{showEntity.name}}</span>
        </div>
        <div class="tag-path-show" *ngIf="showEntity">
            <span>Путь:&nbsp;</span>
        </div>
        <div class="path-value">
            <template ngFor let-item [ngForOf]="showEntity.path">
                <div style="float: left"><a (click)="toOtherTag(item.id)" >{{item.name}}</a><span class="delimiter">&gt;</span></div>
            </template>
            <div style="float: left"><span style="line-height: 30px;">{{showEntity.name}}</span></div>
        </div>
    </div>
</div>
<div class="col-lg-16 col-md-16 col-sm-16 buttons" *ngIf="action == 'show' && type == 'tags' && showEntity && showEntity.status == 'ENABLED'">
    <button (click)="editEntityInTree();" *ngIf="user.hasAccess(showEntity, 'UPDATE')">Редактировать</button>
    <button (click)="myModal.open();" class="red" *ngIf="user.hasAccess(showEntity, 'DELETE')">
        Удалить
    </button>
</div>

<modal #myModal>
    <modal-header>
        <h3>Удаление тега (классификатора)</h3>
    </modal-header>
    <modal-content>
        <hr>
        Вы действительно хотите удалить тег
        <span class="red" *ngIf="action == 'edit' && entity">"{{entity.name}}"?</span>
        <span class="red" *ngIf="action == 'show' && showEntity">"{{showEntity.name}}"?</span>
        <div class="buttons" style="margin-top: 30px !important;">
            <a *ngIf="action == 'edit'" (click)="delEntity();"
               class="main-button red" [class.gray]="modalError">Удалить</a>
            <a *ngIf="action == 'show'" (click)="delShowEntity();"
               class="main-button red" [class.gray]="modalError">Удалить</a>
            <a (click)="myModal.close();" class="main-button red">Отмена</a>
        </div>
    </modal-content>
    <modal-footer>
        <div *ngIf="modalError" class="modal-error" style="
        height: 120px;
        background-color: #d94b40;
        width: 370px;
        margin-left: -36px;
        color: white;
        padding: 35px 30px;
        text-align: center;
        margin-top: 8px;
        border: 1px solid rgba(0,0,0,0.7);
        border-top: none;
        ">
            <span>Ошибка: {{modalErrorText}}</span>
        </div>
    </modal-footer>
</modal>


<!--UNITS EDIT-->
<div *ngIf="action == 'edit' && type == 'units' && isLoad" style="width: 100%;">
    <div #container [attr.id]="org.id" class="col-lg-16 col-md-16 col-sm-16 entity-tree-item" [class.outlineElement]="isOutline" [class.show-child]="showChildren && org.nodes.length != 0"
         [class.col-lg-16]="!children"
         [class.col-md-16]="!children"
         [class.col-sm-16]="!children"
         [class.col-lg-17]="children"
         [class.col-md-17]="children"
         [class.col-sm-17]="children"
    >
        <div class="header">
            <div class="number" *ngIf="org['parent'] == null">{{entityIndex}} - {{(newEntityFlag)? 'Новая организация' : 'Сотрудников: ' + org['countEmployees']}}</div>
            <div class="number" *ngIf="org['parent'] != null">{{entityIndex}} - {{(newEntityFlag)? 'Новое подразделение' : 'Сотрудников: ' + org['countEmployees']}}</div>
            <div class="entity-action-buttons">
                <button class="add-entity" *ngIf="!newEntityFlag" (click)="addEntity()"></button>
                <button *ngIf="newEntityFlag" class="delete-entity" (click)="delEntity()"></button>
                <button *ngIf="!newEntityFlag" class="delete-entity" (click)="orgEntityDelete()"></button>
            </div>
        </div>
        <div class="form" *ngIf="org">
            <div style="width: 80%;" class="edit" [class.error]="fillError && org['name'] == ''">
                <span class="icon-house"></span>
                <input type="text" placeholder="Название отдела" [(ngModel)]="org.name" (keyup)="isChanged()">
            </div>
            <div style="width: 80%; margin-top: 5px; margin-bottom: 20px;" class="edit">
                <tree-selector *ngIf="officers && org"
                               [iconClass]="'engineer'"
                               (change)="officerSelectorChange($event); isChanged();"
                               [placeHolderText]="'Инспектор информационной безопасности'"
                               [startValue]="org['officers']"
                               [inputUnitsArray]="officers"></tree-selector>
            </div>
            <div style="width: 80%; margin-bottom: 20px;" class="edit">
                <tree-selector *ngIf="managers && org"
                               [iconClass]="'support'"
                               (change)="managerSelectorChange($event); isChanged();"
                               [placeHolderText]="'Менеджер'"
                               [startValue]="org['managers']"
                               [inputUnitsArray]="managers"></tree-selector>
            </div>
        </div>
        <button *ngIf="newEntityFlag" style="
        display: block;
        margin-bottom: 10px;
        color: #40dba2;
        padding: 0px 25px;
        height: 32px;" (click)="saveEntity()">Сохранить</button>
        <button *ngIf="editedEntityFlag" style="
        display: block;
        margin-bottom: 10px;
        color: #40dba2;
        padding: 0px 25px;
        height: 32px;" (click)="editEntity()">Сохранить</button>
        <a *ngIf="org.nodes.length != 0 && !showChildren" (click)="toggleShow()">Показать подразделения</a>
        <a *ngIf="showChildren && org.nodes.length != 0" (click)="toggleShow()">Скрыть подразделения</a>
    </div>
</div>
<div *ngIf="showChildren && action == 'edit' && isLoad && type == 'units'">
    <div class="entity-tree-item-child" *ngIf="showChildren && action == 'edit' && isLoad && org.nodes.length != 0">
        <entity-tree (endInit)="endInitPop()"
                     (successorAccept)="successorPop($event)"
                     [isInit]="isInit"
                     [pathToEntity]="pathToEntityChild"
                     [editEntityId]="editEntityId"
                     [entityIndex]="entityIndex+'.'+(i+1)"
                     [children]="true"
                     [action]="'edit'"
                     [type]="'units'"
                     [org]="item"
                     [orgsArray]="org.nodes"
                     [managers]="managers"
                     [officers]="officers"
                     *ngFor="let item of org.nodes; let i = index;"></entity-tree>
        <button style="display: block;
        position: relative;
        bottom: 0;
        clear: both;
        color: #40dba2;
        padding: 0px 25px;
        height: 32px;" *ngIf="!newEntityFlag && org.nodes.length > 3" (click)="addEntity()">Добавить</button>
    </div>
</div>

<modal #moveEmployees modalClass="employeesMoveModal" *ngIf="action == 'edit' && type == 'units'">
    <modal-header>
        <h3>Удаление подразделения</h3>
    </modal-header>
    <modal-content>
        <hr>
        <span style="text-align: left; display: block; margin-bottom: 25px;">
            В подразделении <span style="color: red;">{{org.name}}</span> осталось <b>{{org.countEmployees}}</b>
        сотрудников. Перенесите их в другое подразделение.
        </span>
        <units-tree-selector #orgMoveSelector *ngIf="org && modalUnitsTree"
                       [iconClass]="'house'"
                       (change)="employeesMoveOrgChange($event);"
                       [placeHolderText]="'Название подразделения'"
                       [singleSelect]="true"
                       [error]="moveEmployeeError && employeeMoveOrg.length == 0"
                       [inputUnitsArray]="modalUnitsTree"></units-tree-selector>
        <div class="buttons" style="margin-top: 43px !important; padding-left: 50px; text-align: center;">
            <a *ngIf="action == 'edit'" (click)="delEntity();"
               class="main-button red" [class.gray]="modalError">Удалить</a>
            <a *ngIf="action == 'show'" (click)="myModal.close(); delShowEntity();"
               class="main-button red" [class.gray]="modalError">Удалить</a>
            <a (click)="moveEmployees.close();" class="main-button red">Отмена</a>
        </div>
    </modal-content>
    <modal-footer>
        <div *ngIf="modalError" class="modal-error" style="
            height: 120px;
            background-color: #d94b40;
            width: 455px;
            margin-left: -1px;
            color: white;
            padding: 45px 30px;
            text-align: center;
            margin-top: -1px;
            border: 1px solid rgba(0,0,0,0.5);
            border-top: none;
        ">
            <span>Ошибка: {{modalErrorText}}</span>
        </div>
    </modal-footer>
</modal>



<!--UNITS SHOW-->


<div *ngIf="action == 'show' && type == 'units'" class="col-lg-16 col-md-16 col-sm-16 entity-tree-item">
    <div class="header">
        <div class="number">{{entityIndex}}</div>
        <div class="entity-action-buttons">
        </div>
    </div>
    <div class="form show" *ngIf="showEntity">
        <div class="org-name-show">
            <span class="value">{{showEntity.name}}</span>
        </div>
        <div class="officer-show">
            <template ngFor let-item [ngForOf]="showEntity.officers">
                <span class="value">{{item.shortName}} ({{item.username}})</span>
            </template>
        </div>
        <div class="manager-show">
            <template ngFor let-item [ngForOf]="showEntity.managers">
                <span class="value">{{item.shortName}} ({{item.username}})</span>
            </template>
        </div>
        <div class="tag-status-show">
            <span>Состояние:&nbsp;</span>
            <span class="value">{{getStatusName(showEntity.status)}}</span>
        </div>
        <div class="tag-path-show" *ngIf="showEntity">
            <span>Путь:&nbsp;</span>
        </div>
        <div class="path-value">
            <template ngFor let-item [ngForOf]="showEntity.path">
                <div style="float: left">
                    <a (click)="toOtherUnit(item.id)" *ngIf="user.hasAccess(item, 'READ')">{{item.name}}</a>
                    <a class="disable" *ngIf="!user.hasAccess(item, 'READ')">{{item.name}}</a>
                    <span class="delimiter">&gt;</span></div>
            </template>
            <div style="float: left"><span style="line-height: 30px;">{{showEntity.name}}</span></div>
        </div>
    </div>
</div>
<div class="col-lg-16 col-md-16 col-sm-16 buttons" *ngIf="action == 'show' && type == 'units' && showEntity && showEntity.status == 'ENABLED'">
    <button (click)="editOrgInTree();"  *ngIf="user.hasAccess(showEntity, 'UPDATE')">Редактировать</button>
    <button (click)="orgEntityDelete()" class="red"  *ngIf="user.hasAccess(showEntity, 'DELETE')">
        Удалить
    </button>
</div>

<modal #moveEmployees2 modalClass="employeesMoveModal" *ngIf="action == 'show' && type == 'units' && showEntity">
    <modal-header>
        <h3>Удаление подразделения</h3>
    </modal-header>
    <modal-content>
        <hr>
        <span style="text-align: left; display: block; margin-bottom: 25px;">
            В подразделении <span style="color: red;">{{showEntity.name}}</span> осталось <b>{{showEntity.countEmployees}}</b>
        сотрудников. Перенесите их в другое подразделение.
        </span>
        <units-tree-selector #orgMoveSelector *ngIf="showEntity && modalUnitsTree"
                       [iconClass]="'house'"
                       (change)="employeesMoveOrgChange($event);"
                       [placeHolderText]="'Название подразделения'"
                       [singleSelect]="true"
                       [error]="moveEmployeeError && employeeMoveOrg.length == 0"
                       [inputUnitsArray]="modalUnitsTree"></units-tree-selector>
        <div class="buttons" style="margin-top: 43px !important; padding-left: 50px; text-align: center;">
            <a *ngIf="action == 'edit'" (click)="delEntity();"
               class="main-button red">Удалить</a>
            <a *ngIf="action == 'show'" (click)="moveEmployees2.close(); delShowEntity();"
               class="main-button red">Удалить</a>
            <a (click)="moveEmployees.close();" class="main-button red">Отмена</a>
        </div>
    </modal-content>
    <modal-footer>
        <div *ngIf="moveEmployeeModalError" class="modal-error" style="
            height: 120px;
            background-color: #d94b40;
            width: 455px;
            margin-left: -1px;
            color: white;
            padding: 45px 30px;
            text-align: center;
            margin-top: -1px;
            border: 1px solid rgba(0,0,0,0.5);
            border-top: none;
        ">
            <span>Ошибка: нет доступных подразделений для переноса</span>
        </div>
    </modal-footer>
</modal>

<modal #emptyUnitDeleteModal>
    <modal-header>
        <h3>Удаление подразделения</h3>
    </modal-header>
    <modal-content>
        <hr>
        Вы действительно хотите удалить подразделение
        <span class="red" *ngIf="action == 'edit' && org">"{{org.name}}"?</span>
        <span class="red" *ngIf="action == 'show' && showEntity">"{{showEntity.name}}"?</span>
        <div class="buttons" style="margin-top: 30px !important;">
            <a *ngIf="action == 'edit'" (click)="delEntity();"
               class="main-button red" [class.gray]="modalError">Удалить</a>
            <a *ngIf="action == 'show'" (click)="delShowEntity();"
               class="main-button red" [class.gray]="modalError">Удалить</a>
            <a (click)="emptyUnitDeleteModal.close();" class="main-button red">Отмена</a>
        </div>
    </modal-content>
    <modal-footer>
        <div *ngIf="modalError" class="modal-error" style="
        height: 120px;
        background-color: #d94b40;
        width: 370px;
        margin-left: -36px;
        color: white;
        padding: 35px 30px;
        text-align: center;
        margin-top: 8px;
        border: 1px solid rgba(0,0,0,0.7);
        border-top: none;
        ">
            <span>Ошибка: {{modalErrorText}}</span>
        </div>
    </modal-footer>
</modal>
