<div class="col-lg-13 col-lg-offset-1 col-md-13 col-md-offset-1 col-sm-13 col-sm-offset-1">
    <div class="content-header">Список отчетов по подразделениям</div>
    <div class="content-description">
        Страница позволяет просматривать отчеты по подразделениям.
    </div>
</div>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 table-filter">
    <div class="unit-name col-sm-15" [class.adv-show]="true" [class.col-sm-12]="showAdvFilter">
        <units-tree-selector #orgSelector *ngIf="unitsTree" [iconClass]="'house'" (change)="orgSelectorChange($event)" [placeHolderText]="'Структурное подразделение'" [inputUnitsArray]="unitsTree" [singleSelect]="true"></units-tree-selector>
    </div>
    <div class="unit-name col-sm-12" [class.adv-show]="showAdvFilter" *ngIf="showAdvFilter">
        <tree-selector *ngIf="managers"
                       [iconClass]="'support'"
                       (change)="managerSelectorChange($event);"
                       [placeHolderText]="'Менеджеры ИБ'"
                       [singleSelect]="true"
                       [inputUnitsArray]="managers"></tree-selector>
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <tree-selector *ngIf="officers"
                       [iconClass]="'engineer'"
                       (change)="officerSelectorChange($event);"
                       [placeHolderText]="'Инспекторы ИБ'"
                       [singleSelect]="true"
                       [inputUnitsArray]="officers"></tree-selector>
    </div>
    <div class="search-buttons col-sm-9">
        <div class="search-button" [class.search-left-align]="showAdvFilter">
            <button class="main-button" (click)="applyFilter()">Найти</button>
        </div>
        <div class="adv-search">
            <span (click)="toggleShowFilter()" *ngIf="!showAdvFilter">расширенный поиск</span>
            <span (click)="toggleShowFilter()" *ngIf="showAdvFilter">стандартный поиск</span>
        </div>
    </div>
    <div style="clear: both"></div>
</div>

<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 item-list" style="margin-bottom: 35px;">
    <table>
        <tr>
            <th width="5%" style="text-align: center">№</th>
            <th width="25%">Наименование организации</th>
            <th width="20%">Инспекторы ИБ</th>
            <th width="20%">Менеджеры</th>
            <th width="15%">Кол-во</th>
            <th style="text-align: left">Результат</th>
        </tr>
        <tr *ngFor="let report of reports; let i = index">
            <td>{{i + 1 + (pagination.number-1)*pagination.size}}.</td>
            <td><a routerLink="/reports/units/{{report.id}}">{{report.name}}</a></td>
            <td>
                <template ngFor let-item [ngForOf]="report.officers">
                    <span *ngIf="user.getAuthority() == 'ROLE_ADMINISTRATOR'" style="display: block"><a routerLink="/users/{{item.id}}">{{item.shortName}}</a></span>
                    <span *ngIf="user.getAuthority() != 'ROLE_ADMINISTRATOR'" style="display: block">{{item.shortName}}</span>
                </template>
            </td>
            <td>
                <template ngFor let-item [ngForOf]="report.managers">
                    <span *ngIf="user.getAuthority() == 'ROLE_ADMINISTRATOR'" style="display: block"><a routerLink="/users/{{item.id}}">{{item.shortName}}</a></span>
                    <span *ngIf="user.getAuthority() != 'ROLE_ADMINISTRATOR'" style="display: block">{{item.shortName}}</span>
                </template>
            </td>
            <td>
                {{report.result.totalCount}}
            </td>
            <td style="font-weight: 800; text-align: left;">
                <span style="color: #d94b44;">{{report.result.badCount}} с переходами ({{report.result.badPercent}}%)</span>
                <br>
                <span style="color: #53cf9c;">{{report.result.goodCount}} без переходов ({{report.result.goodPercent}}%)</span>
            </td>
        </tr>
    </table>
</div>
<pagination *ngIf="pagination.totalPages > 1" (change)="changePagination($event)" [params]="pagination"></pagination>
