<div class="col-lg-15 col-lg-offset-1 col-md-16 col-md-offset-1 col-sm-23 col-sm-offset-1">
    <div class="content-header">Отчет по организации (подразделению)</div>
    <div class="content-description">
        Страница позволяет просмотреть отчет по выбранному подразделению.
    </div>
    <div class="col-lg-20 col-md-20 col-sm-20 report-header" style="padding: 0" *ngIf="reportEntity">
        <span>Общие данные организации (подразделения)</span>
    </div>
    <div class="col-lg-24 col-md-24 col-sm-24 item-info" style="padding: 0" *ngIf="reportEntity">
        <div class="unit-name">
            <span>Название:&nbsp;</span>
            <span class="value">{{reportEntity.name}}</span>
        </div>
        <div class="unit-officer">
            <span>Инспекторы ИБ:&nbsp;</span>
            <template ngFor let-item [ngForOf]="reportEntity.officers">
                <a class="disable" *ngIf="user.getAuthority() == 'ROLE_SECURITY_OFFICER' || user.getAuthority() == 'ROLE_MANAGER'">{{item.shortName}} ({{item.username}})</a>
                <a routerLink="/users/{{item.id}}" *ngIf="user.getAuthority() == 'ROLE_ADMINISTRATOR'">{{item.shortName}} ({{item.username}})</a>
            </template>
        </div>
        <div class="unit-manager">
            <span>Менеджеры:&nbsp;</span>
            <template ngFor let-item [ngForOf]="reportEntity.managers">
                <a class="disable" *ngIf="user.getAuthority() == 'ROLE_SECURITY_OFFICER' || user.getAuthority() == 'ROLE_MANAGER'">{{item.shortName}} ({{item.username}})</a>
                <a routerLink="/users/{{item.id}}" *ngIf="user.getAuthority() == 'ROLE_ADMINISTRATOR'">{{item.shortName}} ({{item.username}})</a>
            </template>
        </div>
        <div class="status">
            <span>Состояние:&nbsp;</span>
            <span class="value">{{getStatusName(reportEntity.status)}}</span>
        </div>
        <div class="unit-path">
            <span>Путь:&nbsp;</span>
            <template ngFor let-item [ngForOf]="reportEntity.path">
                <a routerLink="/reports/units/{{item.id}}" *ngIf="user.hasAccess(item, 'READ')">{{item.name}}</a>
                <a class="disable" *ngIf="!user.hasAccess(item, 'READ')">{{item.name}}</a>
                <a class="disable"> > </a>
            </template>
            <a class="disable">{{reportEntity.name}}</a>
        </div>
        <div class="user-department-child">
            <span>Подчиненные отделы:&nbsp;</span>
            <span class="value"></span>
        </div>
        <div class="departments" style="padding-left: 40px;">
            <div style="font-size: 18px;" *ngFor="let unit of reportEntity.childs; let i = index;">{{i+1}}. <a style="color: #53cf9c; cursor: pointer;" routerLink="/reports/units/{{unit.id}}">{{unit.name}}</a></div>
        </div>
    </div>
</div>
<div class="col-lg-8 col-md-7 hidden-sm hidden-xs">
    <div class="report-image"></div>
</div>
<div class="col-lg-24 col-md-24 col-sm-24 report-employee-diagram" *ngIf="reportEntity">
    <div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1">
        <div class="header">
            <span>Результаты тестирований</span>
        </div>
        <div class="diagram-filter row" style="width: 100%; margin-bottom: 30px; font-size: 18px;">
            <div class="col-lg-9 col-md-9 col-sm-9" style="padding-top: 10px;">
                <span class="icon-calendar" style="font-size: 25px !important; display: block;float: left;"></span>
                <span style="padding-left: 10px; display: block;float: left;">Показать тестирования с начала:</span>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
                <p-calendar [(ngModel)]="selectedDateFirst" [styleClass]="'withoutTime'" [showTime]="false" [locale]="datePicker.ru" dateFormat="d.mm.yy"></p-calendar>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2" style="text-align: center;">по</div>
            <div class="col-lg-5 col-md-5 col-sm-5">
                <p-calendar [(ngModel)]="selectedDateSecond" [styleClass]="'withoutTime'" [showTime]="false" [locale]="datePicker.ru" dateFormat="d.mm.yy"></p-calendar>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <button class="main-button" style="border: none; background: rgba(64, 141, 219, 1); color: #fff; font-size: 14px;" (click)="rebuildDiagram()">Показать
                </button>
            </div>
        </div>
        <div class="report-employee-diagram-content" style="width: 100%;">
            <canvas id="unitReportTasksDiagram" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="false" [colors]="barColors"
                [chartType]="'bar'"></canvas>
        </div>
        <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
            <div class="employees-count" style="margin-top: 30px !important; font-weight: 600;">
                <div class="tested-employees green">Компетентные сотрудники</div>
                <div class="vulnerable-employees red">Уязвимые сотрудники</div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 35px;">
            <span class="info" style="display: block; float: left; margin-top: 8px;
    margin-right: 10px;"></span>
            <span style="display: block;">Примечание: количество сотрудников, принимающих участие в тестированиях указано в процентах.</span>
        </div>
    </div>
</div>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1" *ngIf="unitReportTasks">
    <div class="report-header">
        <span>
            Результаты по каждому тестированию
        </span>
    </div>
    <div class="content-description">
        Вы можете отфильтровать таблицу результатов с помощью шаблона письма и периода.
    </div>
</div>

<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 table-filter" *ngIf="unitReportTasks">
    <div class="unit-name col-sm-15" [class.adv-show]="true" [class.col-sm-12]="showAdvFilterTask">
        <span class="icon-list"></span>
        <input type="text" class="main-input" placeholder="Название задачи" [(ngModel)]="filteredTaskName">
    </div>
    <div class="unit-name col-sm-12" [class.adv-show]="showAdvFilterTask" *ngIf="showAdvFilterTask">
        <span class="icon-engineer"></span>
        <input type="text" class="main-input" placeholder="ФИО создателя задачи" [(ngModel)]="filteredAuthorFIO">
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdvFilterTask" [class.adv-show]="showAdvFilterTask">
        <div class="col-sm-8" style="padding-top: 10px; padding-left: 0px;">
            <span class="icon-calendar" style="font-size: 25px !important; display: block;float: left;"></span>
            <span style="padding-left: 10px; display: block;float: left; font-size: 18px;">Искать с:</span>
        </div>
        <div class="col-sm-7 calendar-without-icon">
            <p-calendar [(ngModel)]="tableSelectedDateFirst" [styleClass]="'withoutTime'" [showTime]="false" [locale]="datePicker.ru"
                dateFormat="d.mm.yy"></p-calendar>
        </div>
        <div class="col-sm-2" style="text-align: center; font-size: 18px; line-height: 36px;">по</div>
        <div class="col-sm-7 calendar-without-icon" style="padding-right: 0px;">
            <p-calendar [(ngModel)]="tableSelectedDateSecond" [styleClass]="'withoutTime'" [showTime]="false" [locale]="datePicker.ru"
                dateFormat="d.mm.yy"></p-calendar>
        </div>
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdvFilterTask" [class.adv-show]="showAdvFilterTask">
        <span style="z-index: 100; color: #000;" class="icon-mail-5"></span>
        <ng-select #statusSelector [allowClear]="true" [items]="templatesItems" [disabled]="false" (data)="refreshTemplateValue($event)"
            placeholder="Выберите шаблон email письма">
        </ng-select>
    </div>
    <div style="clear: both" *ngIf="showAdvFilterTask"></div>
    <div class="search-buttons col-sm-9">
        <div class="search-button" [class.search-left-align]="showAdvFilterTask">
            <button class="main-button" (click)="applyFilter()">Найти</button>
        </div>
        <div class="adv-search">
            <span (click)="toggleShowFilterTask()" *ngIf="!showAdvFilterTask">расширенный поиск</span>
            <span (click)="toggleShowFilterTask()" *ngIf="showAdvFilterTask">стандартный поиск</span>
        </div>
    </div>
</div>

<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 item-list" style="margin-bottom: 40px;"
    *ngIf="unitReportTasks">
    <table>
        <tr>
            <th width="5%" style="text-align: center">№</th>
            <th width="25%">Название и создатель</th>
            <th width="20%">Даты проведения</th>
            <th width="20%">Шаблон письма</th>
            <th style="text-align: left;">Кол-во чел.</th>
            <th style="text-align: left;">Результат</th>
        </tr>
        <tr *ngFor="let entity of unitReportTasks; let i = index">
            <td>{{i + 1 + (pagination.number-1)*pagination.size}}.</td>
            <td>
                <a *ngIf="user.hasAccess(entity, 'READ')" routerLink="/reports/tasks/{{entity.id}}">{{entity.name}}</a>
                <a class="disable" *ngIf="!user.hasAccess(entity, 'READ')">{{entity.name}}</a>
                <br>{{entity.shortName}}
            </td>
            <td>{{entity.startDate | date: 'dd.MM.yy'}} - {{entity.endDate | date: 'dd.MM.yy'}}</td>
            <td>
                <a style="cursor: pointer;" (click)="templatePreviewLoad(entity.template.id)">{{entity.template.name}}</a>
            </td>
            <td>{{entity.taskResult.totalCount}} чел.</td>
            <td style="font-weight: 800; text-align: left;">
                <span style="color: #d94b44;">{{entity.taskResult.badCount}} уязвимых ({{entity.taskResult.badPercent}}%)</span>
                <br>
                <span style="color: #53cf9c;">{{entity.taskResult.goodCount}} компетентных</span>
            </td>
        </tr>
    </table>
</div>
<pagination (change)="changePagination($event)" [params]="pagination" *ngIf="pagination.totalElements > 10 && unitReportTasks"></pagination>


<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1" *ngIf="unitReportEmployees">
    <div class="report-header">
        <span>
            Результаты по каждому сотруднику
        </span>
    </div>
    <div class="content-description">
        Вы можете отфильтровать таблицу результатов с помощью организаций и тегов.
    </div>
</div>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 table-filter" *ngIf="unitReportEmployees">
    <div class="unit-name col-sm-15" [class.adv-show]="true" [class.col-sm-12]="showAdvFilter">
        <span class="icon-engineer"></span>
        <input type="text" class="main-input" placeholder="ФИО сотрудника" [(ngModel)]="filteredFullName">
    </div>
    <div class="unit-name col-sm-12" [class.adv-show]="showAdvFilter" *ngIf="showAdvFilter">
        <span class="icon-mail2"></span>
        <input type="text" class="main-input" placeholder="Почта (email)" [(ngModel)]="filteredEmail">
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <units-tree-selector #orgSelector *ngIf="unitsTree" [singleSelect]="true" [iconClass]="'house'" (change)="orgSelectorChange($event)"
            [placeHolderText]="'Организация (структурное подразделение)'" [inputUnitsArray]="unitsTree"></units-tree-selector>
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <tree-selector #tagSelector *ngIf="tagsTree" [iconClass]="'tag-star'" (change)="tagSelectorChange($event)" [placeHolderText]="'Теги сотрудников'"
            [inputUnitsArray]="tagsTree" [type]="'tag'"></tree-selector>
    </div>
    <div class="search-buttons col-sm-9">
        <div class="search-button" [class.search-left-align]="showAdvFilter">
            <button class="main-button" (click)="applyFilterEmployees()">Найти</button>
        </div>
        <div class="adv-search">
            <span (click)="toggleShowFilter()" *ngIf="!showAdvFilter">расширенный поиск</span>
            <span (click)="toggleShowFilter()" *ngIf="showAdvFilter">стандартный поиск</span>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 item-list" style="margin-bottom: 40px;"
    *ngIf="unitReportEmployees">
    <table>
        <tr>
            <th width="5%" style="text-align: center">№</th>
            <th width="20%">Фамилия и инициалы</th>
            <th width="20%">Email сотрудника</th>
            <th width="40%">Теги сотрудников и их организации</th>
            <th style="text-align: center">Результат</th>
        </tr>

        <tr *ngFor="let entity of unitReportEmployees; let i = index">
            <td>{{i + 1 + (paginationEmployee.number-1) * paginationEmployee.size}}.</td>
            <td>
                <a *ngIf="user.hasAccess(entity, 'READ')" routerLink="/reports/employees/{{entity.id}}">{{entity.shortName}}</a>
                <a class="disable" *ngIf="!user.hasAccess(entity, 'READ')">{{entity.shortName}}</a>
            </td>
            <td>{{entity.email}}</td>
            <td>
                <span class="bold-text">Теги:
                        <a *ngFor="let tag of entity.employeeTags" routerLink="/employee-tags/{{tag.id}}">{{tag.name}}</a>
                    </span>
                <br>
                <span class="bold-text">Организации:
                        <a routerLink="/units/{{entity.id}}" *ngIf="user.hasAccess(entity, 'READ')">{{entity.unit.name}}</a>
                        <a class="disable" *ngIf="!user.hasAccess(entity, 'READ')">{{entity.unit.name}}</a>
                    </span>
            </td>
            <td class="result" style="font-weight: 600">
                <span style="color: #d94b44;" *ngIf="entity.result.totalCount">{{entity.result.badCount}} перехода(ов)</span><span *ngIf="entity.result.totalCount"> из {{entity.result.totalCount}}</span>
                <span *ngIf="!entity.result.totalCount">Не проходил тестирование</span>
            </td>
        </tr>
    </table>
</div>
<pagination (change)="changePaginationEmployee($event)" [params]="paginationEmployee" *ngIf="paginationEmployee.totalElements > 10 && unitReportEmployees"></pagination>
<div style="margin-bottom: 160px;" class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1"></div>