<div class="loaded-units-filter">
    <div class="unit-name col-sm-15" [class.col-sm-16]="!showAdv" [class.col-sm-12]="showAdv" [class.adv-show]="showAdv">
        <span class="icon-house"></span>
        <input type="text" class="main-input" (keyup.enter)="applyFilter()" [(ngModel)]="filteredUnitName" placeholder="Название подразделения">
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdv" [class.adv-show]="showAdv">
        <units-tree-selector #filterUnitsSelector [iconClass]="'house'" (change)="parentSelectorChange($event)" [placeHolderText]="'Вышестоящее подразделение'" [inputUnitsArray]="unitsTree" [type]="'unit'" [singleSelect]="true" *ngIf="unitsTree"></units-tree-selector>
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdv" [class.adv-show]="showAdv">
        <tree-selector [iconClass]="'engineer'" (change)="officersSelectorChange($event)" [placeHolderText]="'Инспекторы ИБ'" [inputUnitsArray]="officers" [type]="'unit'" *ngIf="managers"></tree-selector>
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdv" [class.adv-show]="showAdv">
        <tree-selector [iconClass]="'support'" (change)="managersSelectorChange($event)" [placeHolderText]="'Менеджеры ИБ'" [inputUnitsArray]="managers" [type]="'unit'" *ngIf="officers"></tree-selector>
    </div>
    <div class="search-buttons col-sm-9">
        <div class="search-button">
            <button class="main-button" (click)="applyFilter()">Найти</button>
        </div>
        <div class="adv-search">
            <span (click)="toggleShow()" *ngIf="!showAdv">расширенный поиск</span>
            <span (click)="toggleShow()" *ngIf="showAdv">стандартный поиск</span>
        </div>
    </div>
    <div style="clear: both"></div>
</div>