<td colspan="5" [style.width]="safeTDwidth" *ngIf="show">
    <table>
        <tbody>
        <tr>
            <td width="6%">
                <div class="vertical-line" *ngFor="let i of linesCount"></div>
                <div class="row-index">
                    <div>{{index}}.</div>
                    <div class="index-arrow" [class.closed]="showChildren" *ngIf="unit['nodes'].length > 0"
                         (click)="toggleShowChildren()"></div>
                    <div class="vertical-line"
                         *ngIf="unit['nodes'].length > 0 && showChildren"></div>
                </div>
            </td>
            <td width="23%">
                <span class="table-content" *ngIf="!unitLinks">{{unit['name']}}</span>
                <span class="table-content" *ngIf="unitLinks">
                    <a routerLink="/units/{{unit['id']}}">{{unit['name']}}</a>
                </span>
            </td>
            <td width="30%" style="padding-left: 10px; padding-right: 10px;">
                <span class="table-content" *ngIf="unit['parent'].length != 0">
                    {{unit['parent'][0]['name']}}
                </span>
                        <span class="table-content" *ngIf="unit['parent'].length == 0">
                    -
                </span>
            </td>
            <td width="20%">
        <span class="table-content user" *ngFor="let manager of unit['managers']">
            {{manager['name']}}
        </span>
                <span class="table-content user" *ngFor="let officer of unit['officers']">
            {{officer['name']}}
        </span>
                <span class="table-content" *ngIf="unit['managers'].length == 0 && unit['officers'].length == 0">
            -
        </span>
            </td>
            <td class="row-actions" style="text-align: center;" width="15%">
                <button class="edit-unit" (click)="editUnit.emit(unit)"></button>
                <button class="add-unit" (click)="addUnit.emit(unit)"></button>
                <button class="delete-unit" (click)="deleteUnit(unit)"></button>
            </td>
        </tr>
        <template ngFor let-item let-i="index" [ngForOf]="unit['nodes']">
            <tr unitsValidTableRow [unit]="item" [index]="i+1" [level]="level+1"
                [show]="showChildren && show" [unitLinks]="unitLinks" (delUnit)="deleteUnitPush($event)" (editUnit)="editUnitPush($event)"
                (addUnit)="addUnitPush($event)"></tr>
        </template>
        </tbody>
    </table>
</td>

<!--<units-valid-table-row *ngFor="let item of unit['nodes']; let i = index;" [unit]="item" [index]="i+1" [level]="level+1" [show]="showChildren && show"></units-valid-table-row>-->

