<div class="col-lg-15 col-lg-offset-1 col-md-15 col-md-offset-1 col-sm-15 col-sm-offset-1">
    <div class="content-header">
        <span>История задач</span>
        <div class="content-header-button">
            <button routerLink="/tasks/new" class="main-button">Добавить</button>
        </div>
    </div>
    <div class="content-description">
        Просмотр информации о задачах системы, а также их удаление, приостановка/возобновление и редактирование.
    </div>
</div>


<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 table-filter">
    <div class="unit-name col-sm-15" [class.col-sm-12]="showAdvFilter" [class.adv-show]="true" *ngIf="true">
        <span class="icon-list"></span>
        <input type="text" class="main-input" placeholder="Название задачи" [(ngModel)]="filteredTaskName">
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <span class="icon-list"></span>
        <input type="text" class="main-input" placeholder="Создатель задачи" [(ngModel)]="filteredCreatorName">
    </div>
    <div class="unit-name col-sm-5" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <span class="icon-calendar"></span>
        <p-calendar [(ngModel)]="selectedDate" [styleClass]="'withoutTime'" [placeholder]="'Дата запуска'" [showTime]="false" [locale]="datePicker.ru" dateFormat="d.mm.yy"></p-calendar>
    </div>
    <div class="unit-name col-sm-7" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <span style="z-index: 100;" class="icon-light-bulb"></span>
        <ng-select #statusSelector [allowClear]="true"
                   [items]="statusItems"
                   [disabled]="false"
                   (data)="refreshFilterStatusValue($event)"
                   placeholder="Статус задачи">
        </ng-select>
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <units-tree-selector #orgSelector *ngIf="unitsTree" [iconClass]="'house'" (change)="orgSelectorChange($event)" [placeHolderText]="'Название подразделения'" [inputUnitsArray]="unitsTree"></units-tree-selector>
    </div>
    <div class="unit-name col-sm-12" *ngIf="showAdvFilter" [class.adv-show]="showAdvFilter">
        <tree-selector #tagSelector *ngIf="tagsTree" [iconClass]="'tag-star'" (change)="tagSelectorChange($event)" [placeHolderText]="'Теги'" [inputUnitsArray]="tagsTree" [type]="'tag'"></tree-selector>
    </div>
    <div class="search-buttons col-sm-9">
        <div class="search-button" [class.search-left-align]="showAdvFilter">
            <button class="main-button" (click)="applyFilter()">Найти</button>
        </div>
        <div class="adv-search">
            <span (click)="toggleShowFilter()" *ngIf="!showAdvFilter">расширенный поиск</span>
            <span (click)="toggleShowFilter()" *ngIf="showAdvFilter">стандартный поиск</span>
        </div>
    </div>
    <div style="clear: both"></div>
</div>

<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 item-list">
    <table>
        <tr>
            <th width="5%" style="text-align: center">№</th>
            <th width="30%">Название и создатель</th>
            <th width="15%">Дата запуска</th>
            <th width="25%">Структурные подразделения</th>
            <th width="15%">Теги</th>
            <th style="text-align: left"></th>
        </tr>
        <tr *ngFor="let task of tasks; let i = index" [class.deleted]="task.status == 'EXPIRED'" [class.paused]="task.status=='SUSPENDED'" [class.running]="task.status=='EXECUTION'" [class.completed]="task.status=='COMPLETED'">
            <td>{{i + 1 + (pagination.number-1)*pagination.size}}.</td>
            <td><a routerLink="/tasks/{{task.id}}">{{task.name}}</a><br><span class="bold-text">{{task.author}}</span></td>
            <td><span class="bold-text">{{task.startDate | date: 'dd.MM.yyyy HH:mm'}}</span>
                <br>
                <a (click)="changeTaskStartTime(task); changeStartDate.open();" *ngIf="task.status=='SUSPENDED' || task.status=='WAITING'">(изменить)</a>
            </td>
            <td>
                <span class="bold-text">
                    <template ngFor let-unit [ngForOf]="task.units">
                        <a routerLink="/units/{{unit.id}}" *ngIf="user.hasAccess(unit, 'READ')">{{unit.name}}</a>
                        <a class="disable" *ngIf="!user.hasAccess(unit, 'READ')">{{unit.name}}</a>
                    </template>
                    <span *ngIf="task.units.length > 1">, </span>
                    <a routerLink="/tasks/{{task.id}}" *ngIf="task.units.length > 1">...</a>
                </span>
            </td>
            <td>
                <span class="bold-text">
                    <a routerLink="/employee-tags/{{tag.id}}" *ngFor="let tag of task.employeeTags">{{tag.name}}</a>
                </span>
            </td>
            <td class="row-actions">
                <button title="Редактировать задачу" (click)="editTask(task.id)" class="edit-unit" *ngIf="task.status=='SUSPENDED' || task.status == 'EXPIRED'"></button>
                <button title="Приостановить задачу" (click)="changeTask(task, 'pause'); myModal.open()" class="stop-unit" *ngIf="task.status=='WAITING'"></button>
                <button title="Возобновить задачу" (click)="changeTask(task, 'resume'); myModal.open()" class="resume-unit" *ngIf="task.status=='SUSPENDED' || task.status == 'EXPIRED'"></button>
                <button title="Отменить задачу" (click)="changeTask(task, 'cancel'); myModal.open()" class="delete-unit"></button>
            </td>
        </tr>
    </table>
</div>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 legend">
    <span>Цветовые обозначения задач:</span>
    <span class="legend-value paused">Приостановлена</span>
    <span class="legend-value running">Выполняется</span>
    <span class="legend-value">В ожидании</span>
    <span class="legend-value completed">Завершена</span>
    <span class="legend-value deleted">С ошибкой</span>
</div>
<pagination *ngIf="pagination.totalPages > 1" (change)="changePagination($event)" [params]="pagination"></pagination>

<modal #myModal>
    <modal-header>
        <h3>{{modalHeader}}</h3>
    </modal-header>
    <modal-content>
        <hr>
        {{modalText}} <span [class.red]="modalDelete" [class.blue]="modalRecover">{{modalTaskName}}?</span>
        <div class="buttons" style="margin-top: 30px !important; padding-left: 12px !important;">
            <a [class.red]="modalDelete" [class.blue]="modalRecover" (click)="changeTaskAction();"
               class="main-button">{{modalSubmitButtonText}}</a>
            <a [class.red]="modalDelete" [class.blue]="modalRecover" (click)="myModal.close();" class="main-button">Отмена</a>
        </div>
    </modal-content>
    <modal-footer>
        <div *ngIf="modalError" class="modal-error" style="
        height: 120px;
        background-color: #d94b40;
        width: 369px;
        margin-left: -35px;
        color: white;
        padding: 35px 30px;
        text-align: center;
        ">
            <span>Ошибка: {{modalErrorText}}</span>
        </div>
    </modal-footer>
</modal>

<modal modalClass="taskStartDateModal" #changeStartDate>
    <modal-header (click)="toggleStartDateSelectorShow(false);">
        <h3>Изменение даты запуска</h3>
    </modal-header>
    <modal-content (click)="toggleStartDateSelectorShow(false);">
        <hr>
        Вы пытаетесь изменить дату запуска у задачи: <b *ngIf="selectedTask">"{{selectedTask.name}}"</b>
        <div class="item-info-form">
            <div style="position: relative; width: 90%; margin: 0 auto;">
                <span class="icon-calendar" style="position: absolute; z-index: 100; font-size: 25px;"></span>
                <p-calendar (click)="toggleStartDateSelectorShow(true);" [showOnFocus]="true" [placeholder]="'Запуск задачи начать:'" #startDateSelector [(ngModel)]="selectedStartTime" [showTime]="true" [locale]="datePicker.ru" [minDate]="datePicker.currentDate" dateFormat="d.mm.yy"></p-calendar>
            </div>
        </div>
        <div class="buttons">
            <button [class.red]="modalDelete" [class.blue]="modalRecover" (click)="changeTaskStartDate();"
                    class="left_button">Сохранить</button>
            <button [class.red]="modalDelete" [class.blue]="modalRecover" (click)="changeStartDate.close();" class="right_button">Отмена</button>
        </div>
    </modal-content>
    <modal-footer>
        <div *ngIf="modalError" class="modal-error" style="
        height: 120px;
        background-color: #d94b40;
        width: 433px;
        margin-left: -35px;
        color: white;
        padding: 50px 30px;
        text-align: center;
        margin-top: 25px;
        ">
            <span>Ошибка: {{modalErrorText}}</span>
        </div>
    </modal-footer>
</modal>
