body .ui-datepicker table {
  font-size: 1em;
  background-color: rgba(0,0,0,0.8);
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}