<div class="col-lg-23 col-lg-offset-1 col-md-23 col-md-offset-1 col-sm-23 col-sm-offset-1">
    <div class="content-header">Просмотр тега</div>
    <div class="col-lg-16 col-md-16 col-sm-16 content-description tag-tree" style="padding-left: 0px !important;">
        Просмотр информации о теге и его удаление.
    </div>

    <entity-tree [entityIndex]="'# 1'" [action]="'show'" [type]="'tags'" [showEntity]="employeeTag"></entity-tree>
</div>
