<div class="col-lg-13 col-lg-offset-1 col-md-16 col-md-offset-1 col-sm-23 col-sm-offset-1">
    <div class="content-header" *ngIf="!userEdit">Просмотр пользователя</div>
    <div class="content-header" *ngIf="userEdit">Редактирование пользователя</div>
    <div class="content-description" *ngIf="!userEdit">
        Просмотр учетных данных пользователя.
    </div>
    <div class="content-description" *ngIf="userEdit">
        Редактирование учетных данных пользователя.
    </div>
    <div class="deleted-error" *ngIf="user && !userEdit && user.status=='DELETED'">
        Данный пользователь удален из системы! Сначала восстановите его, чтобы продолжить с ним работать дальше.
    </div>
    <div class="item-info" *ngIf="user && !userEdit">
        <div class="user-login">
            <span>{{user.secondName}} {{user.firstName}} {{user.middleName}} ({{user.username}})&nbsp;</span>
        </div>
        <div class="registration-date">
            <span>Регистрация:&nbsp;</span>
            <span class="value">{{registerDateToString}}</span>
        </div>
        <div class="user-email">
            <span>Email:&nbsp;</span>
            <span class="value">{{user.email}}</span>
        </div>
        <div class="user-role">
            <span>Роль:&nbsp;</span>
            <span class="value">{{roleToString(user.authority.authority)}}</span>
        </div>
        <div class="user-department">
            <span>Ответственность за отделы:&nbsp;</span>
        </div>
        <div class="departments">
            <div *ngFor="let unit of user.units; let i = index;">{{i+1}}. {{unit.name}}</div>
        </div>
    </div>
    <div class="buttons" *ngIf="user && !userEdit" style="margin-bottom: 540px;">
        <button *ngIf="user.status!='DELETED'" (click)="toggleEdit()">Редактировать</button>
        <button class="red" *ngIf="user.status=='ENABLED'" (click)="changeUser(user.id, 'disable'); myModal.open()">
            Заблокировать
        </button>
        <button class="blue" *ngIf="user.status=='LOCKED'" (click)="changeUser(user.id, 'enable'); myModal.open()">
            Разблокировать
        </button>
        <button class="blue" *ngIf="user.status=='DELETED'" (click)="changeUser(user.id, 'recovery'); myModal.open()">
            Восстановить
        </button>
        <button class="red" *ngIf="user.status!='DELETED'" (click)="changeUser(user.id, 'delete'); myModal.open()">
            Удалить
        </button>
    </div>


    <div class="item-info" *ngIf="changedUser && userEdit">
        <div class="registration-date">
            <span>Регистрация:&nbsp;</span>
            <span class="value">{{registerDateToString}}</span>
        </div>
    </div>
    <div class="item-info-form" style="margin-bottom: 0px;"  *ngIf="changedUser && userEdit && authorityItems">
        <div class="form-description">
            При изменении пароля обязательно введите старый, и подтверждение нового:
        </div>
        <div class="form-content">
            <div class="user-fio">
                <div id="second-name">
                    <span class="icon-engineer"></span>
                    <input type="text" placeholder="Фамилия" [(ngModel)]="changedUser.secondName">
                </div>
                <div class="non-icon" id="first-name">
                    <input type="text" placeholder="Имя" [(ngModel)]="changedUser.firstName">
                </div>
                <div class="non-icon" id="middle-name">
                    <input type="text" placeholder="Отчество" [(ngModel)]="changedUser.middleName">
                </div>
            </div>
            <div class="login" [class.error]="fillFormError && !changedUser.username">
                <span class="icon-drawing"></span>
                <input type="text" placeholder="Логин" [(ngModel)]="changedUser.username">
            </div>
            <div class="role" [class.error]="fillFormError && authoritiesSelectorValue[0]['id'] == ''">
                <span style="z-index: 100;" class="icon-light-bulb"></span>
                <ng-select [allowClear]="true"
                           [items]="authorityItems"
                           [disabled]="false"
                           (data)="refreshValue($event)"
                           (selected)="selected($event)"
                           (removed)="removed($event)"
                           (typed)="typed($event)"
                           placeholder="Роль">
                </ng-select>
            </div>
            <div class="organization">
                <span class="icon-light-bulb"></span>
            </div>
        </div>
    </div>
    <units-tree-selector *ngIf="unitsTree && user && changedUser && userEdit" [iconClass]="'house'" (change)="orgSelectorChange($event)" [placeHolderText]="'Организация'" [startValue]="changedUser.units"
                  [inputUnitsArray]="unitsTree"></units-tree-selector>
    <div class="item-info-form" style="margin-top: 20px;" *ngIf="changedUser && userEdit && authorityItems">
        <div class="form-content">
            <div id="user-email" [class.error]="fillFormError && !changedUser.email">
                <span class="icon-mail2"></span>
                <input type="text" placeholder="Адрес электронной почты" [(ngModel)]="changedUser.email">
            </div>
            <div id="user-new-password">
                <span class="icon-key_new"></span>
                <input type="password" placeholder="Новый пароль" [(ngModel)]="changedUser.password">
            </div>
        </div>
        <button class="left_button" (click)="saveUser()">Сохранить</button>
        <div class="inform_label" style="margin-top: 85px !important;" [class.red]="fillFormError" *ngIf="fillFormError">{{formErrorText}}</div>
    </div>
</div>
<div class="col-lg-10 col-md-7 hidden-sm">
    <div class="women-image"></div>
</div>
<modal #myModal>
    <modal-header>
        <h3>{{modalHeader}}</h3>
    </modal-header>
    <modal-content>
        <hr>
        {{modalText}} <span [class.red]="modalBlock" [class.blue]="modalRecover">{{modalUserName}}?</span>
        <div class="buttons">
            <a [class.red]="modalDelete" [class.blue]="modalRecover" (click)="myModal.close(); changeUserAction();"
               class="main-button">{{modalSubmitButtonText}}</a>
            <a [class.red]="modalDelete" [class.blue]="modalRecover" (click)="myModal.close();" class="main-button">Отмена</a>
        </div>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>