<div class="col-lg-13 col-lg-offset-1 col-md-16 col-md-offset-1 col-sm-23 col-sm-offset-1" style="margin-bottom: 550px">
    <div class="content-header">Подключение к LDAP</div>
    <div class="content-description">
        Страница отображает настройки и статус подключения к LDAP.
    </div>
    <div class="item-info">
        <div class="connect-status">
            <span>Статус подключения:&nbsp;</span>
            <span class="value"
                  style="color: #db4b40;"
                  *ngIf="!loading && !connectionStatus">не установлено</span>
            <span class="value"
                  style="color: #40dba2;"
                  *ngIf="!loading && connectionStatus">установлено</span>
            <span class="value"
                  *ngIf="loading"
                  style="color: rgba(255, 220, 0, 1);">проверка соединения</span>
            <span class="value"
                  *ngIf="loading"
                  style="padding-top: 5px;">
                <div class="ball-clip-rotate"
                     style="position: relative; margin-left: 10px;">
                    <div></div>
                </div>
            </span>
        </div>
    </div>
    <div class="content-description">
        Корректно заполните все нижние поля для успешной работы системы:
    </div>
    <div class="item-info-form"
         style="margin-bottom: 0px"
         *ngIf="ldapConnectionSettings">
        <div class="form-content">
            <div class="server-address"
                 [class.error]="addressError || (formError && (ldapConnectionSettings.url === '' || ldapConnectionSettings.port === ''))">
                <div id="second-name">
                    <span class="icon-direction-signs"></span>
                    <input type="text"
                           placeholder="Адрес сервера"
                           [(ngModel)]="ldapConnectionSettings.url"
                           (keyup)="checkAddress()">
                </div>
                <div class="non-icon">
                    <input type="text"
                           placeholder="Порт"
                           [(ngModel)]="ldapConnectionSettings.port"
                           (keyup)="checkAddress()">
                </div>
            </div>
            <div>
                <input type="text"
                       placeholder="Доменное имя"
                       [(ngModel)]="ldapConnectionSettings.dn">
            </div>
        </div>
    </div>
    <div class="item-info-form"
         style="margin-bottom: 0px"
         *ngIf="ldapConnectionSettings">
        <div class="form-content">
            <div class="login">
                <span class="icon-sign-in"></span>
                <input type="text"
                       placeholder="Логин"
                       [(ngModel)]="ldapConnectionSettings.username">
            </div>
            <div class="login">
                <span class="icon-key"></span>
                <input type="password"
                       placeholder="Пароль"
                       [(ngModel)]="ldapConnectionSettings.password">
            </div>
            <div class="checkbox"
                 style="padding-top: 0px;">
                <p-checkbox name="groupname"
                            value="useSSL"
                            [(ngModel)]="checkBoxState"
                            label="Использовать SSL подключение"></p-checkbox>
            </div>
            <div class="buttons"
                 style="margin-top: 45px;">
                <button class="left_button"
                        (click)="saveLdapConnectionSettings()"
                        style="width: 155px;">Сохранить</button>
                <button class="right_button"
                        style="width: 155px; color: #40dba2; background: #fff; border: 1px solid #40dba2;"
                        (click)="checkConnection()">Проверить</button>
            </div>
            <div class="inform_label"
                 style="margin-top: 120px !important;"
                 [class.red]="formError"
                 *ngIf="formError || formErrorText != ''">{{formErrorText}}</div>
            <div class="inform_label"
                 style="margin-top: 120px !important;"
                 [class.blue]="true"
                 *ngIf="formInfoText != ''">{{formInfoText}}</div>
        </div>
    </div>
</div>
<div class="col-lg-10 col-md-7 hidden-sm">
    <div class="mail-server"></div>
</div>