<!-- Форма загрузки файла-->

<div class="col-lg-13 col-lg-offset-1 col-md-16 col-md-offset-1 col-sm-23 col-sm-offset-1" *ngIf="!load" style="margin-bottom: 550px;">
    <div class="content-header">Загрузка базы подразделений</div>

    <div class="content-description">
        С помощью данной страницы администратор может загрузить базу организаций с иерархической структурой, указать менеджеров и инспекторов ИБ.
    </div>
    <div class="deleted-error">
        Рекомендации: файл должен быть оформлен по шаблону, который Вы можете скачать ниже. Порядок и название столбцов должны совпадать.
        <button style="
        display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #408ddb;
    padding: 5px 25px;
    height: 35px;
    border-color: #408ddb !important;" (click)="getTemplateFile()">Скачать шаблон файла</button>
    </div>
    <div class="content-description">
        Укажите вышестоящее подразделение, если загружаете базу организаций именно в это подразделение. При первой загрузке оставьте это поле пустым.
    </div>
    <units-tree-selector #orgSelector *ngIf="DBUnitsTree" [singleSelect]="true" [iconClass]="'house'" (change)="DBUnitsSelectorChange($event)" [placeHolderText]="'Вышестоящее подразделение (организация)'" [inputUnitsArray]="DBUnitsTree"></units-tree-selector>
    <div style="height: 20px;"></div>
    <file-uploader [placeholder]="fileLoaderPlaceHolder" (uploaded)="onUpload($event)" [activeColor]="'#408ddb'" [baseColor]="'#9e9e9e'"></file-uploader>
    <button style="
        display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #fff;
    background-color: #40dba2;
    padding: 5px 40px;
    height: 40px;
    border-color: #40dba2 !important;" (click)="uploadFile()">Загрузить</button>
    <div class="inform_label" style="margin-top: 85px !important;" [class.red]="fillFormError" *ngIf="fillFormError">{{formErrorText}}</div>
</div>
<div class="col-lg-10 col-md-7 hidden-sm" *ngIf="!load">
    <div class="units-load"></div>
</div>



<!-- Отображение результатов -->

<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 loaded-units" *ngIf="load" style="margin-bottom: 550px;">
    <div class="content-header">Загружаемые подразделения</div>

    <div class="loaded-units-info">
        <span>Вышестоящее подразделение: <b>{{parentName}}</b></span>
        <span class="error" *ngIf="loadErrors">Ошибка замечена у подразделений: <b>{{errorsCount}}</b></span>
    </div>

    <!-- Фильтр -->
    <units-load-filter #unitsTableFilter [managers]="managers" [officers]="officers" [unitsTree]="unitsTree" (apply)="searchUnits($event)"></units-load-filter>

    <!--Таблица с ошибками -->
    <units-error-table *ngIf="loadErrors && filteredInvalidItems" [managers]="managers" [officers]="officers" [invalidUnits]="sortUnits(filteredInvalidItems)" [unitsTree]="unitsTree" (editUnit)="editUnit($event)" (delUnit)="deleteUnit($event)"></units-error-table>


    <!-- Таблица организаций, готовых к загрузке в базу -->
    <units-valid-table [pagination]="pagination" [managers]="managers" [officers]="officers" [unitsTree]="sortUnits(filteredValidItems)" *ngIf="!loadErrors && showValidTable && filteredValidItems" (addUnit)="addUnit($event)" (editUnit)="editUnit($event)" (delUnit)="deleteUnit($event)"></units-valid-table>

    <!--Пэйджинация -->
    <units-pagination #tablePagination (change)="changePagination()" [params]="pagination"></units-pagination>

    <!-- Кнопка обновления дерева организаций-->
    <button class="update-tree" [class.load-deny]="!updateAllow" (click)="updateUnits()" *ngIf="loadErrors">Обновить базу</button>
    <button style="background-color: #40dba2; color: #fff;" class="update-tree" (click)="uploadUnitsDB()" *ngIf="!loadErrors">Загрузить базу</button>
    <div *ngIf="uploadDBError" class="inform_label red" style="margin-top: 30px;">При загрузке базы произошла ошибка!</div>
</div>

<modal #countErrorsModal modalClass="units-load-error-modal">
    <modal-header>
        <h3>При загрузке произошли ошибки</h3>
    </modal-header>
    <modal-content>
        <hr>
        Необходимо исправить {{errorsCount}} подразделение(ий). После исправления всех ошибок станут доступны остальные подразделения для редактирования.
        <div class="buttons">
            <a (click)="countErrorsModal.close()" class="main-button">Закрыть</a>
        </div>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>

<modal #unitModal modalClass="add-unit-modal" [closeOnEscape]="false" [closeOnOutsideClick]="false">
    <modal-header>
        <h3>Редактирование подразделения</h3>
    </modal-header>
    <modal-content>
        <hr>
        <div class="modal-input">
            <span class="modal-label">Наименование подразделения</span>
            <div class="icon">
                <span class="icon-house"></span>
            </div>
            <div class="input">
                <input type="text" class="main-input" [(ngModel)]="modalUnitName">
            </div>
        </div>
        <div class="modal-input" *ngIf="unitsTree && showModalUnitParent">
            <span class="modal-label">Вышестоящее подразделение</span>
            <div class="icon">
                <span class="icon-house"></span>
            </div>
            <div class="input">
                <units-tree-selector #unitParentSelector [exclude]="[modalUnitId]" [startValue]="modalUnitParent" [singleSelect]="true" [iconClass]="''" (change)="parentSelectorChange($event)" [placeHolderText]="''" [inputUnitsArray]="unitsTree" [type]="'unit'"></units-tree-selector>
            </div>
        </div>
        <div class="modal-input" *ngIf="officers">
            <span class="modal-label">Список инспекторов ИБ</span>
            <div class="icon">
                <span class="icon-engineer"></span>
            </div>
            <div class="input">
                <tree-selector #unitOfficersSelector [iconClass]="''" [startValue]="modalUnitOfficers" (change)="officersSelectorChange($event)" [placeHolderText]="''" [inputUnitsArray]="officers" [type]="'unit'"></tree-selector>
            </div>
        </div>
        <div class="head-officers">
            <div class="list-label" (click)="toggleModalOfficersShow()">Вышестоящие инспекторы <span class="arrow" [ngClass]="{'open': modalOfficersShow}"></span></div>
            <div class="officers-list" *ngIf="modalOfficersShow">
                <div class="officer" *ngFor="let item of rootOfficers.concat(getParentUsers(modalUnitId, [], '', unitsTree, 'officers')); let i = index;">
                    <div class="index">{{i+1}}.</div>
                    <div class="officer-info">
                        <div class="officer-fio">{{item['name']}}</div>
                        <div class="officer-path">{{item['path']}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-input" *ngIf="managers">
            <span class="modal-label">Список менеджеров ИБ</span>
            <div class="icon">
                <span class="icon-support"></span>
            </div>
            <div class="input">
                <tree-selector #unitManagersSelector [startValue]="modalUnitManagers" [iconClass]="''" (change)="managersSelectorChange($event)" [placeHolderText]="''" [inputUnitsArray]="managers" [type]="'unit'"></tree-selector>
            </div>
        </div>
        <div class="head-officers">
            <div class="list-label" (click)="toggleModalManagersShow()">Вышестоящие менеджеры <span class="arrow" [ngClass]="{'open': modalManagersShow}"></span></div>
            <div class="officers-list" *ngIf="modalManagersShow">
                <div class="officer" *ngFor="let item of rootManagers.concat(getParentUsers(modalUnitId, [], '', unitsTree, 'managers')); let i = index;">
                    <div class="index">{{i+1}}.</div>
                    <div class="officer-info">
                        <div class="officer-fio">{{item['name']}}</div>
                        <div class="officer-path">{{item['path']}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="buttons">
            <button (click)="saveUnit()" class="main-button save">Сохранить</button>
            <button (click)="unitModal.close()" class="main-button">Отмена</button>
        </div>
    </modal-content>
    <modal-footer>
        <div class="error" style="text-align: center; margin-bottom: 25px; color: #d94b40;" *ngIf="unitModalError != ''">
            <span>
                Ошибка: {{unitModalError}}.
            </span>
        </div>
    </modal-footer>
</modal>

<modal #unitDeleteModal>
    <modal-header>
        <h3>Удаление подразделения</h3>
    </modal-header>
    <modal-content>
        <hr>
        <span [class.red]="modalBlock" [class.blue]="modalRecover">Вы действительно хотите удалить данное подразделение?</span>
        <div class="buttons">
            <a (click)="unitDeleteModal.close(); delUnit();" class="main-button red">Удалить</a>
            <a (click)="unitDeleteModal.close();" class="main-button red">Отмена</a>
        </div>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>
