<div class="col-lg-23 col-lg-offset-1 col-md-23 col-md-offset-1 col-sm-23 col-sm-offset-1" style="margin-bottom:  20px;">
    <div class="content-header">Управление тегами</div>
    <div class="col-lg-16 col-md-16 col-sm-16 content-description tag-tree"  style="padding-left: 0px !important;">
        Создание и редактирование тегов (классификаторов) сотрудников.
    </div>

    <entity-tree
            [isInit]="isInit"
            [pathToEntity]="pathToEntity"
            [editEntityId]="editEntityId"
            [entityIndex]="'#'+' '+(i+1)"
            [children]="false"
            [action]="'edit'"
            [type]="'tags'"
            [entity]="entity"
            (endInit)="endInitComponent()"
            [entityArray]="tagsTree" *ngFor="let entity of tagsTree; let i = index"></entity-tree>
</div>
<div class="col-lg-23 col-lg-offset-1 col-md-23 col-md-offset-1 col-sm-23 col-sm-offset-1" style="margin-bottom:  140px;">
    <button style="
    display: block;
    margin-bottom: 10px;
    color: #fff;
    background-color: #40dba2;
    padding: 0px 25px;
    height: 42px;
}" (click)="addEntity()">Добавить</button>
</div>
