<div class="right-header">
    <div class="links col-lg-8">
    </div>
    <div class="profile col-lg-6">
        <div>
            <span>{{user.fullName}} ({{user.username}})</span>
            <div>
                <a routerLink="/account">Учетные данные</a>
                <a (click)="logOut()">Выход из системы</a>
            </div>
        </div>
    </div>
</div>
