<div class="container-fluid main">
    <div class="row header">
        <div class="col-lg-24 col-md-24 col-sm-24 logo-container">
            <div class="logo">
                <!--<span>RISK GUARD</span>-->
            </div>
        </div>
    </div>
    <div class="form">
        <div class="form_header">
            <span>Авторизация</span>
        </div>
        <div class="form_description">
            <span>Чтобы войти в личный кабинет, введите логин и пароль. Если забыли пароль, восстановите его.</span>
        </div>
        <div class="form_content">
            <div class="error_message" *ngIf="error">{{errorText}}</div>
            <div id="login" [class.error]="emptyLogin || error">
                <span class="icon-engineer"></span>
                <input (keyup.enter)="login()" type="text" placeholder="Логин" [(ngModel)]="username">
            </div>
            <div id="password" [class.error]="emptyPassword || error">
                <span class="icon-key"></span>
                <input (keyup.enter)="login()" type="password" placeholder="Пароль" [(ngModel)]="password">
            </div>
            <!--<div class="save_data">-->
                <!--<input type="checkbox" style="float: left;">-->
                <!--<p>запомнить данные</p>-->
            <!--</div>-->
            <div class="buttons">
                <button class="left_button" (click)="login()">Войти</button>
                <button class="right_button" (click)="forgotPassword()">Забыли пароль?</button>
            </div>
        </div>
    </div>
    <div class="bottom">
        <p><span>&copy; ООО «Уайт Софт»</span></p>
        <div class="people"></div>
    </div>
</div>