<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 custom-pagination">
    <div class="col-lg-8 col-md-8 col-sm-8">
        <span *ngIf="pagination.number < pagination.totalPages">Показано с {{(pagination.size*(pagination.number-1))+1}} по {{pagination.size*pagination.number}} из <b>{{pagination.totalElements}}</b></span>
        <span *ngIf="(pagination.number == pagination.totalPages) || (pagination.number > pagination.totalPages)">Показано с {{(pagination.size*(pagination.number-1))+1}} по {{pagination.totalElements}} из <b>{{pagination.totalElements}}</b></span>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="pagination-input">
            <span>Страница:</span>
            <button (click)="reducePage()" class="page">&lt;</button>
            <input (keyup)="onKeyUp($event)" type="text" [(ngModel)]="newPage">
            <button (click)="increasePage()" class="page">&gt;</button>
            <span style="float: right;margin-left: 10px;">{{pagination.totalPages}}</span>
            <span style="float: right;">из</span>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
        <div style="float: right;">
            <button (click)="changeSize(10)" class="count" [class.active]="pagination.size==10">10</button>
            <button (click)="changeSize(50)" class="count" [class.active]="pagination.size==50">50</button>
            <button (click)="changeSize(100)" class="count" [class.active]="pagination.size==100">100</button>
        </div>
        <div style="float: right; margin-right: 10px;">
            <span>Выводить по:</span>
        </div>
    </div>
</div>